<style>
.imagesContainer{
    display: flex;
    flex-flow: row wrap;
}
.imageWrapper{
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
}
.imageWrapper img {
    width: 200px;
    height: auto;
}
.imageWrapper .name {
    width: 100%;
    text-align: center;
}
</style>

<div class="btn-success modal-header">
    <h3 class="modal-title">{{ 'uploaded_files' | translate }} ({{calcFiles.length}})</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12 ">
            <div class="imagesContainer">
                <div class="imageWrapper" ng-repeat="file in calcFiles">
                    <div class="image"><a target="_blank" href="{{file.url}}" title="{{ 'view' | translate}}">
                        <img src="{{file.url}}" alt="" class="img-responsive" />
                    </a></div>
                    <!-- <div class="name">{{file.name}}</div> -->
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
</div>

<div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
</div>