<div class="btn-success modal-header">
	<h3 class="modal-title">{{ 'edit' | translate }}</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="save()">
	<div class="modal-body">
		
		<div class="form-body">
			
			<div class="form-group">
				<label class="col-md-3 control-label">{{ 'suggested_realization_term' | translate }}</label>
				<div class="col-md-9">
					<input type="text" ng-disabled="true" class="form-control" ng-model="auction.realizationDate">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">{{ 'realization_date' | translate }}</label>
				<div class="col-md-9">
					<div ng-model="form.realizationDate" dp-datepicker></div>
				</div>
			</div>
			<div ng-repeat="item in auction.items">
				<div class="form-group">
					<label class="col-md-5 control-label">
						<span><i class="fa fa-cube"></i> {{ item.productName }}</span>
					</label>
					<div class="col-md-7 from-control">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">
						{{ 'product_name'| translate}}
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.name }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">
						{{ 'signature'| translate}}
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.signature }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">
						{{ 'pages'| translate}}
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.pages }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">
						{{ 'format'| translate}}
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.formatName }} {{ item.formatWidth ? item.formatWidth + ' x ' + item.formatHeight + ' mm' : ''}}</label>
					</div>
				</div>
				<div class="form-group" ng-repeat="opt in item.options">
					<label class="col-md-5 control-label">
						{{ opt.attrName }}
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ opt.optName }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">
						{{ 'volume'| translate}}
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.volume }}</label>
					</div>
				</div>
				<div class="form-group" ng-if="item.singleDelivery">
					<label class="col-md-5 control-label">
						Wysyłka w jedno miejsce:
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.singleDelivery }}</label>
					</div>
				</div>
				<div class="form-group" ng-if="item.multiDelivery">
					<label class="col-md-5 control-label">
						Wysyłka wg rozdzielnika:
					</label>
					<div class="col-md-7">
						<label class="control-label bold">{{ item.multiDelivery }}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-5 control-label">{{ 'price' | translate }}</label>
					<div class="col-md-7">
						<input ng-model="form.items[item.ID].price" type="text" class="form-control" placeholder="Wprowadź ceną za produkt" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3 control-label">
					{{ 'description' | translate }}
				</div>
				<div class="col-md-9">
					<textarea ng-model="form.description" type="text" class="form-control" placeholder="{{ 'description' | translate }}">
					</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn red-sunglo" type="button">{{ 'cancel' | translate }}</button>
		<button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
	</div>
</form>