<div style="width: 100%;">
<p style="width: 100%; text-align: center;">{{ 'productCard' | translate }}</p>

<style>
  .bold {
    font-weight: bold;
  }
</style>

<table style="width: 100%;">
  <thead>
    <tr>
      <th>
        {{ 'thumbnail_of_product' | translate }}
      </th>
      <th>
        {{ 'product' | translate }}
      </th>
      <th>
        {{ 'product_id' | translate }}
      </th>
      <th>
        {{ 'cart_id' | translate }}
      </th>
      <th>
        {{ 'date_of_order' | translate }}
      </th>
      <th>
        {{ 'user_data' | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{ 'image' | translate }}
      </td>
      <td>
        <span ng-repeat="item in data.items" ng-class="{'bold': data.order.ID == item.ID}">{{ item.name }}</span>
      </td>
      <td>
        <span ng-repeat="item in data.items" ng-class="{'bold': data.order.ID == item.ID}">{{ item.orderNumber }}</span>
      </td>
      <td>
        <span>{{ data.cart.ID }}</span>
        <span class="badge">{{ data.items.length }}</span>
      </td>
      <td>
        {{ data.cart.date }}
      </td>
      <td>
        {{ data.user.name }}
        {{ data.user.lastname }} <br />
        {{ data.user.zipcode }}
        {{ data.user.city }} <br />
        {{ data.user.street }}
        {{ data.user.house }} / {{ data.user.apartment }}<br />
        {{ data.user.telephone }}<br />
        {{ data.user.user }} <span class="badge">{{ data.user.ID }}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>
