<div class="modal-header">
  <h3 class="modal-title">{{ 'tooltip' | translate }}</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="save()">
  <div class="modal-body">
    
    <div class="form-group">
      <label class="col-sm-3 control-label" >{{ 'language' | translate }}</label>
      <div class="col-sm-9">
        <select
          required class="form-control"
          ng-model="selectedLang"
          ng-options="each.code as each.name for each in languages">
          
        </select>
      </div>
    </div>
    <div ng-repeat="lang in languages" ng-show="selectedLang == lang.code" text-angular ng-model="editTooltip[lang.code]"></div>
  </div>
  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
  </div>
</form>
