<div class="modal-header">
    <h3 class="modal-title"><small>{{ 'related_formats' | translate }}</small> {{ product.typeName }}</h3>
</div>


  <div class="modal-body">

    <form class="form-horizontal" role="form">
      <div class="form-body">
        <div class="form-group">
          <label class="col-md-3 control-label">{{ 'format' | translate }}</label>
          <div class="col-md-9">
            <select class="form-control" ng-change="getFormats()" ng-model="currentFormatID" ng-options="each.ID as each.name for each in formats">
              <option value="">{{ 'select' | translate }}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div ng-if="currentFormatID" class="modal-body">
    <div ng-repeat="group in complexGroups" ng-if="group != complexGroups[0]">
      <h3>
        <small>{{ 'group' | translate }}: </small>{{ group.name || 'undefined' | translate }}
      </h3>
      <div ng-repeat="product in group.products">
        <h3 class="modal-title alert alert-info">{{ product.typeName }} <small>{{ 'select_formats' | translate }}</small></h3>
        <div class="list-group clickable">
          <a class="list-group-item" style="cursor: pointer;"
           data-ng-repeat="format in product.formats"
           data-ng-click="selectFormat(format)"
           data-ng-class="{active: format.selected}">
            <h3 class="list-group-item-heading">
              {{ format.name }} <small>{{ format.adminName }} </small>
            </h3>
          </a>
        </div>

      </div>
    </div>

    <button class="btn btn-success" ng-if="changeFormat" ng-click="save()"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>

  </div>

  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
  </div>

