<div class="modal-header">
    <h3 class="modal-title">{{'product_card_guide' | translate}} : {{oryg.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

  <div class="modal-body">
  
    <div class="form-body">

      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'content' | translate }}</label>
        <div class="col-md-9">
          <div class="cardGuideInput" text-angular ng-model="form.cardGuide" type="text" class="form-control" placeholder=""></div>  
        </div>
      </div>
    </div>

    
  </div>
  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
  </div>

</form>