<div class="modal-header">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{device.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="ok()">

    <div class="modal-body">
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.name" type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'department' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control"
                             ng-model="form.departmentID"
                            ng-options="item.ID as item.name for item in departments">
                        <option value="">{{ 'select' | translate }}</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>