<div class="modal-header">
    <h3 class="modal-title">{{ 'import_new_pricelist' | translate }} - {{  }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="ok()">

    <div class="modal-body">
        <div class="form-body">

            <div class="alert alert-danger" role="alert"><strong>{{ 'warning' | translate }}!</strong> {{ 'import_will_remove_previous_prices' | translate }} - {{  }}</div>

            <div class="form-group">
                <label class="col-md-3 control-label">Załaduj plik .csv</label>
                <div class="col-md-9">
                    <input nv-file-select uploader="uploader" type="file" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'type_of_pricelist' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control" required="required" ng-init="import.firstPriceType" ng-model="import.priceType" ng-options="each.ID as each.name for each in priceTypes"></select>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'upload' | translate }}</button>
    </div>

</form>