<div class="modal-header">
    <h3 class="modal-title">{{ 'set_attribute_for_selected_formats' | translate }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

  <div class="modal-body">
   
    <h3 class="modal-title alert alert-info ng-binding">{{ 'format' | translate }}: {{ oryg.name }}</h3>
    <div class="list-group clickable">
      <a class="list-group-item" style="cursor: pointer;"
       data-ng-repeat="format in formats"
       data-ng-click="format.selected = (format.selected != 1 ? 1 : 0)"
       data-ng-class="{active: format.selected}">
        <h3 class="list-group-item-heading">
          {{format.name}}           
        </h3>
      </a>
    </div>

    
  </div>
  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
  </div>

</form>