<div class="modal-header">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{oryg.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">

        <div class="form-body">


            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="nameLang" ng-init="nameLang = currentLang.code"
                            ng-options="lang.code as lang.name for lang in languages">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.name" type="text" class="form-control" placeholder="{{ 'name' | translate }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">
                    {{ 'lang_name' | translate }}
                </label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.names[lang.code]" type="text" class="form-control"
                           placeholder="{{lang.code}}">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">
                    {{ 'name_in_url_address' | translate }}
                </label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.slugs[lang.code]" type="text" class="form-control"
                           placeholder="{{lang.code}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'select_available_taxes' | translate }}</label>
                <div class="col-md-9">
                    <div class="list-group clickable">
                        <a ng-repeat="tax in form.taxes" class="list-group-item list-group-item-info"
                           style="cursor: pointer;" data-ng-click="tax.selected = (tax.selected != 1 ? 1 : 0)"
                           data-ng-class="{active: tax.selected}">
                <span class="list-group-item-heading">
                  {{tax.name}} {{tax.value}}%
                </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.allowCalcFilesUpload}"><input
                                    ng-model="form.allowCalcFilesUpload" type="checkbox"></span></div>
                            {{ 'allow_calc_files_upload' | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.skipUpload}"><input
                                    ng-model="form.skipUpload" type="checkbox"></span></div>
                            {{ 'skip_upload_files' | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.complex}">
                                <input ng-disabled="true" ng-model="form.complex" type="checkbox"></span>
                            </div>
                            {{ 'complex_product' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.isEditor}"><input
                                    ng-model="form.isEditor" type="checkbox"></span></div>
                            {{ 'product_uses_editor' | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker">
                                <span ng-class="{checked: form.isCustomProduct}">
                                    <input ng-model="form.isCustomProduct" type="checkbox">
                                </span>
                            </div>
                            {{ 'custom_product' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span
                                    ng-class="{checked: form.changeTechnology}"><input
                                    ng-model="form.changeTechnology" type="checkbox"></span>
                            </div>
                            {{ 'possible_change_of_technology' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span
                                    ng-class="{checked: form.turnOnNumberOfSets}"><input
                                    ng-model="form.turnOnNumberOfSets" type="checkbox"></span>
                            </div>
                            {{ 'number_of_sets' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span
                                    ng-class="{checked: form.allowVolumeDivide}"><input
                                    ng-model="form.allowVolumeDivide" type="checkbox"></span>
                            </div>
                            {{ 'allow_volume_divide' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.active}">
                                <input ng-model="form.active" type="checkbox"></span>
                            </div>
                            {{ 'active' | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{'icon' | translate}}</label>
                <div class="col-md-9">
                    <button type="button" ng-click="uploadIcon( form )" class="btn btn-primary">
                        {{ 'upload' | translate }}
                    </button>
                    <div ng-show="form.icon">
                        <img src="{{form.icon.url}}"
                             style="max-width:200px;border:1px solid #3e3e3e;"
                             class="img-rounded img-responsive"/>
                        <button type="button" ng-confirm-click="deleteIcon( form )" class="btn red-sunglo btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'description' | translate }}</label>
                <div class="col-md-9" ng-repeat="lang in languages"
                         ng-show="nameLang == lang.code">
                    <div style="height:auto" class="form-control" ds-tinymce  ng-model="form.icons[lang.code]"></div>
                </div>
            </div>


            <!-- metatagi -->


            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'title' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.metaTags[lang.code].title" type="text" class="form-control"
                           placeholder="{{ lang.code }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'keywords' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.metaTags[lang.code].keywords" type="text" class="form-control"
                           placeholder="{{ lang.code }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'description' | translate }}</label>
                <div class="col-md-9">
                    <textarea ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.metaTags[lang.code].description" class="form-control"
                              placeholder="{{ lang.code }}">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_url' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.metaTags[lang.code].og_url" type="text" class="form-control"
                           placeholder="{{ lang.code }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_site_name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.metaTags[lang.code].og_site_name" type="text" class="form-control"
                           placeholder="{{ lang.code }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_locale' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show=" nameLang == lang.code" ng-model="form.metaTags[lang.code].og_locale" type="text" class="form-control"
                           placeholder="pl_PL">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'Image' | translate }}</label>
                <div class="col-md-9">
                    <button type="button" ng-click="uploadImage(images, form, nameLang)"
                            class="btn btn-primary">
                        {{ 'upload' | translate }}
                    </button>
                    <div  ng-show="form.metaTags[nameLang].imageID"  >
                        <img ng-src="{{ images[form.metaTags[nameLang].imageID].url }}"
                             style="max-width:200px;border:1px solid #3e3e3e;"
                             class="img-rounded img-responsive"/>
                        <button type="button" ng-click="deleteImage(images, form, nameLang, form.metaTags[nameLang].imageID)"
                                class="btn red-sunglo btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_width' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.metaTags[lang.code].og_image_width" type="text" disabled class="form-control"
                           placeholder="{{ 1200 }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_height' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.metaTags[lang.code].og_image_height" type="text" disabled class="form-control"
                           placeholder="{{ 600 }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_alt' | translate }}</label>
                <div class="col-md-9">
                    <input  ng-repeat="lang in languages"ng-show="nameLang == lang.code"
                            ng-model="form.metaTags[lang.code].og_image_alt" type="text" class="form-control"
                            placeholder="{{ lang.code }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_card' | translate }}</label>
                <div class="col-md-9">
                    <select ng-repeat="lang in languages" ng-show="nameLang == lang.code" class="form-control"
                            ng-model="form.metaTags[lang.code].twitter_card"
                            ng-options="option.code as option.name for option in card_opt">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_site' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.metaTags[lang.code].twitter_site" type="text" class="form-control"
                           placeholder="{{ lang.code }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_creator' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.metaTags[lang.code].twitter_creator" type="text" class="form-control"
                           placeholder="{{ lang.code }}">
                </div>
            </div>
            <!-- Koniec metatagi -->

        </div>

    </div>

    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>
