<div class="modal-header">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{oryg.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">

        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.name" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'lang_name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.names[lang.code]" type="text" class="form-control"
                           placeholder="{{lang.code}}">
                    <select class="form-control" ng-init="nameLang = currentLang.code" ng-model="nameLang"
                            ng-options="each.code as each.name for (key, each) in languages"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'realization_time' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.days" type="text" class="form-control"
                           placeholder="{{ 'days_number' | translate }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'price' | translate }} +</label>
                <div class="col-md-9">
                    <div class="input-inline">
                        <div class="input-group">
              <span class="input-group-addon">
                %
              </span>
                            <input ng-model="form.pricePercentage" type="text" class="form-control"
                                   placeholder="{{ 'price' | translate }}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">
                    {{ 'color' | translate}}
                </label>
                <div class="col-md-9">
                    <input colorpicker="hex" ng-model="form.color" type="text" class="form-control"
                           placeholder="{{ 'color' | translate }}" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.active}"><input ng-model="form.active"
                                                                                                type="checkbox"></span>
                            </div>
                            {{ 'active' | translate }}</label>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>