<div class="modal-header">
    <h3 class="modal-title"> {{ 'description' | translate }} : {{oryg.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr role="row" class="heading">
                    <th>#</th>
                    <th>
                        {{ 'name' | translate }}
                        <select ng-model="form.showLang"
                                ng-options="lang.code as lang.name for (key, lang) in languages"
                                ng-init="form.showLang = currentLang.code"></select>

                    </th>
                    <th>{{'type' | translate}}</th>
                    <th class="text-right">{{ 'actions' | translate }}</th>
                </tr>
                </thead>
                <tbody ui-sortable="descriptionSortableOptions" ng-model="typeDescriptions">
                <tr ng-repeat="description in typeDescriptions">

                    <td class="noWrap verticalMiddle">
                        <button
                                class="btn btn-default btn-xs button-sort">
                            <span class="fa fa-sort"></span>
                        </button>
                        {{ description.descID }}
                    </td>
                    <td>
                        {{ description.langs[form.showLang].name }}
                    </td>
                    <td>
                        <button ng-class="{'btn blue-hoki btn-xs': description.descType == 1 , 'btn green-seagreen btn-xs': description.descType == 3, 'btn green-meadow btn-xs': description.descType == 5,'btn green-turquoise btn-xs': description.descType == 6,'btn green-jungle btn-xs': description.descType == 7 }">
                            {{ description.descTypeName }}
                        </button>

                    </td>
                    <td class="text-right">
                        <button ng-show="description.descType != 7" class="btn blue-hoki btn-xs" href="javascript:;"
                                ng-class="{'yellow-crusta': description.countFormats > 0}"
                                ng-click="typeDescriptionFormats(description)" tooltip="{{ '' | translate }}">
                            {{ 'formats' | translate }}
                        </button>
                        <button class="btn blue-hoki btn-xs" href="javascript:;"
                                ng-click="checkDescriptionType(description)" tooltip="{{ 'edit' | translate }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button class="btn red-sunglo btn-xs" href="javascript:;" ng-confirm-click="delete(description)"
                                tooltip="{{ 'delete' | translate }}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            {{description }}
            <button class="btn btn-success" ng-if="sortChange" ng-click="sortTypeDescSave()">
                {{ 'save_the_change_order' | translate }}
            </button>
            <button class="btn red-sunglo" ng-if="sortChange" ng-click="sortTypeDescCancel()">
                {{ 'cancel' | translate }}
            </button>

            <form class="form-horizontal" role="form" ng-submit="save()">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-init="selectedLang = currentLang.code"
                                    ng-model="selectedLang"
                                    ng-options="each.code as each.name for (key, each) in languages"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-repeat="lang in languages" ng-show="selectedLang == lang.code"
                                   ng-model="form.typeDescriptions.langs[selectedLang].name" type="text"
                                   class="form-control" placeholder="{{lang.code}}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">{{ 'type_of_description' | translate }}</label>
                    <div class="col-md-9">
                        <select class="form-control"
                                ng-init="form.typeDescriptions.descType = typeDescriptionsTypes[0].ID"
                                ng-model="form.typeDescriptions.descType"
                                ng-options="each.ID as each.name for (key, each) in typeDescriptionsTypes"></select>
                    </div>
                </div>
                <div class="form-group" ng-show="form.typeDescriptions.descType == 1">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <div class="checkbox-list">
                            <label>
                                <div class="checker"><span ng-show="form.typeDescriptions.descType == 1"
                                                           ng-class="{checked: form.typeDescriptions.visible}"><input
                                        ng-model="form.typeDescriptions.visible" type="checkbox"></span></div>
                                {{ 'always_visible' | translate }}</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}
                    </button>
                    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>