<div class="modal-header">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{oryg.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">

        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.name" type="text" class="form-control" placeholder="{{ 'name' | translate }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">
                    {{ 'lang_name' | translate }}
                </label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.names[lang.code]" type="text" class="form-control"
                           placeholder="{{lang.code}}">
                    <select class="form-control" ng-init="nameLang = currentLang.code" ng-model="nameLang"
                            ng-options="each.code as each.name for (key, each) in languages"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker"><span ng-class="{checked: form.allowJoinProcess}"><input
                                    ng-model="form.allowJoinProcess" type="checkbox"></span></div>
                            {{ 'allows_to_combine_common_processes' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{'icon' | translate}}</label>
                <div class="col-md-9">
                    <button type="button" ng-click="uploadIcon( form )" class="btn btn-primary">
                        {{ 'upload' | translate }}
                    </button>
                    <div ng-show="form.icon">
                        <img src="{{form.icon.url}}"
                             style="max-width:30px;border:1px solid #3e3e3e;"
                             class="img-rounded img-responsive"/>
                        <button type="button" ng-confirm-click="deleteIcon( form )" class="btn red-sunglo btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>