<div class="modal-header">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{operator.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="ok()">

  <div class="modal-body">
    <div class="form-body">
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
        <div class="col-md-9">
          <input ng-model="form.name" type="text" class="form-control" placeholder="">  
        </div>
      </div>
  
      <div class="form-group">
        <label class="col-md-3 control-label">Login/ e-mail<br /></label>
        <div class="col-md-9">
          <input class="form-control" ng-model="form.user" />
          <span class="help-block">Jeżeli zostanie podany mail, użytkonik może otrzymać zapomniane hasło</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'firstname' |translate }}<br /></label>
        <div class="col-md-9">
          <input class="form-control" ng-model="form.firstname" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'lastname' |translate }}<br /></label>
        <div class="col-md-9">
          <input class="form-control" ng-model="form.lastname" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'password' |translate }}<br /></label>
        <div class="col-md-9">
          <input type="password" class="form-control" ng-model="form.pass" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'repeat_password' |translate }}<br /></label>
        <div class="col-md-9">
          <input type="password" class="form-control" ng-model="form.pass_confirm" />
        </div>
      </div>

    </div>
    
  </div>
  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
  </div>

</form>