<style>
    .singleMultiSelectColor {
        margin: 5px 10px;
        display: inline-block;
        position: relative;
    }

    .multiSelectColor {
        display: block;
        width: 100%;
    }

    .selectedColor {
        border: 2px solid #f617b7;
    }

    .labelMultiSelectColorAny {
        position: absolute;
        top: 7px;
        left: 38px;
    }

    .color-selector {
        width: 30px;
        height: 30px;
        border-color: transparent;
    }

    .selectedColor {
        border: solid 3px #d7b087;
        border-style: solid;
        width: 24px;
    }

    .thumbnail .thumbnail-link {
        overflow: visible !important;
    }

    .checkmarkActive:after {
        content: "";
        display: block;
        position: absolute;
        left: -20px;
        top: 0px;
        width: 7px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        cursor: pointer;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">{{ 'relative_options' | translate }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div ng-repeat="unit in filterParts">
                    <h3 class="list-group-item-heading">{{unit.name + '_filter' | translate}}</h3>
                    <div ng-switch="unit.type">

                        <div ng-switch-when="text">
                            <input class="textFilterInput" ng-model="unit.value"
                                   placeholder="{{ unit.title | translate }}" ng-change="onInputChange(unit)"
                                   type="search"/>
                        </div>

                        <div ng-switch-when="range">
                            <rzslider rz-slider-model="unit.minValue" rz-slider-high="unit.maxValue"
                                      rz-slider-options="unit.options"></rzslider>
                        </div>

                        <div ng-switch-when="multi-select">
                            <div class="multiSelect" ng-repeat="value in unit.values">
                                <input ng-model="unit.selectedValues[value]" ng-change="onInputChange()"
                                       type="checkbox" name="unit.name" value="{{value}}" id="{{value}}"/>
                                <label for="{{value}}">{{value}}</label>
                            </div>
                        </div>
                        <div ng-switch-when="select">
                            <select ng-model="unit.value"
                                    ng-options="label for label in unit.values"
                                    ng-change="onInputChange()"></select>
                        </div>
                        <div class="multiSelectColor" ng-switch-when="multi-select-color">
                            <div class="singleMultiSelectColor" ng-repeat="value in unit.values">
                                <input ng-style="{backgroundColor: value}"
                                       ng-click="onColorClick(unit, value)"
                                       ng-class="{selectedColor:unit.selectedValues[value]}"
                                       class="color-selector col-xs-1"
                                       type="button"
                                       id="{{value}}"/>
                                <label style="position: relative;" for="{{value}}"><span
                                        ng-class="{checkmarkActive:unit.selectedValues[value], checkmark:true}"></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div ng-if="filteredOptions">{{'filtered_options_count' | translate}}: {{filteredOptions.length}}</div>
                <table ng-if="filteredOptions">
                    <thead>
                    <tr>
                        <th>{{'name' | translate}}</th>
                        <th>{{'weight' | translate}}</th>
                        <th>{{'opacity' | translate}}</th>
                        <th>{{'whiteness' | translate}}</th>
                        <th>{{'roughness' | translate}}</th>
                        <th>{{'sheet_thickness' | translate}}</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="row in filteredOptions">
                        <td>{{row.name}}</td>
                        <td>{{withUnit(row.weight, 'g/m²')}}</td>
                        <td>{{withUnit(row.descriptions.opacity, '%')}}</td>
                        <td>{{withUnit(row.descriptions.whiteness, 'CIE')}}</td>
                        <td>
                            {{withUnit(row.descriptions.roughness, 'Bendtsen, ml/min')}}
                        </td>
                        <td>{{withUnit(row.descriptions.thickness, 'μm')}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>
