<div class="modal-header">
	<h3 class="modal-title">{{ 'preflight_for_format' | translate }}: {{ format.name }}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ 'name' | translate }}</th>
						<th>{{ 'folder_name' | translate }}</th>
						<th>{{ 'active' | translate }}</th>
						<th>{{ 'actions' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="preflightFolder in preflightFolders">
						<td>
							{{preflightFolder.ID}}
						</td>
						<td>{{preflightFolder.name}}</td>
						<td>{{preflightFolder.folderName}}</td>
						<td>
							<span class="btn blue-stripe btn-xs"
                    ng-class="{'red-sunglo-stripe': !preflightFolder.active}">
                    {{ !!preflightFolder.active ? 'yes' : 'no' | translate }}
                  </span>
						</td>
						<td class="actions col-xs-2">
							<button ng-click="edit(preflightFolder)"
							data-toggle="tooltip" data-container="body"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button
							ng-confirm-click="remove(preflightFolder)"
							data-toggle="tooltip" data-container="body" title="{{langArr.delete}}"
							class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<form class="form-horizontal" role="form" ng-submit="add()">
				<div class="form-body">

					<div class="form-group">
						<label class="col-md-3 control-label">{{ 'name' | translate }}</label>
						<div class="col-md-9">
							<input class="form-control" ng-model="form.name" placeholder="{{ 'name' | translate }}" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">{{ 'folder_name' | translate }}</label>
						<div class="col-md-9">
							<input class="form-control" ng-model="form.folderName" placeholder="{{ 'folder_name' | translate }}" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-9 col-md-offset-3">
						<button class="btn btn-success"><i class="fa fa-plus"></i> {{ 'add' | translate }}</button>
						<button class="btn red-sunglo" type="button" ng-click="form={}">{{ 'cancel' | translate }}</button>
					</div>
				</div>
			</form>
				<div class="modal-footer">
					<button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-check"></i> {{ 'close' | translate }}</button>
				</div>
		</div>
	</div>
</div>