<div class="modal-header">
    <h3 class="modal-title">{{ 'related_increases' | translate }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

    <div class="modal-body">
        <div ng-repeat="attribute in attributes">
            <div class="list-group clickable">
                <a class="list-group-item list-group-item-info" style="cursor: pointer;"
                   ng-click="nodeClick(attribute)"
                   ng-class="{active: attribute.open}">
                    #{{attribute.ID}} {{attribute.names[currentLang.code]}}
                    <span ng-if="attribute.adminName!=''" style="font-size: 80%">/{{attribute.adminName}}/</span>
                    <input type="checkbox" ng-model="attribute.selected" ng-click="$event.stopPropagation();checkSubnodes(attribute,'attributeOptions','controllers')" ng-true-value="1" ng-false-value="0" ng-click="click($event)">
                    <span class="badge">{{ countRelated(attribute) }}</span>
                </a>
            </div>
            <div ng-repeat="option in attribute.attributeOptions" style="padding-left:20px">

                <div class="list-group clickable">
                    <a class="list-group-item list-group-item-info" style="cursor: pointer;"
                       data-ng-click="nodeClick(option)"
                       data-ng-class="{active: option.open, hidden: !attribute.open}">
                        [{{option.ID}}] {{option.names[currentLang.code]}}
                        <input type="checkbox" ng-model="option.selected" ng-click="$event.stopPropagation();checkSubnodes(option,'controllers')" ng-true-value="1" ng-false-value="0">
                        <span class="badge">{{ countRelated(option) }}</span>
                    </a>
                </div>
                <div ng-repeat="controller in option.controllers" style="padding-left:20px">

                    <div class="list-group">
                        <a class="list-group-item list-group-item-info"
                           data-ng-class="{active: controller.open, hidden: !option.open}">
                            [{{controller.ID}}] {{controller.names?controller.names[currentLang.code]:controller.name}}
                            <input type="checkbox" ng-model="controller.selected" ng-click="$event.stopPropagation()" ng-true-value="1" ng-false-value="0">
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>
