<div class="modal-header">
    <h3 class="modal-title">{{ 'assign_processes' | translate }}</h3>
</div>

<div class="modal-body">

    <h3 class="modal-title alert alert-info">{{ 'operation' | translate }}: {{operation.name}}</h3>

    <div class="list-group clickable">
        <a class="list-group-item"
           data-ng-repeat="process in currentProcesses"
           data-ng-click="process.selected = (process.selected != 1 ? 1 : 0)"
           data-ng-class="{active: process.selected}">
            <h3 class="list-group-item-heading"> <small>{{process.ID}} </small>{{process.name}} </h3>
        </a>
    </div>
</div>

<div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success" ng-click="ok()"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
</div>