<div class="modal-header">
    <h3 class="modal-title">{{ 'set_deliveries_excluded_for_selected_option' | translate }}</h3>
    <span class="muted">{{ 'set_empty_for_no_exclusions' | translate }}</span>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">

        <h3 class="modal-title alert alert-info ng-binding">{{ 'delivery' | translate }}: {{ oryg.name }}</h3>
        <div class="list-group clickable">
            <a class="list-group-item" style="cursor: pointer;"
               data-ng-repeat="delivery in deliveries"
               data-ng-click="delivery.selected = (delivery.selected != 1 ? 1 : 0)"
               data-ng-class="{active: delivery.selected}">
                <h3 class="list-group-item-heading">
                    {{delivery.names[currentLang.code]}}
                </h3>
            </a>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>