<div class="modal-header">
  <h3 class="modal-title">
  {{ 'select_device' | translate }}
  </h3>
</div>
<div class="modal-body">

  <h3 class="modal-title alert alert-info">{{ 'print_type' | translate }}: {{ printtype.name }}</h3>

  <div class="list-group clickable">
    <a class="list-group-item"
      data-ng-repeat="device in currentDevices"
      data-ng-click="device.selected = (device.selected != 1 ? 1 : 0)"
      data-ng-class="{active: device.selected}">
      <h3 class="list-group-item-heading"> <small>{{device.ID}} </small>{{device.name}} </h3>
      <!-- <p class="list-group-item-text">+
      Lorem ipsum
      </p> -->
    </a>
  </div>
</div>

<div class="modal-footer">
  <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
  <button class="btn btn-success" ng-click="ok()"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
</div>