<div class="modal-header">
    <h3 class="modal-title">{{ 'select_categories' | translate }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">

        <h3 class="modal-title alert alert-info ng-binding">{{ 'categories' | translate }}</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-left">
                    {{ 'language' | translate }}
                </div>
                <div class="pull-right">
                    <select ng-model="showLang" ng-options="lang.code as lang.name for (key, lang) in languages"
                            ng-init="showLang = currentLang.code"></select>
                </div>
            </div>
        </div>

        <div ng-repeat="category in categories">

            <div class="list-group clickable">
                <a class="list-group-item list-group-item-info" style="cursor: pointer;"
                   data-ng-click="category.selected = (category.selected != 1 ? 1 : 0)"
                   data-ng-class="{active: category.selected}">
                    <h3 class="list-group-item-heading">
                        {{category.langs[showLang].name}}
                    </h3>
                </a>
            </div>
            <div class="list-group clickable">
                <a class="list-group-item" style="cursor: pointer;"
                   data-ng-repeat="child in category.childs"
                   data-ng-click="child.selected = (child.selected != 1 ? 1 : 0)"
                   data-ng-class="{active: child.selected}">
                    <h3 class="list-group-item-heading">
                        {{child.langs[showLang].name}}
                    </h3>
                </a>
            </div>

        </div>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>