<div class="modal-header">
    <h3 class="modal-title">{{ 'prices' | translate }} {{connectOption.name}}</h3>
</div>

<div class="portlet-body">
	<div class="overflowContainer">
	    <table class="table table-striped table-hover"  >
	      <thead>
	        <tr role="row" class="heading">
	          <th>{{ 'kilograms_quantity' | translate }}</th>
	          <th>{{ 'unit_price' | translate }}</th>
	          <th>{{ 'expense' | translate }}</th>
	          <th>{{ 'actions' | translate }}</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="price in prices | orderBy: 'amount' ">
	          <td>{{price.amount}}</td>
	          <td>{{price.value}}</td>
	          <td>{{price.expense}}</td>
	          <td>
	            <button data-ng-confirm-click="removePrice(price)"
	            data-toggle="tooltip" data-container="body" tooltip="{{langArr.delete}}"
	            class="btn red-sunglo btn-xs">
	            <span class="glyphicon glyphicon-remove"></span>
	            </button>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	</div>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">
  <div class="form-group">
    <label class="col-md-3 control-label">{{ 'kilograms_quantity' | translate }}</label>
    <div class="col-md-9">
      <input ng-model="form.amount" type="text" class="form-control" placeholder="{{ 'amount' | translate }}">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-3 control-label">{{ 'price' | translate }}</label>
    <div class="col-md-9">
      <input ng-model="form.value" type="text" class="form-control" placeholder="{{ 'price' | translate }}">
    </div>
  </div>

   <div class="form-group">
    <label class="col-md-3 control-label">{{ 'expense' | translate }}</label>
    <div class="col-md-9">
      <input ng-model="form.expense" type="text" class="form-control" placeholder="{{ 'expense' | translate }}">
    </div>
  </div>

 <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
  </div>
</form>