.alert-default{
    .alert-variant(@alert-default-bg; @alert-default-border; @alert-default-text);
}

.bg-default{
    .bg-variant(@state-default-bg);
}

.no-padding{
    padding-left  : 0;
    padding-right : 0;
}

.btn-flat{
    border-radius : 0;
    border        : 0;
}

.expandableMenu {
    list-style: none;

    a {
        cursor: pointer;
    }

    > li {
        width: 100%;
        padding-left: 15px;
        font-size: 14px !important;

        > a {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
    }
}

.image-cover-container {
    position: relative;

    > img:first-child {
        position: absolute;
    }

    > img:last-child {
        position: relative;
    }
}
