<div class="modal-header">
  <h3 class="modal-title">Edit option</h3>
</div>
<div class="modal-body" >
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal" role="form">
        
        <div class="form-group">
          <label class="col-md-3 control-label">value</label>
          <div class="col-md-9">
            <input ng-model="form.value" type="text" class="form-control" placeholder="{{ 'value' | translate }}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Names</label>
          <div class="col-md-9">
            <input ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.names[lang.code]" type="text" class="form-control" placeholder="{{lang.code}}" >
            <select class="form-control" ng-model="nameLang" ng-options="each.code as each.name for (key, each) in languages"></select>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>