<div class="modal-header">
	<h3 class="modal-title">{{ 'variables_for_type' | translate }}: {{ mailType.names[showLang] }}</h3>
</div>
<div class="modal-body">
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped" ng-if="variables.length">
			<thead>
				<tr>
					<th>#</th>
					<th>{{ 'name' | translate }}</th>
					<th>{{ 'description' | translate }} <select ng-model="showLang" ng-options="lang.code as lang.name for (key, lang) in languages" ng-init="showLang = currentLang.code"></select></th>
					<th>{{ 'actions' | translate }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="variable in variables">
					<td>
						{{variable.ID}}
					</td>
					<td>{{variable.variable}}</td>
					<td>
						{{variable.langs[showLang]}}
					</td>
					<td class="actions">
						<button ng-click="edit(variable)"
						data-toggle="tooltip" data-container="body"
						class="btn btn-primary btn-xs" tooltip="{{ 'edit' | translate }}">
						<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button
						ng-confirm-click="remove(variable)"
						data-toggle="tooltip" data-container="body" tooltip="{{ 'remove' | translate }}"
						class="btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<form class="form-horizontal" role="form" ng-submit="add()">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">{{ 'name' | translate }}</label>
					<div class="col-md-9">
						<input class="form-control" ng-model="form.variable" placeholder="{{ 'name' | translate }}" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">{{ 'description' | translate }}</label>
					<div class="col-md-9">
						<input ng-repeat="lang in languages" ng-show="nameLang == lang.code" ng-model="form.langs[nameLang]" type="text" class="form-control" placeholder="{{lang.code}}">
					<select class="form-control" ng-init="nameLang = currentLang.code" ng-model="nameLang" ng-options="each.code as each.name for (key, each) in languages"></select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-9 col-md-offset-3">
				<button class="btn btn-success"><i class="fa fa-plus"></i> {{ 'add' | translate }}</button>
				<button class="btn red-sunglo" type="button" ng-click="form={}">{{ 'cancel' | translate }}</button>
			</div>
		</div>
	</form>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()"><i class="fa fa-check"></i> {{ 'close' | translate }}</button>
	</div>
</div>
</div>
</div>