<div ui-view="productMenu"></div>
<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-list"></i> {{ 'attributes' | translate }} <span ng-if="allSelections && allSelections.length" class="badge" tooltip="{{allSelections.join(' /\n ')}}">{{ allSelections.length }}</span>
                </div>

                <div class="tools hidden-lg">
                    <button button-faq-accordion="printshop.attributes"></button>
                    <a href="javascript:;" ng-click="refreshPages()" class="reload">
                    </a>
                </div>

            </div>
            <div class="portlet-body">

                <div class="row" data-ng-repeat="attr in specialAttributes">
                    <div class="col-md-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <b>{{attr.name}}</b>
                                <div class="btn-toolbar pull-right">
                                <button class="btn btn-primary btn-xs pull-right"
                                        ng-click="tooltip(attr); $event.stopPropagation()" tooltip="{{ 'tooltip' | translate }}">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                <button ng-if="attr.ID === -1" class="btn btn-xs pull-right"
                                        ng-class="{'btn-default': _.isEmpty(formatCustomNames),
                                        'btn-primary': !_.isEmpty(formatCustomNames) }"
                                        ng-click="setCustomFormatNames();" tooltip="{{ 'name' | translate }}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>

                                <button ng-if="attr.ID === -2" class="btn btn-xs pull-right"
                                        ng-class="{'btn-default': _.isEmpty(pageCustomNames),
                                        'btn-primary': !_.isEmpty(pageCustomNames) }"
                                        ng-click="setCustomPageNames();" tooltip="{{ 'name' | translate }}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-repeat="attr in attributes">
                    <div class="col-md-12">
                        <div class="panel panel-success">
                            <div class="panel-heading clickable"
                                 ng-init="open = false"
                                 ng-click="open = (open === false ? true : false)">

                                <div class="row">

                                    <div class="col-md-6 col-xs-12">
                                        <span class="btn blue-stripe btn-xs">ID: {{attr.ID}}</span> <b>{{attr.name}}</b>
                                        <small> {{attr.adminName}}</small>
                                    </div>

                                    <div class="col-md-6 col-xs-12 btn-toolbar">
                                        <button-select-all ng-if="selectedOptions[attr.ID] || open" data-id="{{attr.ID}}"></button-select-all>
                                        <button class="btn btn-primary btn-xs pull-right"
                                                ng-show="_.keys(selectedOptions[attr.ID]).length > 0"
                                                ng-click="tooltip(attr); $event.stopPropagation()"
                                        tooltip="{{ 'tooltip' | translate }}">
                                            <i class="fa fa-info-circle"></i>
                                        </button>

                                        <button class="btn btn-xs pull-right"
                                                ng-class="{'btn-default': countCustomNames[attr.ID] === 0 || countCustomNames[attr.ID] === undefined,
                                                'btn-primary': countCustomNames[attr.ID] > 0 }"
                                                ng-show="_.keys(selectedOptions[attr.ID]).length > 0"
                                                ng-click="customAttributeNames(attr); $event.stopPropagation()" tooltip="{{ 'name' | translate }}">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>

                                        <button class="btn btn-default btn-xs pull-right borderless"
                                                ng-show="_.keys(selectedOptions[attr.ID]).length === 1"
                                                ng-class="{'btn-warning warning-contrast': selectedOptions[attr.ID][_.first(_.keys(selectedOptions[attr.ID]))].invisible }"
                                                ng-click="setInvisible(attr); $event.stopPropagation()" tooltip="{{ 'invisible_attribute' | translate }}">
                                            <i class="fa fa-eye-slash"></i>
                                        </button>

                                        <button ng-click="setSelectByPicture( attr.ID, attributeSettings[attr.ID] );"
                                                ng-show="_.keys(selectedOptions[attr.ID]).length > 0"
                                                ng-class="{
                                        'btn-default': attributeSettings[attr.ID] === undefined && attributeSettings[attr.ID].selectByPicture == 0,
                                        'btn-warning warning-contrast': attributeSettings[attr.ID] != undefined && attributeSettings[attr.ID].selectByPicture == 1
                                        }"
                                                class="btn btn-xs btn-default pull-right" tooltip="{{ 'choice_by_picture' | translate }}">
                                            <i class="fa fa-picture-o"></i>
                                        </button>

                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="list-group clickable" ng-show="selectedOptions[attr.ID] || open">

                                            <a class="list-group-item listedGroup"
                                               ng-repeat="option in allOptions[attr.ID]"
                                               ng-click="setOption(attr.ID, option.ID)"
                                               ng-class="{active: selectedOptions[attr.ID][option.ID]}">
                                                <span class="btn blue-stripe btn-xs">ID: {{option.ID}}</span>
                                                <b>{{option.name}} </b>
                                                <small>{{option.adminName}}</small>

                                                <div class="btn-toolbar pull-right" role="group">
                                                    <button ng-if="selectedOptions[attr.ID][option.ID]"
                                                            ng-click="setAuthCalculation(option);$event.stopPropagation();"
                                                            class="btn btn-xs btn-default"
                                                            ng-class="{'btn-warning': option.authorizedOnlyCalculation}"
                                                            type="button" tooltip="{{ 'calculate-only-for-authorized' | translate }}">
                                                        <span ng-class="{'fa fa-user': true, 'fa-user-slash': option.authorizedOnlyCalculation}"></span>
                                                    </button>
                                                    <button ng-if="selectedOptions[attr.ID][option.ID]"
                                                            data-ng-click="setDeliveryExclusions(option);$event.stopPropagation();"
                                                            class="btn btn-xs btn-default"
                                                            ng-class="{'btn-warning': selectedOptions[attr.ID][option.ID].excludedDeliveries.length > 0}"
                                                            type="button" tooltip="{{ 'exclusion_in_delivery' | translate }}">
                                                        <i class="fa fa-truck"></i>
                                                    </button>

                                                    <button ng-if="selectedOptions[attr.ID][option.ID]"
                                                            data-ng-click="setDefaultOption(selectedOptions, attr, option);$event.stopPropagation();"
                                                            class="btn btn-xs" type="button"
                                                            ng-class="{'btn-success': selectedOptions[attr.ID][option.ID].default,
                                                                'btn-default': !selectedOptions[attr.ID][option.ID].default}" tooltip="{{ 'default' | translate }}">
                                                        <i class="fa fa-list-ol"></i>
                                                    </button>

                                                    <button ng-if="selectedOptions[attr.ID][option.ID]"
                                                            ng-click="attrFormats(attr.ID, option.ID);$event.stopPropagation()"
                                                            toggle="tooltip" container="body"
                                                            tooltip="{{ 'formats' | translate }}"
                                                            class="btn btn-default btn-xs"
                                                            ng-class="{'btn-warning warning-contrast': selectedOptions[attr.ID][option.ID].formats.length > 0}">
                                                        <i class="fa fa-file-o"></i>
                                                    </button>
                                                    <button
                                                       ng-click="editOption(attr.ID,option.ID,$event)"
                                                       tooltip="{{ 'edit_option' | translate }}"
                                                       class="btn blue-hoki btn-xs">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                    </button>
                                                    <span ng-if="option.exclusions && option.exclusions.length" class="badge btn-warning pull-right" tooltip="{{'opcja nie może się łaczyć z niektórymi opcjami wybranymi w produkcie:\n'}}{{option.exclusions.join(' /\n ')}}">{{ option.exclusions.length }}</span>
                                                </div>

                                            </a>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-5 visible-lg hidden-md">
        <div faq-accordion="printshop.attributes"></div>
    </div>
</div>
