<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-list"></i>{{ 'attributes' | translate }}
                </div>

                <div class="tools">
                    <button button-faq-accordion="printshop.configAttributes"></button>
                    <button ng-click="refresh()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%" sort-trigger>#</th>
                            <th sort-trigger>{{ 'name' | translate }}</th>
                            <th>
                                {{ 'name' | translate }}
                                <select ng-model="showLang"
                                        ng-options="lang.code as lang.name for (key, lang) in languages"
                                        ng-init="showLang = currentLang.code"></select>
                            </th>
                            <th>{{ 'description' | translate }}</th>
                            <th>{{ 'type' | translate }}</th>
                            <th>{{ 'nature' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="searchId" placeholder="ID"
                                       ng-model="search.ID">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="group"
                                       placeholder="{{ 'name' | translate }}" ng-model="search.name">
                            </td>
                            <td></td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="attributes">
                        <tr ng-repeat="attr in attributes |filter:search">
                            <td width="10%">
                                <button tooltip="{{langArr.sort}}"
                                        class="btn btn-default btn-sm button-sort">
                                    <i class="fa fa-arrows-v"></i>
                                </button>
                                {{ attr.ID }}
                            </td>
                            <td>
                                {{ attr.name }}
                                <span class="badge">
                    {{ getCountProducts(attr) }}
                  </span>
                            </td>
                            <td>
                                {{ attr.names[showLang] }}
                            </td>
                            <td>
                                {{ attr.adminName }}
                            </td>
                            <td>
                                {{getTypeName(attr)}}
                            </td>
                            <td ng-if="attr.natureID">
                                {{ ('attribute_nature_'+_.findWhere(natures, {ID: attr.natureID}).function) | translate}}
                            </td>
                            <td ng-if="!attr.natureID">
                                ...
                            </td>
                            <td class="noWrap">
                                <button ng-click="editStart(attr)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button data-ng-click="copy(attr)" tooltip="{{ 'copy' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="fa fa-copy"></span>
                                </button>
                                <a ui-sref="printshop-configOptions({attrID: attr.ID})"
                                   data-toggle="tooltip" tooltip="{{ 'settings' | translate }}"
                                   class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <button ng-confirm-click="remove(attr)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'delete' | translate }}"
                                        class="btn red-sunglo btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="fixedPositionSave" ng-show="sortChange">
                    <button class="btn btn-success" ng-click="sortSave()">
                        {{ 'save_the_change_order' | translate }}
                    </button>
                    <button class="btn red-sunglo" ng-click="sortCancel()">
                        {{ 'cancel' | translate }}
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-haze col-md-3 text-right">
                                    {{ 'add_new' | translate }}
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <form class="form-horizontal" role="form" ng-submit="add()">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.name" type="text" class="form-control"
                                                       placeholder="{{ 'name' | translate}}" required>
                                            </div>
                                        </div>

                                    <div class="form-group" >
                                        <label class="col-md-3 control-label">{{'icon' | translate}}</label>
                                        <div class="col-md-9">
                                            <button type="button" ng-click="uploadIcon( form )" class="btn btn-primary">
                                                {{ 'upload' | translate }}
                                            </button>
                                            <div ng-show="form.icon">
                                                <img src="{{form.icon.url}}"
                                                     style="max-width:200px;border:1px solid #3e3e3e;"
                                                     class="img-rounded img-responsive" />
                                                <button type="button" ng-confirm-click="deleteIcon( form )" class="btn red-sunglo btn-xs">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'lang_name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                                       ng-model="form.names[lang.code]" type="text" class="form-control"
                                                       placeholder="{{lang.code}}">
                                                <select class="form-control" ng-init="nameLang = currentLang.code"
                                                        ng-model="nameLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'description' | translate
                                                }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.adminName" type="text" class="form-control"
                                                       placeholder=" {{ 'description' | translate }}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'extended_description' | translate
                                                }}</label>
                                            <div class="col-md-9">
                                            <div ng-repeat="lang in languages" ng-show="descriptionLang == lang.code">
                                                <div ds-tinymce ng-model="form.description[lang.code]"
                                                     placeholder=" {{ 'extended_description' | translate }}"></div>
                                            </div>
                                                <select class="form-control" ng-init="descriptionLang = currentLang.code"
                                                        ng-model="descriptionLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'type' | translate }}</label>
                                            <div class="col-md-9">
                                                <select class="form-control" ng-init="form.type = 1"
                                                        ng-model="form.type"
                                                        ng-options="each.ID as each.name for each in types"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'nature' | translate }}</label>
                                            <div class="col-md-9">
                                                <select class="form-control" ng-init="form.natureID = 1"
                                                        ng-model="form.natureID"
                                                        ng-options="nature.ID as ('attribute_nature_'+nature.function)|translate for nature in natures"></select>
                                            </div>
                                        </div>

                                        <div class="portlet light">

                                            <div class="portlet-title">
                                                <div class="caption col-md-9 col-md-offset-3">{{
                                                    'definable_number_of_operations_on_option' | translate }}
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                <label class="col-md-3 control-label">{{ 'minimum_number_of_operations'
                                                    | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="form.minPages" type="text" class="form-control"
                                                           placeholder="{{ 'minimum_number_of_operations' | translate }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'step' | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="form.step" type="text" class="form-control"
                                                           placeholder=" {{ 'step' | translate }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'maximum_number_of_operations'
                                                    | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="form.maxPages" type="text" class="form-control"
                                                           placeholder="{{ 'maximum_number_of_operations' | translate }}">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="portlet light">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'maximum_number_of_multiple_options'
                                                | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="form.multipleOptionsMax" type="number" min="0" class="form-control"
                                                           placeholder="{{ 'maximum_number_of_multiple_options' | translate }}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'display_image_on_miniature'
                                                | translate }}</label>
                                                <div class="col-md-9">
                                                    <div class="checker"><span
                                                            ng-class="{checked: form.displayImageOnMiniature}">
                                                              <input ng-model="form.displayImageOnMiniature" ng-true-value="1" ng-false-value="0" type="checkbox">
                                                            </span></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'attribute_special_function' | translate }}</label>
                                                <div class="col-md-9">
                                                    <select class="form-control"  ng-model="form.specialFunction" ng-options="fn as ('attribute_special_function_'+fn)|translate for fn in specialFunctions"></select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'add' | translate }}
                                                </button>
                                                <button ng-click="form = {}" type="button" class="btn red-sunglo">{{
                                                    'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
