<script type="text/ng-template" id="template_variables">
    <div class="form-group">
        <label class="col-md-3 control-label">{{ 'available_variables' | translate }}<br/><a
                href="javascript:;" ng-click="isCollapsed = !isCollapsed">{{ isCollapsed == true ?
                'expand' : 'collapse' | translate }} <i class="fa"
                                                        ng-class="{' fa-chevron-circle-down': !isCollapsed, ' fa-chevron-circle-up': isCollapsed}"></i></a></label>
        <div class="col-md-9">
            <div class="panel panel-default" collapse="isCollapsed">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'description' | translate }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="key in variables">
                        <td>{{ '{' + key + '}'}}</td>
                        <td>{{ key | translate }}</td>
                    </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<div ui-view="productMenu"></div>
<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-copy"></i> {{ 'labelImposition' | translate }}
                </div>

            </div>
            <div class="portlet-body">


                <div class="row">
                    <div class="col-md-12">

                        <div class="portlet light">
                            <div class="portlet-body form">
                                <form class="form-horizontal" role="form" ng-submit="update(labelImposition)">
                                    <div class="form-body">

                                        <div class="form-group">

                                            <div class="col-md-9">
                                                <div class="checkbox-list">

                                                    <label>
                                                        <div class="checker">
                                                            <span ng-class="{checked: !!labelImposition.enabled}">
                                                                <input ng-model="labelImposition.enabled"
                                                                       ng-false-value="0" ng-true-value="1"
                                                                       type="checkbox">{{'labelImpositionEnabled' | translate}}
                                                            </span>
                                                        </div>
                                                    </label>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Układ etykiet (rotacja)</label>
                                            <div class="col-md-9">
                                                <select ng-model="labelImposition.labelRotation" class="form-control">
                                                    <option value="0">0 deg</option>
                                                    <option value="90">90 deg</option>
                                                    <option value="180">180 deg</option>
                                                    <option value="270">270 deg</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Układ impozycji</label>
                                            <div class="col-md-9">
                                                <select ng-model="labelImposition.rotationAngle" class="form-control">
                                                    <option value="0">0 deg</option>
                                                    <option value="90">90 deg</option>
                                                    <option value="180">180 deg</option>
                                                    <option value="270">270 deg</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Liczba kolumn
                                                (nieobowiązkowe)</label>
                                            <div class="col-md-9">
                                                <input ng-model="labelImposition.numberOfColumns" type="number"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Liczba wierszy</label>
                                            <div class="col-md-9">
                                                <input ng-model="labelImposition.numberOfRows" type="number"
                                                       required class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Minimalna Długość arkusza
                                                (mm)</label>
                                            <div class="col-md-9">
                                                <input ng-model="labelImposition.minSheetLength" type="number"
                                                       required class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Szerokość arkusza (mm)</label>
                                            <div class="col-md-9">
                                                <input ng-model="labelImposition.sheetWidth" type="number" required
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Odległość między rzędami
                                                (mm)</label>
                                            <div class="col-md-9">
                                                <input ng-model="labelImposition.labelDistance" type="number"
                                                       required class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Odległość między kolumnami (mm,
                                                nieobowiązkowe)</label>
                                            <div class="col-md-9">
                                                <input ng-model="labelImposition.columnsDistance" type="number"
                                                       class="form-control">
                                            </div>
                                        </div>

                                        <fieldset>
                                            <legend>Kod kreskowy
                                                <label>
                                                    <div class="checker">
                                                            <span ng-class="{checked: !!labelImposition.barcodeEnabled}">
                                                                <input ng-model="labelImposition.barcodeEnabled"
                                                                       ng-false-value="0" ng-true-value="1"
                                                                       type="checkbox">{{'enabled' | translate}}
                                                            </span>
                                                    </div>
                                                </label>
                                            </legend>

                                            <div ng-include="'template_variables'"
                                                 ng-controller="LabelImpositionVariablesCtrl"></div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Dane</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.barcodeData" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja X</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.barcodePositionX"
                                                           type="number" class="form-control">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja Y</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.barcodePositionY" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">szerokość</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.barcodeWidth" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">wysokość</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.barcodeHeight" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>


                                        </fieldset>

                                        <fieldset>
                                            <legend>Kod QR
                                                <label>
                                                    <div class="checker">
                                                            <span ng-class="{checked: !!labelImposition.qrCodeEnabled}">
                                                                <input ng-model="labelImposition.qrCodeEnabled"
                                                                       ng-false-value="0" ng-true-value="1"
                                                                       type="checkbox">{{'enabled' | translate}}
                                                            </span>
                                                    </div>
                                                </label>
                                            </legend>
                                            <div ng-include="'template_variables'"
                                                 ng-controller="LabelImpositionVariables2Ctrl"></div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Dane</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.qrCodeData" type="text"
                                                           class="form-control">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja X</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.qrCodePositionX"
                                                           type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja Y</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.qrCodePositionY" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">rozmiar</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.qrCodeSize" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                        </fieldset>

                                        <fieldset>
                                            <legend>Fotokomórka
                                                <label>
                                                    <div class="checker">
                                                            <span ng-class="{checked: !!labelImposition.photocellEnabled}">
                                                                <input ng-model="labelImposition.photocellEnabled"
                                                                       ng-false-value="0" ng-true-value="1"
                                                                       type="checkbox">{{'enabled' | translate}}
                                                            </span>
                                                    </div>
                                                </label>
                                            </legend>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja X</label>
                                                <div class="col-md-9">
                                                    <select ng-model="labelImposition.photocellPositionX"
                                                            class="form-control">
                                                        <option value="left">Lewo</option>
                                                        <option value="right">Prawo</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja Y</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.photocellPositionY" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">szerokość</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.photocellWidth" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">wysokość</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.photocellHeight" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                        </fieldset>

                                        <fieldset>
                                            <legend>Znacznik lasera
                                                <label>
                                                    <div class="checker">
                                                            <span ng-class="{checked: !!labelImposition.showLaserTriggers}">
                                                                <input ng-model="labelImposition.showLaserTriggers"
                                                                       ng-false-value="0" ng-true-value="1"
                                                                       type="checkbox">{{'enabled' | translate}}
                                                            </span>
                                                    </div>
                                                </label>
                                            </legend>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja X</label>
                                                <div class="col-md-9">
                                                    <select ng-model="labelImposition.laserTriggerPositionX"
                                                            class="form-control">
                                                        <option value="left">Lewo</option>
                                                        <option value="right">Prawo</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja Y</label>
                                                <div class="col-md-9">
                                                    <select ng-model="labelImposition.laserTriggerPositionY"
                                                            class="form-control">
                                                        <option value="top">Góra</option>
                                                        <option value="bottom">Dół</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">szerokość znacznika</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.laserTriggerWidth" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">wysokość znacznika</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.laserTriggerHeight" type="number"
                                                           class="form-control">
                                                </div>
                                            </div>


                                        </fieldset>
                                        <fieldset>
                                            <legend>Osobny plik znacznikowy
                                                <label>
                                                    <div class="checker">
                                                    <span ng-class="{checked: !!labelImposition.anotherSignFile}">
                                                    <input ng-model="labelImposition.anotherSignFile"
                                                           ng-false-value="0" ng-true-value="1"
                                                           type="checkbox">{{'enabled' | translate}}
                                                    </span>
                                                    </div>
                                                </label>
                                            </legend>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja X fotokomórki</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.photocellAnotherSignFilePositionX"
                                                           type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja Y fotokomórki</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.photocellAnotherSignFilePositionY"
                                                           type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja X kodu QR</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.qrCodeAnotherSignFilePositionX"
                                                           type="number" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">pozycja Y kodu QR</label>
                                                <div class="col-md-9">
                                                    <input ng-model="labelImposition.qrCodeAnotherSignFilePositionY"
                                                           type="number" class="form-control">
                                                </div>
                                            </div>


                                        </fieldset>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'save' | translate }}
                                                </button>
                                                <button ng-click="resetForm()" type="button" class="btn red-sunglo">
                                                    {{ 'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-5 visible-lg">
        <div faq-accordion="printshop.labelImposition"></div>
    </div>

</div>
