<style>
    .selectorHolder {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 15px;
        margin-bottom: 15px;
    }

    .singleSelector {
        width: 25%;
        padding: 10px 0;
        cursor: pointer;
    }

    .singleSelector span {
        margin: auto;
        text-align: center;
        display: block;
    }

    .selectorHolder .active {
        background: #e6e6e6;
    }

    .singleSelector:hover {
        background: #e6e6e6;
    }
</style>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            {{ "margins" | translate }}
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="cols-xs-12">
            <div class="selectorHolder">
                <div ng-repeat="list in priceList"
                     ng-click="onPriceClick(list.ID)"
                     class="singleSelector"
                     ng-class="{active: selectedPriceListID==list.ID}">
                    <span>{{list.names[currentLang.code]}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="cols-xs-12">
            <div class="selectorHolder">
                <div ng-repeat="nature in natures"
                     ng-click="onNatureClick(nature.ID)"
                     class="singleSelector"
                     ng-class="{active:  selectedNatureID == nature.ID}">
                    <span>{{'price_'+nature.function | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
