<div ui-view="productMenu"></div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-align-justify"></i> Stałe ceny <small>przytrzymaj Ctrl aby sortować po wielu
                    kolumnach</small>
                </div>
                <div class="tools">
                    Ilość wierszy <span class="badge">{{ matrix.length || "..." }}</span>
                    <button class="btn btn-xs" ng-click="export()">Export</button>
                    <button class="btn btn-xs" ng-click="importDialog()">Import</button>
                    <button button-faq-accordion="printshop.static_prices"></button>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <div ng-include="'views/pages-view.html'"></div>
                    <table ng-if="!rangePages" class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th>
                                {{ 'pages' | translate }}
                                <button ng-click="sortBy('pages')"
                                        class="btn btn-xs btn-info"
                                        ng-class="{'btn-warning': _.contains(sortArray, 'pages') || _.contains(sortArray, '-'+'pages')
                    }"><i class="glyphicon "
                          ng-class="{'glyphicon-arrow-up': _.contains(sortArray, '-'+'pages'),'glyphicon-arrow-down': !_.contains(sortArray, '-'+'pages')}"></i>
                                </button>
                            </th>
                            <th ng-repeat="(key, value) in groupOptions">
                                {{ ::value[_.first(_.keys(value))].attrName }}
                                <!-- <sortbutton ng-click="filteredMatrix = paginationAPI.sortBy(matrix, paginationSettings, productSearch, key)" key="key"
                                  settings="paginationSettings">
                                </sortbutton> -->
                                <button ng-click="sortBy(key)"
                                        class="btn btn-xs btn-info"
                                        ng-class="{'btn-warning': _.contains(sortArray, key) || _.contains(sortArray, '-'+key)}"><i class="glyphicon "
                          ng-class="{'glyphicon-arrow-up': _.contains(sortArray, '-'+key),'glyphicon-arrow-down': !_.contains(sortArray, '-'+key)}"></i>
                                </button>
                                <!-- sortuje się po kluczach nie po nazwach -->
                            </th>
                            <th>
                                {{ 'volumes' | translate }}
                                <button ng-click="sortBy('volumes')"
                                        class="btn btn-xs btn-info"
                                        ng-class="{'btn-warning': _.contains(sortArray, 'volumes') || _.contains(sortArray, '-'+'volumes')}"><i class="glyphicon "
                          ng-class="{'glyphicon-arrow-up': _.contains(sortArray, '-'+'volumes'),'glyphicon-arrow-down': !_.contains(sortArray, '-'+'volumes')}"></i>
                                </button>
                            </th>
                            <th>
                                {{ 'price' | translate }}
                            </th>
                            <th>
                                {{ 'expense' | translate }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- <tr ng-repeat="price in filteredMatrix | offset: paginationSettings.currentPage*paginationSettings.pageSize | limitTo: paginationSettings.pageSize"> -->
                        <tr ng-repeat="price in filteredMatrix | offset: paginationSettings.currentPage*paginationSettings.pageSize | limitTo: paginationSettings.pageSize">

                            <td>
                                {{ ::price.pages }}
                            </td>
                            <td ng-repeat="(key, value) in ::groupOptions">
                                <!-- {{ price[key] }} -->
                                {{ ::value[price[key]].name }}
                            </td>
                            <td>
                                {{ ::price.volumes }}
                            </td>
                            <td>
                                <form ng-submit="savePrice(price)">
                                    <input type="text" ng-model="price.price"/>
                                    <button class="btn btn-xs">Save</button>
                                </form>
                            </td>
                            <td>
                                <form ng-submit="saveExpense(price)">
                                    <input type="text" ng-model="price.expense"/>
                                    <button class="btn btn-xs">Save</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <td colspan="5">
                            <div ng-include="'views/pages-view.html'"></div>
                        </td>
                        </tfoot>
                    </table>
                    <span ng-if="!!rangePages" class="btn red-sunglo-stripe"
                          style="display:block; text-align:left; margin-top:10px;">
          W produkcie ze stronami w przedziale nie ma możliwości przypisania stałych cen
          </span>

                </div>

                <div ng-if="!rangePages" class="row">
                    <div class="col-md-12">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-haze col-md-3 text-right">
                                    {{ 'add_new_fem' | translate }}
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form class="form-horizontal" role="form" ng-submit="add(form)">
                                    <div class="form-body">

                                        <div class="form-group" ng-if="!form.range">
                                            <label class="col-md-3 control-label">{{ 'volume' | translate }}</label>
                                            <div class="col-md-5">
                                                <input ng-model="form.volume" type="text" class="form-control"
                                                       placeholder="{{ 'volume' | translate }}">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'add' | translate }}
                                                </button>
                                                <button ng-click="resetForm()" type="button" class="btn red-sunglo">{{
                                                    'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>