<div class="row">
    <div class="col-md-12">

        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Socket Tester
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" ng-submit="newSocket()">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">Port</label>
                            <div class="col-md-9">
                                <div class="input-group">
                    <span class="input-group-addon">
                    /
                    </span>
                                    <input ng-model="newSocketForm.port" type="text" required class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-success">Make</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-bind="updateInfo"></div>

            </div>
            </form>

            <div class="row" ng-repeat="socket in sockets">
                <div class="col-md-12">

                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i> Socket port {{socket.port}}
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form"
                                  ng-submit="emit(socket, form.eventName, form.data)">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">emit</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">/</span>
                                                <input ng-model="form.eventName" type="text" required
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">data</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <textarea ng-model="form.data" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn btn-success">emit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portlet-body form" ng-init="form = {}">
                                <form class="form-horizontal" role="form" ng-submit="on(socket, onForm.eventName)">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">on</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                        <span class="input-group-addon">
                        /
                        </span>
                                                    <input ng-model="onForm.eventName" type="text" required
                                                           class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button class="btn btn-success">on</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="listener in socket.listeners">
                                        <h3>
                                            {{ listener.name}}
                                            <button type="button" ng-click="removeListener(socket, listener)"
                                                    class="pull-right">X
                                            </button>
                                        </h3><!--
                  <p>
                    {{ response.data }}
                  </p> -->
                                    </div>

                            </div>
                            </form>
                        </div>

                        <div class="col-md-6">


                            <div ng-repeat="response in socket.responses" ng-if="!response.hide">
                                <h3>
                                    {{ response.eventName}}
                                    <button ng-click="response.hide = 1" class="pull-right">X</button>
                                </h3>
                                <p>
                                    {{ response.data }}
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</div>
</div>
</div>