<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-folder-alt"></i>{{ 'default_templates' | translate }}
                </div>
                <div class="tools">
                    <button button-faq-accordion="superadmin.templates"></button>
                    <button class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                <th>{{ '#' | translate }}</th>
                                <th>{{ 'name' | translate }}</th>
                                <th>{{ 'use_variables' | translate }}</th>
                                <th>{{ 'actions' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="template in templates | filter:search">
                                <td>{{ template.ID }}</td>
                                <td>{{ template.name }}</td>
                                <td>{{ (template.useVariables?'yes':'no') | translate }}</td>
                                <td>
                                    <button ng-click="edit(template)"
                                            data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                                            class="btn blue-hoki btn-xs">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button href="javascript:;" ng-confirm-click="remove(template)"
                                            class="btn red-sunglo btn-xs"><i class="glyphicon glyphicon-remove"></i>
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption font-green-haze col-md-3 text-right">
                                {{ 'add_new' | translate }}
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" ng-submit="add()">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                                        <div class="col-md-9">
                                            <input ng-model="form.name" type="text" class="form-control"
                                                   placeholder="{{ 'name' | translate }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'use_variables' | translate }}</label>
                                        <div class="col-md-9">
                                            <input ng-model="form.useVariables" type="checkbox"
                                                   ng-true-value="1" ng-false-value="0"
                                                   placeholder="{{ 'use_variables' | translate }}">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{
                                                'add' | translate }}
                                            </button>
                                            <button ng-click="form = {}" type="button" class="btn red-sunglo">{{
                                                'cancel' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
