<div class="modal-header bg-success2 text-white">
  <h3 class="modal-title">Złożone oferty</h3>
</div>
  <div class="modal-body">
    <div class="row">
  <div class="col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-archive"></i> Lista złożonych ofert
        </div>
        <div class="tools">
              <!-- <well class="btn-sm">{{ 'number_of_rows' | translate }}: <span class="badge">{{ cartsCtrl.totalItems }}</span> </well>
              <select ng-model="showRows" class="btn-default input-sm" ng-change="cartsCtrl.setRows(showRows)" ng-options="each for (null, each) in [10,25,50,100]" ></select>
              <button ng-click="cartsCtrl.clearCache()" class="btn btn-primary btn-sm">
                <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
              </button>
              <button button-faq-accordion="orders.carts"></button> -->
            </div>
      </div>
      <div class="portlet-body">
        <div class="wrapper1">
          <div class="div1"></div>
        </div>

        <div ng-if="!!responses.length" class="overflowContainer">
          <table class="table table-striped table-hover">
            <thead>
              <tr role="row" class="heading">
                <th width="5%">#</th>
                <th>{{ 'printing_house_name' | translate }}</th>
                <th>Lista produktów</th>
                <th>{{ 'realization_term' | translate }}</th>
                <th>{{ 'description' | translate }}</th>
                <!-- <th>{{ 'actions' | translate }}</th> -->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="response in responses">
                <td>
                  {{ response.ID }}
                </td>
                <td>
                  {{ getCompany(response.companyID).name }}
                </td>
                <td>
                  <div ng-repeat="item in auction.items" class="currentAuctionsProduct">
                    <span><i class="fa fa-cube"></i> {{ item.productName }}</span>
                    <p>
                      {{ 'product_name'| translate}}: <b>{{ item.name }}</b>
                    </p>
                    <p>
                      {{ 'signature'| translate}}: <b>{{ item.signature }}</b>
                    </p>
                    <p ng-if="item.pages">
                      {{ 'pages'| translate}}: <b>{{ item.pages }}</b>
                    </p>
                    <p>
                      {{ 'format'| translate}}: <b>{{ item.formatName }} {{ item.formatWidth ? item.formatWidth + ' x ' + item.formatHeight + ' mm' : ''}} </b>
                    </p>
                    <p ng-repeat="opt in item.options">
                      {{ opt.attrName }}: <b>{{ opt.optName }}</b>
                    </p>
                    <p>
                      {{ 'volume'| translate}}: <b>{{ item.volume }}</b>
                    </p>
                    <p ng-if="item.singleDelivery">
                      Wysyłka w jedno miejsce: <b>{{ item.singleDelivery }}</b>
                    </p>
                    <p ng-if="item.multiDelivery">
                      Wysyłka wg rozdzielnika: <b>{{ item.multiDelivery }}</b>
                    </p>
                    <p>
                      {{ 'price' | translate }} <b>{{ response.items[item.ID].price }}</b>
                    </p>
                  </div>
                </td>
                <td>
                  {{ response.realizationDate }}
                </td>
                <td>
                  {{ response.description }}
                </td>
                <!-- <td>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="!responses.length">
          <h3>Brak złożonych ofert</h3>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
  </div>