<div ng-if="!reclamationExist" class="modal-header">
    <h3>{{ 'create_reclamation_form' | translate }} - {{ 'order_no' | translate }} {{ order.orderNumber }}</h3>
</div>
<div ng-if="reclamationExist" class="modal-header">
    <h3>{{ 'reclamation' | translate }} - {{ reclamation.ID }}</h3>
    <span class="small">{{ 'edit_price' | translate }}: {{ 'order_no' | translate }} {{ order.orderNumber }}</span>
</div>
<form ng-if="!reclamationExist" ng-submit="save()" class="form-horizontal">
    <div class="modal-body">


        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'fault_description' | translate }} *</label>
                <div class="col-md-offset-3 col-md-9 checkbox" ng-repeat="fault in faults">
                    <label>
                        <input ng-model="form.faults[fault.ID]" type="checkbox"> {{
                        fault.descriptions[currentLang.code].name }}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'products' | translate }} *</label>
                <div class="col-md-9">
                    <select class="form-control" multiple
                            ng-options="item.productID as item.type.names[currentLang.code] for item in products"
                            ng-model="form.products">
                        <option>{{'select' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="reclamation-description">{{ 'description' | translate }}
                    *</label>
                <div class="col-md-9">
                    <textarea class="form-control" ng-model="form.description"
                              placeholder="{{ 'description' | translate }}" required id="reclamation-description">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'add_files' | translate }} *</label>
                <div class="col-md-9">
                    <input class="btn btn-lg btn-primary" type="file" multiple nv-file-select uploader="uploader"/><br/>
                </div>
                <div class="col-md-offset-3 col-md-9">
                    <ul class="list-group">
                        <li ng-repeat="item in uploader.queue" class="list-group-item">
                            <span ng-bind="item.file.name"></span>
                            <div class="pull-right">
                                <span class="element-margin-right" ng-bind="formatSizeUnits(item.file.size)"></span>
                                <button type="button" ng-click="removeFile(item)" class="btn btn-xs btn-danger">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
                            <span class="text-center">{{uploadProgress}}%</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>
</form>

<form ng-if="reclamationExist" ng-submit="savePrices()" class="form-horizontal">
    <div class="modal-body">
        <div class="form-body">

            <div class="row">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <b>{{ 'description' | translate }}</b>
                            <br>
                            {{ reclamation.description }}
                        </div>

                        <div class="col-md-6">
                            <b>{{ 'damages_list' | translate }}</b>
                            <br>
                            <ul>
                                <li ng-repeat="fault in reclamation.faults">
                                    {{ fault.descriptions[currentLang.code].name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div ng-if="reclamation.files.user.length > 0" class="col-md-12">
                            <table class="table table-responsive table-file-list">
                                <caption>{{ 'user_files' | translate }}</caption>
                                <tbody>
                                    <tr ng-repeat="file in reclamation.files.user">
                                        <td class="image-prev col-md-2">
                                            <img class="img-responsive" src="{{file.minUrl}}">
                                        </td>
                                        <td class="file-name">
                                            <a target="_blank" href="{{file.url}}" title="{{ 'view' | translate}}">
                                                {{ file.name }}
                                            </a>
                                        </td>
                                        <td class="file-size">{{ formatSizeUnits(file) }}</td>
                                        <td class="file-remover">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="reclamation.files.admin.length > 0" class="col-md-12">
                            <table class="table table-responsive table-file-list">
                                <caption>{{ 'printing_house_files' | translate }}</caption>
                                <tbody>
                                <tr ng-repeat="file in reclamation.files.admin">
                                    <td class="image-prev col-md-2">
                                        <img class="img-responsive" src="{{file.minUrl}}">
                                    </td>
                                    <td class="file-name">
                                        <a target="_blank" href="{{file.url}}" title="{{ 'view' | translate}}">
                                            {{ file.name }}
                                        </a>
                                    </td>
                                    <td class="file-size">{{ formatSizeUnits(file) }}</td>
                                    <td class="file-remover">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">

                    <table ng-if="reclamation.pricesChanged	== 0" class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'product' | translate }}</th>
                            <th>{{ 'amout' | translate }}</th>
                            <th>{{ 'date' | translate }}</th>
                            <th>{{ 'price' | translate }}</th>
                            <th>% {{ 'discount' | translate }}</th>
                            <th>{{ 'new_price' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in products">
                            <td>{{ item.productID }}</td>
                            <td>{{ item.type.names[currentLang.code] }}</td>
                            <td>{{ item.volume }}</td>
                            <td>{{ item.created }}</td>
                            <td>{{ item.price }} {{ item.currency }}</td>
                            <td>
                                <input class="form-control" ng-change="notEmptyPrices()"
                                       ng-disabled="!showPercentPrices" placeholder="%"
                                       ng-model="form.pricesPercent[item.productID]" type="text"/>
                            </td>
                            <td>
                                <input class="form-control" ng-change="notEmptyPrices()"
                                       ng-disabled="!showNormalPrices" ng-model="form.prices[item.productID]" type="text"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table ng-if="reclamation.pricesChanged	== 1" class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'product' | translate }}</th>
                            <th>{{ 'amout' | translate }}</th>
                            <th>{{ 'date' | translate }}</th>
                            <th>{{ 'price' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in products">
                            <td>{{ item.productID }}</td>
                            <td>{{ item.type.names[currentLang.code] }}</td>
                            <td>{{ item.volume }}</td>
                            <td>{{ item.created }}</td>
                            <td>
                                <span class="oldPrice">{{ item.copyPrice.price }} {{ item.copyPrice.currency }}</span>
                                <br>
                                {{ item.price }} {{ item.currency }}

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <div ng-if="reclamation.pricesChanged == 1" class="col-md-12">
                    <button type="button" ng-click="restoreOrderPrice(order)" class="btn btn-primary">
                        {{ 'restore_base_price' | translate }}
                    </button>
                </div>

            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button ng-if="reclamation.pricesChanged == 0" class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>
</form>
