<div class="modal-header">
    <h3 class="modal-title">{{ 'files' | translate }}</h3>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'files' | translate }}</h3>
            <table class="table table-responsive table-file-list">
                <tbody>
                <tr ng-repeat="file in files">
                    <td class="image-prev col-md-2">
                        <img class="img-responsive" src="{{file.minUrl}}">
                    </td>
                    <td class="file-name">
                        <a target="_blank" href="{{file.url}}" title="{{ 'view' | translate}}">
                            {{ file.name }}
                        </a>
                    </td>
                    <td class="file-size">{{ formatSizeUnits(file) }}</td>
                    <td class="file-remover">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
</div>