<div class="modal-header">
    <h3>{{ 'addresses' | translate }} - {{ 'order_no' | translate }} {{ order.orderNumber }}</h3>
</div>
<form ng-submit="save()" class="form-horizontal">
    <div class="modal-body">
        <div class="form-body">
            <!-- orderAddresses -->
            <div class="row">
                <ul class="panel panel-default" ng-repeat="orderAddress in order.addresses">
                    <li class="panel-body">
                        <!-- div po lewej -->
                        <div class="col-lg-6">
                            <div class="row">
                                <!-- addressy -->
                                <div class="col-lg-6 col-sm-6">
                                    <label class="control-label">
                                        <small class="text-muted ng-binding">Shipping address</small>
                                    </label>
                                    <select class="form-control" ng-model="orderAddress.copyFromID"
                                            ng-options="userAddress.ID as userAddress.addressName for userAddress in userAddresses"
                                            ng-required="true">
                                        <option value="">{{ 'select_address' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <label class="control-label">
                                        <small class="text-muted ng-binding">Method of delivery</small>
                                    </label>
                                    <select class="form-control" ng-model="orderAddress.deliveryID"
                                            ng-options="delivery.ID as delivery.names[currentLang.code] for delivery in deliveries"
                                            ng-required="true">
                                        <option value="">{{ 'select_delivery' | translate }}</option>
                                    </select>
                                    <!-- <input style="display:none" ng-model="orderAddress.copyFromID" name="copyFromID"> -->
                                </div>
                            </div>
                        </div>
                        <!-- div po prawej -->
                        <div class="col-lg-6">
                            {{orderAddress.products}}
                            <div class="row" ng-repeat="addressProduct in orderAddress.products">
                                <!-- foreach orderAddress.products -->
                                <div class="col-lg-6">
                                    <label class="control-label">
                                        <small class="text-muted ng-binding">{{ 'products' | translate }}</small>
                                    </label>

                                    <div class="input-group">
										<span class="input-group-btn">
											<button ng-click="addProduct(orderAddress)"
                                                    class="btn btn-primary ng-binding"
                                                    tooltip="{{ 'add_product' | translate }}" type="button"><i
                                                    class="fa fa-plus"></i></button>
										</span>
                                        <select class="form-control" ng-model="addressProduct.productID"
                                                ng-change="selectProduct(orderAddress)"
                                                ng-options="product.ID as (product.name || product.calcProducts[0].typeName) for product in order.products">
                                            <!-- tylko jeżeli jest jeden adres to możemy wybrać produkty -->
                                            <option ng-disabled="form.orderAddresses.length != 1" value="">wszystkie
                                                produkty
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label">
                                        <small class="text-muted ng-binding">Separate volume</small>
                                    </label>
                                    <div class="input-group">
                                        <div class="input-icon">
                                            <i class="fa fa-info-circle"
                                               tooltip="Rozdzielając nakład możesz wysłać określoną ilość sztuk produktu pod inny adres"></i>
                                            <input class="form-control" type="text" ng-model="addressProduct.volume"
                                                   ng-disabled="!addressProduct.productID"
                                                   placeholder="Enter your volume"
                                                   ng-required="addressProduct.productID">{{ order.product.volume }}
                                        </div>
                                        <span class="input-group-btn">
											<button ng-if="orderAddress.products.length > 1"
                                                    ng-confirm-click="removeProduct(orderAddress, $index)"
                                                    tooltip="{{ 'remove_product' | translate }}"
                                                    class="btn btn-danger ng-binding" type="button"><i
                                                    class="glyphicon glyphicon-remove"></i></button>
										</span>
                                    </div>
                                    <div ng-show="alert" ng-class="text-warning">{{ alertExceededText | translate }} {{
                                        alertValueExceeded }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <button ng-confirm-click="removeAddress($index)" class="btn btn-danger btn-xs"
                                    type="button"><i class="glyphicon glyphicon-remove"></i></button>
                            <label class="control-label">
                                <small class="text-muted ng-binding">{{ 'remove_address' |translate }}</small>
                            </label>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button ng-click="addAddress()" class="btn btn-primary btn-block" type="button"><i
                            class="fa fa-plus"></i> {{ 'add_address' | translate }}
                    </button>
                </div>

            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>
</form>
