<div class="modal-header">
	<h3 class="modal-title">{{ 'order' | translate }}: {{ order.orderNumber }} </h3>
</div>
<form ng-submit="save()">
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<h3>{{ 'select_address_invoice' | translate }}</h3>
			<select name="invoice_address" class="form-control form-filter input-sm" ng-model="form.addressID" ng-options="invoiceAddress.ID as invoiceAddress.addressName for invoiceAddress in invoiceAddresses" ><option value="" ng-disabled="form.addressID != null">{{ 'select_invoice_address' | translate }}</option></select>
			<b>{{ 'name' | translate }}: {{ order.invoiceAddress.addressName }}</b><br/>
			{{ order.invoiceAddress.companyName }}<br />
			{{ order.invoiceAddress.nip }}<br />
			{{ order.invoiceAddress.zipcode }} {{ order.invoiceAddress.city }}<br />
			{{ order.invoiceAddress.street }} {{ order.invoiceAddress.house }}<span ng-if="order.invoiceAddress.apartment">/</span>{{ order.invoiceAddress.apartment }}<br />
		</div>
	</div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
<button class="btn btn-success">{{ 'save' | translate }}</button>
</div>
</form>
