<div class="modal-header">
    <h3 class="modal-title">Odrzucenie plików: {{ order.name }} </h3>
</div>
<form class="form-horizontal" role="form" ng-submit="ok()">
    <div class="modal-body">
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'explanation' | translate }}</label>
                <div class="col-md-9">
                    <div ds-tinymce ng-model="rejectInfo"></div>
                </div>
            </div>
        </div>

        <h3>Wybierz pliki, które są poprawne:</h3>
        <div class="list-group clickable">
            <a class="list-group-item"
               data-ng-repeat="file in files"
               data-ng-click="file.selected = (file.selected != 1 ? 1 : 0)"
               data-ng-class="{active: file.selected}">
                <p>{{file.optName}} {{file.sideTargetName|translate}}</p>
                <p class="list-group-item-heading">
                    <small>{{file.ID}}</small>
                    {{file.name}}
                    <img src="{{file.url}}" style="width: 150px;"/>
                </p>
                <p class="list-group-item-text">
                    {{ 'created' | translate }}: {{ file.created }}
                </p>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>
</form>
