<div id="showThumbnail" class="modal" tabindex="-1" role="dialog" aria-labelledby="showThumbnail"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modalImage">
                <button class="btn btn-danger closeButton" data-dismiss="modal">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <div class="image-cover-container">
                    <img loading="lazy" ng-repeat="img in actualFile" ng-src="{{img}}" alt="" class="center-block img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
