@use './../shared' as *;

#viewsContainerPopUp {
	display: flex;
	flex-direction: row;
	gap: .8rem;

    .simple-container {

        &.ui-sortable {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: .8rem;
        }

        .simple-container-title {
            display: none;
        }

        .viewElemFromPopUp {
            border-radius: var(--border-xs-radius);
            height: 8.8rem;
            min-width: 4.25rem;
            padding: .5rem .5rem 1rem .5rem;
            background-color: var(--gray-200);
            position: relative;
        
            &.notrepeatable {
                background-color: var(--gray-700) !important;
        
                .pageElemFromPopUp {
        
                    .imageContainerSortSection {
        
                        .imageElemFromPopUp {
                            cursor: default;
        
                            &:hover {
        
                                &::after {
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
            
            .pageElemFromPopUp {
                background-color: var(--gray-700);
                border-radius: var(--border-xs-radius);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .6rem .6rem .2rem .6rem;

                .imageContainerSortSection {
                    display: flex;
                    flex-direction: row;
                    gap: .3rem;
                    height: 4.5rem;

                    .imageElemFromPopUp {
                        border: 1px solid var(--white);
                        border-radius: var(--border-xs-radius);
                        cursor: move;
                        height: 4.5rem;
                        width: 4.5rem;
                        overflow: hidden;
                        position: relative;
                      
                        &:hover {
                    
                          &::after {
                            transition: var(--transition-short);
                            content: "\0027";
                            position: absolute;
                            font-family: 'EditorIcons3';
                            font-size: 4.5rem;
                            color: var(--white);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                          }
                      
                          &:has(.dropLayer:hover)::after {
                            content: '';
                          }
                      
                          &:has(.imageRemover:hover)::after {
                            content: '';
                          }
                        }
                      
                        & > img {
                          max-width: 100%;
                          min-height: 100%;
                          object-fit: cover;
                        }

                        .imageRemover {
                            aspect-ratio: 1 / 1;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: var(--bs-gray-700);
                            padding: .1rem .35rem;
                            border-bottom-right-radius: var(--border-xs-radius);
                            border-top-left-radius: var(--border-xs-radius);
                            color: var(--white);
                            transition: var(--transition-short) ease-in-out;
                            z-index: 10;
                        
                            &:hover {
                                cursor: pointer;
                                background-color: var(--red);
                            }
                        
                            &::before {
                                font-family: EditorIcons;
                                content: "i";
                                font-size: 1.5rem;
                                margin-left: -.05rem;
                            }
                        }
                    }
                }

                .pageNumberPopUp {
                    bottom: 0;
                    color: var(--white);
                    font-weight: 400;
                    font-size: .9rem;
                    position: relative;
                    text-align: center;
                }
            }

            .bottomDrag {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 1.5rem;
                margin-top: .1rem;
                font-size: 2rem;

                .viewRemover {
                    transition: color 0.2s;
                    cursor: pointer;
                
                    &::before {
                        font-family: EditorIcons;
                        content: "i";
                    }
                }
                
                .seeView {
                    transition: color 0.2s;
                    cursor: pointer;
                
                    &::before {
                        content: "\0063";
                        font-family: EditorIcons;
                    }
                
                    &.notrepeat {
                        display: none;
                    }
                }

                .dragObjectPopUp {
                    font-family: EditorIcons;
                
                    &::before {
                        content: '\0027';
                        width: 100%;
                        cursor: move;
                    }
                }
            }
            
            .bottomDrag .viewRemover:hover, .seeView:hover {
                transition: color 0.2s;
                color: var(--gray-700);
            }
        }
    }
}


.proposedElemPopUp {
	height: 4.5rem;
	width: 4.5rem;
	border: 1px solid var(--white);
	border-radius: var(--border-xs-radius);
	cursor: move;

	&.prepareToDrop {
		background-color: var(--gray-200);

		&:hover {
			background-color: var(--white);
		}
	}
}

.dropLayer {
	background-color: var(--gray-opacity-lighter);
	min-height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	min-width: 100%;
	z-index: 2;

	&:hover {
		background-color: var(--white);
		opacity: 0.5;

		.imageRemover {
			opacity: 1;
		}
	}
}


.photosContainer {
	background-color: var(--gray-300);
	height: 9rem;
	min-width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	gap: .5rem;
	align-items: center;
	position: absolute;

    .photosContainerButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 10rem;
        margin-left: .3rem;
        gap: .3rem;

        .notUsedPhotosButton {
            background: #565656;
            cursor: pointer;
            height: 4rem;
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        
            &.active {
                opacity: 0.8;
            }
        
            &::before {
                font-family: 'EditorIcons3';
                content: '\005a';
                font-size: 3.5rem;
                color: var(--white);
                margin-top: .6rem;
            }
        
            &::after {
                content: 'Nieużyte zdjęcia';
                text-transform: uppercase;
                font-weight: 400;
                font-size: .8rem;
                color: var(--white);
                margin-top: .4rem;
                text-align: center;
                display: block;
            }
        }
        
        .usedPhotosButton {
            background-color: var(--gray-700);
            cursor: pointer;
            height: 4rem;
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        
            &.active {
                opacity: 0.8;
            }
        
            &::before {
                font-family: 'EditorIcons3';
                content: '\0061';
                font-size: 3.5rem;
                color: var(--white);
                margin-top: .6rem;
            }
        
            &::after {
                content: 'Użyte zdjęcia';
                text-transform: uppercase;
                font-weight: 400;
                font-size: .8rem;
                color: var(--white);
                margin-top: .4rem;
                text-align: center;
                display: block;
            }
        }
    }

    .photosContent {
        width: 100%;
        height: 6.5rem;
        margin-right: .5rem;
        position: relative;
        display: flex;
        align-items: center;
    
        .scrollButton {
            cursor: pointer;
            background-color: var(--gray-300);
            width: 3rem;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--gray-700);
            font-size: 10.5rem;
            z-index: 999999999999999999;
    
            &.left {
                left: 0;
            }
    
            &.right {
                right: 0;
            }
        }

        .scrollButton {

            &.left {
    
                &::before {
                    font-family: editorIcons;
                    content: "³";
                }
    
                &:hover {
    
                    &::before {
                        transform: scale(0.9);
                        transition: transform 0.2s ease 0s;
                    }
                }
            }
    
            &.right {
    
                &::before {
                    font-family: editorIcons;
                    content: "²";
                }
    
                &:hover {
    
                    &::before {
                        transform: scale(0.9);
                        transition: transform 0.2s ease 0s;
                    }
                }
            }
        }

        .photosContainerInner {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            overflow: hidden;
            margin-left: 3.5rem;
            margin-right: 3.7rem;
            flex-grow: 1;
            width: 0;
            scroll-behavior: smooth;
        
            &.notUsed {
        
                .photoElemPopUp {
                    transition: width 0.4s, margin 0.4s, height 0.4s;
                    min-width: 0;
                    margin: 0;
                    overflow: hidden;
        
                    &.notUsed {
                        min-width: 6.5rem;
                        height: 6.5rem;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
}

.photoElemPopUp {
    height: 6.5rem;
    min-width: 6.5rem;
    margin-right: .5rem;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-xs-radius);
    position: relative;
    color: var(--white);
    padding: 0;
    cursor: move;
    z-index: 9000000000000 !important;

    &:last-of-type {
        margin-right: 0;
    }

    &:hover {
        background-color: var(--gray-opacity-lighter);
        background-blend-mode: overlay;
        transition: var(--transition-short);
    }

    & > span {
        position: absolute;
        background-color: var(--gray-700);
        border-radius: 50% !important;
        text-align: center;
        padding: 0;
        min-width: 1.5rem;
        min-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: white 1px solid;
        right: .25rem;
        bottom: .25rem;
        font-weight: 400;
    }
}


.windowCloser {
	position: absolute;
	right: 2rem;
	top: 2rem;
	background-color: var(--gray-700);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	font-size: 4.5rem;
	text-align: center;
	color: var(--white);
	cursor: pointer;
	box-shadow: var(--md-shadow);
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		transition: var(--transition-short);
		filter: brightness(1.05);
	}

	&::before {
		content: '\0044';
		font-family: 'EditorIcons3';
	}
}
