<div class="modal-header">
    <h3 class="modal-title">{{ filesTitle | translate }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="ok()">

    <div class="modal-body">

        <ul>
            <li ng-repeat="file in files">
                <a  href="{{file}}" target="_blank">
                    {{fileLabel | translate}} {{$index+1}}
                </a>
            </li>
        </ul>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
    </div>

</form>
