<div id='newThemeCategory' class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">      
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Nowa kategoria</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="category-theme-name" placeholder="Nazwa kategori">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="add-theme-category btn btn-primary" data-bs-dismiss="modal">Dodaj</button>
          </div>
    </div>
  </div>
</div>
