<div id='selectProject' class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Wybierz projekt</h4>
        </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" id="addNewProject" class="btn btn-primary">
                Nowy projekt
            </button>
          </div>
    </div>
  </div>
</div>