<div id='warning' class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Uwaga</h4>
                <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class='warning-icon'>
                </div>
                <div class="warning-info warning-description">
                    [Tekst do wprowadzenia]
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-button" data-bs-dismiss="modal" aria-label="Cancel">Anuluj
                </button>
                <button type="button" class="btn danger-button" data-bs-dismiss="modal">Rozumiem</button>
            </div>
        </div>
    </div>
</div>
