<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-pagelines"></i> {{ 'inquiry_list' | translate }}
				</div>
				<div class="tools">
		          <well class="btn-sm">{{ 'number_of_rows' | translate }}: <span class="badge">{{ cartsCtrl.totalItems }}</span> </well>
		          <select ng-model="showRows" class="btn-default input-sm" ng-change="cartsCtrl.setRows(showRows)" ng-options="each for (null, each) in [10,25,50,100]" ></select>
		          <button button-faq-accordion="orders.inquiry-list"></button>
		        </div>
			</div>
			<div class="portlet-body">
				<button class="btn btn-sm marginRight10" 
					ng-class="{'btn-primary': action == 'open'}" ng-click="show('open')" >
	        {{ 'open_inquiries' | translate }}
	      </button>
	      <button class="btn btn-sm marginRight10" 
	      	ng-class="{'btn-primary': action == 'close'}" ng-click="show('close')" >
	        {{ 'close_inquiries' | translate }}
	      </button>
	      <button class="btn btn-sm marginRight10" 
	      	ng-class="{'btn-primary': action == 'send'}" ng-click="show('send')" >
	        Zapytania wysłane
	      </button>
	      <button class="btn btn-sm marginRight10" 
	      	ng-class="{'btn-primary': action == 'inOrder'}" ng-click="show('inOrder')" >
	        {{ 'inquiries_in_realization' | translate }}
	      </button>

	      <span ng-if="!auctions.length" class="btn red-sunglo-stripe" style="display:block; text-align:left; margin-top:10px;">
					{{ 'no_inquiries_to_display' | translate }}
				</span>

				<div class="wrapper1">
					<div class="div1"></div>
				</div>

				<div ng-if="!!auctions.length" class="overflowContainer">
					<table class="table table-striped table-hover">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">#</th>
								<th>{{ 'inquiry_close_date' | translate }}</th>
								<th>{{ 'realization_date' | translate }}</th>
								<th>{{ 'product' | translate }}</th>
								<th>{{ 'inquiry_description' | translate }}</th>
								<th ng-if="action == 'inOrder'">Opis zamówienia</th>
								<th ng-if="action == 'inOrder'">Numer PO</th>
								<th>{{ 'actions' | translate }}</th>
							</tr>
							<tr role="row" class="filter">
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="ID" ng-model="AuctionsListCtrl.list.ID"> -->
								</td>
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="{{ 'receive_date' | translate }}" ng-model="AuctionsListCtrl.list.date"> -->
								</td>
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="{{ 'product' | translate }}" ng-model="AuctionsListCtrl.list.product"> -->
								</td>
								<td width="9%">
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="{{ 'volume' | translate }}" ng-model="AuctionsListCtrl.list.volume"> -->
								</td>
								<td>
								<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="{{ 'realization_date' | translate }}" ng-model="AuctionsListCtrl.list.volume"> -->
								</td>
								<td>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="auction in auctions">
								<td>
									{{ auction.ID }}
								</td>
								<td>
									{{ auction.endDate }}
								</td>
								<td>
									{{ auction.realizationDate }}
								</td>
								<td>
									<div ng-repeat="item in auction.items" class="currentAuctionsProduct">
										<span><i class="fa fa-cube"></i> {{ item.productName }}</span>
										<p>
											{{ 'product_name'| translate}}: <b>{{ item.name }}</b>
										</p>
										<p>
											{{ 'signature'| translate}}: <b>{{ item.signature }}</b>
										</p>
										<p ng-if="item.pages">
											{{ 'pages'| translate}}: <b>{{ item.pages }}</b>
										</p>
										<p>
											{{ 'format'| translate}}: <b>{{ item.formatName }} {{ item.formatWidth ? item.formatWidth + ' x ' + item.formatHeight + ' mm' : ''}} </b>
										</p>
										<p ng-repeat="opt in item.options">
											{{ opt.attrName }}: <b>{{ opt.optName }}</b>
										</p>
										<p>
											{{ 'volume'| translate}}: <b>{{ item.volume }}</b>
										</p>
										<p ng-if="item.singleDelivery">
											{{ 'shipping_in_one_place' | translate }}: <b>{{ item.singleDelivery }}</b>
										</p>
										<p ng-if="item.multiDelivery">
											{{ 'shipping_by_distribution_list' | translate }}: <b>{{ item.multiDelivery }}</b>
										</p>
										<br />
										<span ng-if="item.files">
											Pliki podglądowe:
										</span>
										<p ng-repeat="file in item.files">
											{{ 'name' | translate }}: 
											<!-- <a  ng-click="getFile(file)"> -->
											<a href="{{ getFile(file, auction.fromCompanyID) }}">
												{{ file.name }}
											</a>
										</p>
										<p ng-if="!item.files">
											Brak dodanych plików podglądowych
										</p>
									</div>
								</td>
								<td>
									{{ auction.description }}
								</td>
								<td ng-if="action == 'inOrder'">
									{{ auction.orderDescription }}
								</td>
								<td ng-if="action == 'inOrder'">
									{{ auction.poNumber }}
								</td>
								<td ng-class="{fileField: action == 'inOrder'}">
									<button ng-if="action == 'open'" class="btn btn-xs" ng-class="{'bg-success': auction.hasResponse, 'blue-hoki': !auction.hasResponse}" ng-click="answerAuction(auction)"><i class="fa fa-envelope"></i> {{ 'send_reply' | translate }}</button>
									<button ng-if="action != 'open'" class="btn btn-xs" ng-class="{'bg-success': auction.hasResponse, 'blue-hoki': !auction.hasResponse}" ng-click="showAuctionAnswer(auction)"><i class="glyphicon glyphicon-info-sign"></i> {{ 'see_made_offer' | translate }}</button>

									<div class="fileField" ng-if="action == 'inOrder'">
										Pliki: <br/>
										<div ng-repeat="file in auction.auctionFiles">
											{{ 'name' | translate }}: 
											<!-- <a  ng-click="getFile(file)"> -->
											<a href="{{ getAuctionFile(auction, file) }}">
												{{ file.name }}
											</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<pagination total-items="cartsCtrl.totalItems" ng-model="cartsCtrl.currentPage" ng-change="cartsCtrl.setPage(cartsCtrl.currentPage); cartsCtrl.get()" class="pagination-sm" max-size="10" boundary-links="true" rotate="true" items-per-page="cartsCtrl.params.limit" ></pagination>

			</div>
		</div>
	</div>
</div>