<div class="row">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-user"></i> {{ 'operators' | translate }}
                </div>
                <div class="tools">
                    <button button-faq-accordion="orders.operators"></button>
                </div>
            </div>
            <div class="portlet-body">
                <button class="btn btn-sm marginRight10" ng-click="go(operator)" ng-repeat="operator in operators"
                        ng-class="{'blue-hoki': currentOperatorID != operator.ID, 'btn-success': currentOperatorID == operator.ID}">
                    {{operator.name}}
                </button>
                <div ng-if="logsCtrl.items.length"  class="row" style="margin-top: 25px;margin-bottom: 25px;">
                    <div ng-repeat="state in filterStates" class="col-sm-4 col-md-3 col-lg-2" style="padding: 5px 20px; box-sizing: border-box;">
                        <div class="row">
                            <button style="width: 100%;" type="button" class="btn btn-default" ng-class="{'btn-warning': state==currentFilterState}" ng-click="applyFilter(state)">
                                {{ state+'_tasks' | translate }}
                                <span class="badge"> {{ stateCounters[state] }} </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="logsCtrl.items.length" class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="10%" sort-trigger>#</th>
                            <th>{{ 'order_id' | translate }}</th>
                            <th>{{ 'date' |translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                            <th>{{ 'attributes' | translate }}</th>
                            <th sort-trigger>{{ 'name' | translate }}</th>
                            <th>
                                {{ 'operation' | translate }}
                            </th>
                            <th>{{ 'device' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="log in stateItems(logsCtrl.items, currentFilterState)">
                            <td>
                                {{ log.ID }}
                            </td>
                            <td>
                                <button class="btn blue-hoki btn-xs"
                                        ui-sref="orders-products({productID: log.productID})"
                                        tooltip="{{ 'product_id' | translate}} {{ log.productID }}">
                                    {{ log.productID }}
                                </button>
                                <p>{{ 'realization_date' | translate }}: <b>{{ log.realisationDate || '-' }}</b></p>
                            </td>
                            <td>
                                {{ log.date }}
                                <p>{{ 'total_time_of_operation' | translate }}:<br/> {{ formatTime(log.sumTime) }}</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs"
                                        ng-class="{'btn-success': log.state == 1, 'btn-danger': log.state == 3}"
                                        ng-disabled="1">
                                    <span class="glyphicon"
                                          ng-class="{ 'glyphicon-play': log.state == 1, 'glyphicon-pause': log.state == 2, 'glyphicon-stop': log.state == 3 }"></span>
                                </button>
                                <br/>
                                <p>{{ 'operation_id' | translate }}: {{ log.ID }}</p>
                            </td>
                            <td>
                                <p class="marginBottomNo noWrap">
                                    {{ log.calcProduct.formatName }}
                                    <br>
                                    <b>{{ log.calcProduct.formatWidth }} x {{ log.calcProduct.formatHeight }}</b>
                                </p>
                                <p ng-repeat="attr in log.calcProduct.attributes" class="marginBottomNo noWrap">
                                    {{ attr.attrName }} <b>{{ attr.optName }}</b>
                                </p>
                                <p class="marginBottomNo noWrap">
                                    {{ 'volume' | translate }} <b>{{ log.volume }}</b>
                                </p>
                            </td>
                            <td>
                                {{ log.calcProduct.typeName }}
                            </td>
                            <td>
                                {{ _.findWhere(operations, {ID: log.operationID}).name }}
                            </td>
                            <td>
                                {{ _.findWhere(devices, {ID: log.deviceID}).name }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <span ng-if="!logsCtrl.items.length && currentOperatorID" class="btn red-sunglo-stripe"
                      style="display:block; text-align:left; margin-top:10px;">
        {{ 'no_operation_for_operator' | translate }}
        </span>

            </div>
        </div>
    </div>
</div>
