<div class="row">

    <div class="col-md-12">
            <div class="form-body">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            {{ 'production_schedule' | translate }}<br>
                        </div>
                        <div class="tools" style="text-align: right;">
                            <well class="btn-sm">
                                {{ 'number_of_rows' | translate }}: <span class="badge">{{ dpProducts.totalItems }}</span>
                            </well>
                            <select class="btn-default input-sm" ng-model="showRows" ng-change="dpProducts.setRows(showRows)" ng-options="each for (null, each) in [10,25,50,100]"></select>
                            <button ng-click="dpProducts.clearCache()" class="btn btn-primary btn-sm">
                                <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                            </button>
                            <button button-faq-accordion="productionPath.schedule"></button>
                            
                            <a class="btn btn-primary btn-sm" style="height: auto;" ui-sref="production-schedule-gantt">
                                <i class="icon-graph"></i> {{ 'change_to_gantt_view' | translate }}
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="overflowContainer">
                            <table class="table">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th style="width:5%;">#</th>
                                        <th>{{ 'product' | translate }}</th>
                                        <th>{{ 'priority' | translate }}</th>
                                        <th>{{ 'realisation_date' | translate }}</th>
                                        <th>{{ 'planned_time' | translate }} [s]</th>
                                        <th>{{ 'date_start' | translate }}</th>
                                        <th>{{ 'date_end' | translate }}</th>
                                        <th>{{ 'client' | translate }}</th>
                                        <th>{{ 'Format' | translate }}</th>
                                        <th>{{ 'Volume' | translate }}</th>
                                        <th>{{ 'sheet_number' | translate }}</th>
                                        <th>{{ 'attributes' | translate }}</th>
                                        <th>{{ 'action' | translate }}</th>
                                    </tr>
                                    <!--<tr role="row" class="filter heading">
                                        <td>
                                            <input ng-change="setParams()" type="text" class="form-control form-filter input-sm" placeholder="ID" ng-model="dpProducts.params.ID">
                                        </td>
                                        <td>
                                            <input ng-change="setParams()" type="text" class="form-control form-filter input-sm" placeholder="{{ 'user_id' | translate }}" ng-model="dpProducts.params.userID">
                                        </td>
                                        <td>
                                            <input ng-change="setParams()" type="text" class="form-control form-filter input-sm" placeholder="{{ 'cart_id' | translate }}" ng-model="dpProducts.params.orderID">
                                        </td>
                                        <td>
                                            <input ng-change="setParams()" type="text" class="form-control form-filter input-sm" placeholder="{{ 'product' | translate }}" ng-model="dpProducts.params.name">
                                        </td>
                                    </tr>-->
                                </thead>
                                <tbody ui-sortable="sortableOptions" ng-model="dpProducts.items">
                                    <tr class="product-row" ng-repeat="product in dpProducts.items">
                                        <td>
                                            <button tooltip="Sort" class="btn btn-default btn-sm button-sort">
                                                <span class="fa fa-arrows-v"></span>
                                            </button>
                                            {{ product.ID }}
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                    <b>{{ subProducts.typeName }}</b><br>
                                                    ID: {{ subProducts.ID }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                             {{ product.priority }}
                                        </td>
                                        <td>
                                            {{ product.realisationDate }}
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                    <b>{{ subProducts.ongoings.plannedTime }}</b>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                    {{ subProducts.ongoings.startDate }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                    {{ subProducts.ongoings.endDate }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span ng-if="product.defaultAddress.apertment">{{ product.defaultAddress.companyName }}</span><br> {{ product.defaultAddress.name }} {{ product.defaultAddress.lastname }} <br>
                                            {{ 'order_id' | translate }}: {{ product.orderID }}
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                   {{ subProducts.formatName }}
                                                    <b>
                                                        {{ subProducts.formatWidth }} x {{ subProducts.formatHeight }}
                                                        {{ subProducts.formatUnit == 2 ? 'cm' : 'mm' }}
                                                    </b>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            {{ product.volume }}
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                   {{ subProducts.sheets }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="marginBottomNo">
                                                <div ng-repeat="subProducts in product.products">
                                                    <div ng-repeat="attr in subProducts.attributes">
                                                        <span ng-if="!attr.emptyChoice">{{ attr.attrName }}: {{ attr.optName }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-xs red-sunglo" ng-click="noAccept(product)">
                                            {{ 'undo_accept' | translate }}
                                        </button>
        
                                            <button tooltip="Generuj JDF" ng-click="getProductXml(product)" class="btn blue-hoki btn-xs">JDF
                                        </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fixedPositionSave" ng-show="sortChange">
                            <button class="btn btn-success" ng-click="sortSave()">
                                {{ 'save_the_change_order' | translate }}
                            </button>
                            <button class="btn red-sunglo" ng-click="sortCancel()">
                                {{ 'cancel' | translate }}
                            </button>
                        </div>

                        <pagination total-items="dpProducts.totalItems" ng-model="dpProducts.currentPage" ng-change="dpProducts.setPage(dpProducts.currentPage); dpProducts.get()" class="pagination-sm" max-size="10" boundary-links="true" rotate="true" items-per-page="dpProducts.params.limit"></pagination>
                    </div>
                </div>
            </div>


    </div>
</div>
