<div class="row">
  <div class="col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-share-alt-square"></i> {{ "production_panel" | translate }}
        </div>
        <div class="tools">
          <button button-faq-accordion="orders.productionPanel"></button>
        </div>
      </div>
      <div class="portlet-body">
    
        <form class="form-horizontal" ng-submit="go()">
          <input type="text" ng-model="form.orderID" placeholder="{{ 'order_id' | translate }}" focus-on="productionPanelInput" />
          <button class="btn blue-hoki btn-sm">{{ 'submit' | translate }}</button>
        </form>

        <div class="overflowContainer">
          <table ng-if="!!tasks.length" class="table table-striped table-hover">
            <thead>
              <tr role="row" class="heading">
                <th width="5%" sort-trigger>#</th>
                <th>{{ 'order_id' | translate }}</th>
                <th>{{ 'actions' | translate }}</th>
                <th>{{ 'product' | translate }}</th>
                <th>{{ 'operation' | translate }}</th>
                <th>{{ 'machine' | translate }}</th>
              </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" ng-model="tasks">
              <tr ng-repeat="task in tasks"
              ng-class="{warning: task.details}">
                <td>
                  <!-- <button tooltip="Sort"
                  class="btn btn-default btn-sm button-sort">
                    <span class="fa icon-cursor-move"></span>
                  </button> -->
                  {{ task.ID }}
                </td>
                <td>
                  {{ task.orderID }}<br />
                  <p>{{ 'realization_date' | translate }}: <b>{{ task.realizationDate || '-' }}</b></p>
                </td>
                <td ng-if="!task.finished" class="noWrap">
                  <button ng-click="changeOngoing(task, 1);"
                  type="button" class="btn btn-default btn-xs"
                  ng-class="{'btn-success': task.state === 1}"
                  ng-disabled="task.finished" tooltip="Start">
                  <span class="glyphicon glyphicon-play"></span>
                  </button>
                  <button ng-click="changeOngoing(task, 2);" type="button" class="btn btn-default btn-xs"
                  ng-class="{'btn-success': task.state === 2}"
                  ng-disabled="task.finished" tooltip="{{ 'pause' | translate }}">
                  <span class="glyphicon glyphicon-pause"></span>
                  </button>
                  <button ng-confirm-click="changeOngoing(task, 3);" confirm-text="are_you_sure" type="button" class="btn btn-default btn-xs"
                  ng-class="{'btn-success': task.state === 3}"
                  ng-disabled="task.finished" tooltip="Stop">
                  <span class="glyphicon glyphicon-stop"></span>
                  </button>
                </td>
                <td ng-if="!!task.finished">
                  {{ 'finished_exclamation' | translate }}
                </td>
                <td>
                  <b>
                    {{ task.name }}    
                  </b>
                  <p class="marginBottomNo noWrap">
                    {{ task.formatName }} <b>{{ task.width }} x {{ task.height }}</b>
                  </p>
                  <p ng-repeat="attr in task.attrs" class="marginBottomNo noWrap">
                    {{ attr.attrName }} <b>{{ attr.optName }}</b>
                  </p>
                  <p class="marginBottomNo noWrap">
                    {{ 'sets' | translate }} <b>{{ task.volume }}</b>
                  </p>
                  <p class="marginBottomNo noWrap">
                    {{ 'number_of_sets' | translate }} <b>{{ task.amount }}</b>
                  </p>
                </td>
                <td>   
                  {{ _.findWhere(operations, {ID: task.operationID}).name }}   
                </td>    
                <td>   
                  {{ _.findWhere(devices, {ID: task.deviceID}).name || 'Nieznana' }}   
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-if="!tasks.length && currentOrderID">
          {{ 'no_operation' | translate }}
        </div>

        <button class="btn btn-success" ng-if="sortChange" ng-click="sortSave()">
          {{ 'save_the_change_order' | translate }}
        </button>
        <button class="btn red-sunglo" ng-if="sortChange" ng-click="sortCancel()">
          {{ 'cancel' | translate }}
        </button>

      </div>
    </div>
  </div>
</div>
