<div class="row" ng-repeat="devices in devicesByDepartments">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption" ng-repeat="department in departments | filter:{'ID':  devices[0].departmentID}">
                    {{department.name}}
                        <span class="badge">
                        {{sumOngoings(devices, department.ID)}}</span>
                </div>
                <div class="tools">
                    <button button-faq-accordion="orders.planning"></button> 
                    <a class="btn btn-primary btn-sm" style="height: auto;" ui-sref="production-planning-gantt">
                        <i class="icon-graph"></i> {{ 'change_to_gantt_view' | translate }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="portlet-body col-lg-12 col-md-12" ng-repeat="device in devices" ng-if="device.planned.length > 0">
                    <b>{{ device.name }}</b>
                    <div class="overflowContainer">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                <th>#</th>
                                <th>{{ 'name' | translate }}</th>
                                <th>{{ 'client' | translate }}</th>
                                <th>{{ 'product' | translate }}</th>
                                <th>{{ 'planned_time' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody ui-sortable="sortableOptions" ng-model="device.planned">
                            <tr ng-repeat="task in device.planned">
                                <td class="noWrap verticalMiddle">
                                    <button tooltip="Sort"
                                            class="btn btn-default btn-sm button-sort">
                                        <span class="fa fa-arrows-v"></span>
                                    </button>
                                    {{ task.ID }}
                                </td>
                                <td>
                                    <span ng-if="!task.externalData">{{ task.device.name }} <br><b>({{ 'order_id' | translate }} {{task.orderID}})</b></span>
                                    <span ng-if="task.externalData">{{ task.device.name }}<br>{{ task.operationName }} ({{task.externalData.option.name}}) <br><b>({{ 'order_id' | translate }} {{task.orderID}})</b></span>
                                </td>
                                <td>{{task.user.name}} {{task.user.lastname}}</td>
                                <td>{{ task.calculateProduct.typeName }}</td>
                                <td>{{toHours(task.estimatedTime)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixedPositionSave">
        <button class="btn btn-success" ng-if="sortChange" ng-click="sortSave()">
            {{ 'save_the_change_order' | translate }}
        </button>
        <button class="btn red-sunglo" ng-if="sortChange" ng-click="sortCancel()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</div>