<div ui-view="raportsMenu"></div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <a ui-sref="production-raports-operators" style="font-size: 12px;">
                        << {{ 'go_back_to_operators_list' | translate }}
                    </a><br>
                    <h3 class="modal-title">{{ 'raport_of_operator' | translate }}: {{ operator.name }} </h3>
                </div>

                <div class="tools">
                    <button button-faq-accordion="productionPath.raportOperator"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <div>
                        <button ng-click="changeDate('last_full_week')" class="btn btn-primary btn-sm">{{
                            'last_full_week' | translate }}
                        </button>
                        <button ng-click="changeDate('last_full_month')" class="btn btn-primary btn-sm">{{
                            'last_full_month' | translate }}
                        </button>
                        <button ng-click="changeDate('today')" class="btn btn-primary btn-sm">{{
                            'today' | translate }}
                        </button>
                        <button ng-click="changeDate('yesterday')" class="btn btn-primary btn-sm">{{
                            'yesterday' | translate }}
                        </button>
                        <button ng-click="changeDate('last_week')" class="btn btn-primary btn-sm">{{
                            'last_week' | translate }}
                        </button>
                        <button ng-click="changeDate('last_month')" class="btn btn-primary btn-sm">{{
                            'last_month' | translate }}
                        </button>
                    </div>
                    <div style="width: 200px;">
                        {{ 'date_from' | translate }}<br>
                        <div ng-model="dateStart" ng-change="dateChange" dp-datepicker></div>
                        {{ 'date_to' | translate }}<br>
                        <div ng-model="dateEnd" ng-change="dateChange" dp-datepicker></div>
                    </div>
                    <span>
                        {{ 'number_of_days' | translate }}:  {{ periodStats.days }}<br>
                        {{ 'time_of_work' | translate }}: {{ formatTime(periodStats.work) }}<br>
                        {{ 'time_of_break' | translate }}: {{ formatTime(periodStats.breaks) }}<br>
                        {{ 'total_time' | translate }}: {{ formatTime(periodStats.totalTime) }}
                    </span>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr role="row" class="heading">
                                <th width="8%">#</th>
                                <th>{{ 'order_id' | translate }}</th>
                                <th>{{ 'client' | translate }}</th>
                                <th>{{ 'product' | translate }}</th>
                                <th>{{ 'device' | translate }}</th>
                                <th>{{ 'date' | translate }}</th>
                                <th>{{ 'planned_finish' | translate }}</th>
                                <th>{{ 'action' | translate }}</th>
                                <th>{{ 'time_of_work' | translate }}</th>
                                <th>{{ 'time_of_break' | translate }}</th>
                                <th>{{ 'task_time' | translate }}</th>
                                <th>{{ 'planned_taks_time' | translate }}</th>
                            </tr>
                            <tr role="row" class="filter">
                                <td>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'order_id' | translate }}" ng-model="filterData.orderID" ng-change="search()">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'client' | translate }}" ng-model="filterData.client" ng-change="search()">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'product' | translate }}" ng-model="filterData.product.names.pl" ng-change="search()">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'device' | translate }}" ng-model="filterData.device.name" ng-change="search()">
                                </td>
                                <td>
                                </td>
                                <td>
                                    <!--<input type="text" class="form-control form-filter input-sm" placeholder="{{ 'action' | translate }}" ng-model="filterData.state" ng-change="search()">-->
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </thead> 
                    </table>
                    <div ng-if="!filterOngoingsByDate.length" style="height: 200px; width:200px;">

                    </div>

                    <div ng-repeat="date in filterOngoingsByDate">
                        <h3>{{ date.title }}</h3>
                        <span>
                            {{ 'working_day' | translate }} - {{ formatTime(date.workingDay) }} ({{ 'from' | translate }}: {{ date.workingDayStart }} {{ 'to' | translate }}: {{ date.workingDayEnd }})<br>
                            {{ 'time_of_work' | translate }} - {{ formatTime(date.timeOfWork) }}<br>
                            {{ 'time_of_break' | translate }} - {{ formatTime(date.timeOfBreak) }}<br>
                            {{ 'amount_of_finished_tasks' | translate }} - {{ date.finishedTasks }}<br>
                            {{ 'amount_of_not_late_tasks' | translate }} - {{ (date.finishedTasks - date.lateFinishedTasks)}}<br>
                            {{ 'amount_of_late_tasks' | translate }} - {{ date.lateFinishedTasks }}
                        </span>
                        <table ng-if="!!date.data.length" class="table table-striped table-hover">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="8%">#</th>
                                    <th>{{ 'order_id' | translate }}</th>
                                    <th>{{ 'client' | translate }}</th>
                                    <th>{{ 'product' | translate }}</th>
                                    <th>{{ 'device' | translate }}</th>
                                    <th>{{ 'date' | translate }}</th>
                                    <th>{{ 'planned_finish' | translate }}</th>
                                    <th>{{ 'action' | translate }}</th>
                                    <th>{{ 'time_of_work' | translate }}</th>
                                    <th>{{ 'time_of_break' | translate }}</th>
                                    <th>{{ 'task_time' | translate }}</th>
                                    <th>{{ 'planned_task_time' | translate }}</th>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr ng-repeat="task in date.data | filter:filterData" ng-style="{'font-weight': task.isBrake == true ? '900' : 'normal'}">
                                    <td>
                                        {{ task.ID }}
                                    </td>
                                    <td>
                                        {{ task.orderID }}
                                    </td>
                                    <td>
                                        {{ task.client }}
                                    </td>
                                    <td ng-if="task.isBrake == false">
                                        (#{{ task.productID }}) {{ task.product.names.pl }}
                                    </td>
                                    <td ng-if="task.isBrake == false">
                                        <span ng-if="task.additionalOperationID">{{ task.device.name }}<br> <b>{{ task.additionalOperationName }}</b></span>
                                        <span ng-if="!task.additionalOperationID">{{ task.device.name }}</span>
                                    </td>
                                    <td colspan="5" ng-if="task.isBrake == true">
                                        {{ task.device.name }}
                                    </td>
                                    <td ng-if="task.isBrake == false">
                                        {{ task.date }}
                                    </td>
                                    <td ng-if="task.isBrake == false" ng-style="{'color': task.isLateRealisation == true ? 'red' : 'black'}">
                                        {{ task.realisationDate }}
                                    </td>
                                    <td ng-if="task.isBrake == false">
                                        <button type="button" class="btn btn-default btn-xs"
                                        ng-class="{'btn-success': task.state == 1, 'btn-danger': task.state == 3}" ng-disabled="1">
                                        <span class="glyphicon"
                                            ng-class="{ 'glyphicon-play': task.state == 1, 'glyphicon-pause': task.state == 2, 'glyphicon-stop': task.state == 3 }"></span>
                                    </button>
                                    </td>
            
                                    <td ng-if="task.timeOfWork != 'none' && task.isBrake == false">
                                        {{ formatTime(task.timeOfWork) }}
                                    </td>
                                    <td ng-if="task.timeOfWork == 'none'">
                                        
                                    </td>
        
                                    <td ng-if="task.isBrake == false">
                                        
                                    </td>
                                    <td colspan="3" ng-if="task.isBrake == true">
                                        {{ formatTime(task.timeOfBreak) }}
                                    </td>
                                    <td ng-if="task.isBrake == false">
                                        {{ formatTime(task.taskTime) }}
                                    </td>
                                    <td ng-if="task.isBrake == false">
                                        <span ng-if="task.plannedTaskTime">{{ formatTime(task.plannedTaskTime) }}</span>
                                    </td>
            
                                </tr>
                            </tbody>
                        </table>
                        <span ng-if="!filterOngoingsByDate.length" class="btn red-sunglo-stripe">
                            {{ 'noLogs' | translate }}<br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>