<div class="row">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-user"></i> {{ 'statuses' | translate }}
                </div>
                <div class="tools">
                    <button button-faq-accordion="orders.statuses"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="10%" sort-trigger>#</th>
                            <th>{{ 'name' | translate }} <select ng-model="showLang" ng-options="lang.code as lang.name for (key, lang) in languages" ng-init="showLang = currentLang.code"></select></th>
                            <th>{{ 'active' | translate }}</th>
                            <th>{{ 'color' | translate }}</th>
                            <th>{{ 'type' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="statuses" >
                        <tr ng-repeat="status in statuses | orderBy: 'sort'">
                            <td class="noWrap verticalMiddle">
                                <button
                                        class="btn btn-default btn-xs button-sort">
                                    <span class="fa fa-arrows-v"></span>
                                </button>
                                {{ status.ID }}
                            </td>
                            <td>
                                {{ status.langs[showLang] }}
                            </td>
                            <td>
                                <span class="btn blue-stripe btn-xs"
                                      ng-class="{'red-sunglo-stripe': !status.active}">
                                    {{ status.active ? 'yes' : 'no' | translate }}
                                </span>

                            </td>
                            <td>
                                <div style="width:20px;height:20px;background:{{ status.color }};" ng-style=""></div>
                            </td>
                            <td>
                                <select class="form-control" ng-options="type.ID as type.name | translate for type in statusTypes"
                                        ng-model="status.type"
                                        ng-change="updateType(status)">
                                </select>
                            </td>
                            <td>
                                <button ng-click="edit(status)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button ng-confirm-click="remove(status)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'delete' | translate }}"
                                        class="btn red-sunglo btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-success" ng-if="sortChange" ng-click="sortSave()">
                        {{ 'save_the_change_order' | translate }}
                    </button>
                    <button class="btn red-sunglo" ng-if="sortChange" ng-click="sortCancel()">
                        {{ 'cancel' | translate }}
                    </button>

                </div>

            </div>
        </div>

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption font-green-haze col-md-3 text-right">
                    {{ 'add_status' | translate }}
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form" ng-submit="save()">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                            <div class="col-md-9">
                                <select class="form-control" ng-init="selectedLang = currentLang.code" ng-model="selectedLang" ng-options="each.code as each.name for (key, each) in languages"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-repeat="lang in languages" ng-show="selectedLang == lang.code" ng-model="statusForm.langs[lang.code].name" type="text" class="form-control" placeholder="{{lang.code}}" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'color' | translate }}</label>
                            <div class="col-md-9">
                                <input colorpicker="hex" ng-model="statusForm.color" type="text"
                                       class="form-control" placeholder="{{ 'color' | translate }}" >
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="btn-group pull-right">

                                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'save' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>