<div class="row">
    <div class="col-lg-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-user"></i> {{ 'transport' | translate }}
                </div>
            </div>
            <div class="portlet-body">

                <form class="form-horizontal" role="form" ng-submit="search()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'order_id' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.orderID" type="text" class="form-control" placeholder="{{ 'order_id' | translate }}">
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'search' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div ng-if="orderAddresses.length > 0" class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button class="btn btn-lg btn-success" ng-click="generateAllLabels(orderAddresses)">{{ 'print_all_address_label' | translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="margin-top row" ng-repeat="orderAddress in orderAddresses" >
                            <div class="col-md-6">
                                {{ 'transport' | translate }}: {{ orderAddress.delivery.langs[currentLang.code].name }}
                                <b ng-if="orderAddress.joinID > 0">({{ 'combined_delivery' | translate }}: #{{orderAddress.joinID}})</b>
                                <br>
                                {{ 'product' | translate }}: {{ orderAddress.product.type.names[currentLang.code] }}<br>
                                {{ 'gross_price' | translate }}: {{ orderAddress.basePrice.grossPrice }} {{ orderAddress.basePrice.currency }}<br>
                                {{ 'volume' | translate }}: {{ orderAddress.volume }}<br>
                                {{ 'weight' | translate }}: {{ orderAddress.calculation.weight }} kg<br>
                                {{ 'package_weight' | translate }}: {{ orderAddress.delivery.confPrice.weight }} kg<br>
                                {{ 'product_in_connect_delivery' | translate }}: {{ orderAddress.joined }}<br>
                                {{ 'pickup_address' | translate }}:<br>
                                <span ng-if="orderAddress.address.companyName">{{ orderAddress.address.companyName }}</span>
                                <span ng-if="!orderAddress.address.companyName">{{ orderAddress.address.name }} {{ orderAddress.address.lastname }}</span>
                                <br>
                                {{ orderAddress.address.street }} {{ orderAddress.address.house }}<span ng-if="orderAddress.address.apartment">/{{orderAddress.address.apartment}}</span>
                                <br>
                                {{ orderAddress.address.zipcode }} {{ orderAddress.address.city }}
                            </div>
                            <div class="col-md-6">
                                <div ng-if="!orderAddress.joined || (orderAddress.joined && orderAddress.joinedMiddle)">
                                    <h4>{{ 'print_address_label' | translate }}</h4>
                                    <div ng-if="orderAddress.shipmentID">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="label in orderAddress.labels">
                                                <a class="btn btn-lg btn-success" target="_blank" ng-href="{{label}}">
                                                    {{ 'text_print' | translate }}
                                                </a>
                                            </li>
                                        </ul>
                                        <button ng-confirm-click="removeAddressLabel(orderAddress)" class="btn btn-danger">
                                            {{ 'remove_address_label' | translate }}
                                        </button>
                                    </div>
                                    <div ng-if="orderAddress.joinedMiddle" class="well">
                                        {{	'total_weight' | translate }}:  {{ orderAddress.joinedWeight }} kg
                                    </div>
                                    <form ng-if="!orderAddress.shipmentID" class="form-horizontal" role="form" ng-submit="generateLabel(orderAddress)">
                                        <div class="form-body">
                                            <input ng-if="orderAddress.joinedMiddle" type="hidden" ng-model="orderAddress.joinedWeight" />

                                            <div ng-if="!orderAddress.calculation.weight" class="form-group">
                                                <label class="col-md-3 control-label">{{ 'weight' | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="orderAddress.input.weight"
                                                           type="text" class="form-control"
                                                           placeholder="{{ 'weight' | translate }}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'width' | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="orderAddress.input.width"
                                                           ng-init="orderAddress.input.width = orderAddress.courier.settings.default_package_width"
                                                           type="text" class="form-control" placeholder="{{ 'width' | translate }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'height' | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="orderAddress.input.height"
                                                           ng-init="orderAddress.input.height = orderAddress.courier.settings.default_package_height"
                                                           type="text" class="form-control" placeholder="{{ 'height' | translate }}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{{ 'length' | translate }}</label>
                                                <div class="col-md-9">
                                                    <input ng-model="orderAddress.input.length"
                                                           ng-init="orderAddress.input.length = orderAddress.courier.settings.default_package_length"
                                                           type="text" class="form-control" placeholder="{{ 'length' | translate }}">
                                                </div>
                                            </div>

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'text_print' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>