.panel-summary {
    .summary-price {
        color: @panel-info-text;
        text-align: center;

        b {
            display: block;
        }

        padding-top : @padding-base-vertical;
        padding-bottom : @padding-base-vertical;

        .value,
        .currency {
            color: @brand-primary;
        }

        .value {
            font-size: @font-size-h2;
        }

        .currency {
            font-size: @font-size-h4;
        }
    }

    .price-per-item {
        padding: @padding-base-vertical/2 @padding-base-horizontal;
    }
}

.box-volume {
    height: @volumes-height;
}

table.table-volume-header {
    margin-bottom: 0;

    .th-realisation-time {
        text-align: center;
        font-size: ceil((@font-size-base * 0.8));

        .info {
            font-size: ceil((@font-size-base * 0.6));
            color: @gray-dark;
        }

        span {
            display: block;
        }
    }
}

table.table-volume {
    .th-volume {
        width: 5em;
    }

    .th-realisation-time {
        text-align: center;
        font-size: ceil((@font-size-base * 0.8));

        .info {
            font-size: ceil((@font-size-base * 0.6));
            color: @gray-dark;
        }

        span {
            display: block;
        }
    }

    td {
        padding: 0 !important;
    }

    .col-volume {
        padding-right: 8px !important;
        text-align: right;
        position: relative;
        align-items: center;
        height: 100%;
        justify-content: end;

        span.fa {
            position: absolute;
            left: 5px;
            top: 2px;
        }

        .volume-icon {
            position: absolute;
            top: 12px;
            left: 5px;

            img.price-list-icon {
                width: 15px;
            }
        }
    }

    margin-bottom : 0;
    height: 1px;
}

table.table-volume-header {
    .th-volume {
        width: 5em;
    }
}

table.table-volume {
    .col-volume {
        width: 5em;
    }
}

.col-box-volume {
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;

    &:hover {
        background-color: @gray-lighter;
    }

    &.bg-success {
        background-color: lighten(@gray-light, 30%);

        &:hover {
            background-color: @gray-lighter;
        }
    }

    .price-regular {
        line-height: floor(@font-size-base * 1.1);
        display: block;

        .price-gross {
            font-size: ceil((@font-size-base * 0.8));
        }

        .price-net {
            font-weight: bold;
        }
    }

    .price-old {
        line-height: floor(@font-size-base * 1.1);
        display: block;
        text-decoration: line-through;
        font-size: ceil((@font-size-base * 0.8));

        .price-old-gross {
            font-size: ceil((@font-size-base * 0.6));
        }
    }

    .price-special {
        color: @brand-danger;
    }

    padding:2px 8px;
    text-align : center;
    height: 100% !important;
}

.one-line-price {

    &:hover .one-line-price-col {
        background-color: #eeeeee;

        .col-box-volume {
            min-height: 36px;
        }
    }

    .col-box-volume.bg-success {
        background-color: #f7f7f7;
        min-height: 36px;

        &:hover {
            background-color: #f7f7f7;
        }

    }

    .price-regular {
        line-height: floor(@font-size-base * 2.3);
        display: block;
        font-weight: bold;
    }

}


.thumbnail-margin {
    a:hover {
        cursor: pointer;
    }

    margin-top: 10px;
    margin-bottom:20px;
}

.select-by-picture {
    li {
        cursor: pointer;
        list-style: none;
        padding: 0;
        margin: 5px 0;
    }

    li .list-group-item {
        margin: 0 5px;
        min-height: 135px;
        position: relative;
    }

    li .list-group-item .open-picture {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 18px;
    }

    margin-top:5px;
    margin-bottom:0;

    .max-lines {
        display: block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        min-height: (@additional-line-height*3);
        max-height: (@additional-line-height*3);
        line-height: @additional-line-height;
    }
}


select.one-element-select.form-control {
    -webkit-appearance: none;
    cursor: auto;
    background: @body-bg;
}

.select-product-heading {
    padding: 0;
    border: none;
}

.select-product-form {

    margin-bottom: 0;

    input {
        font-size: @font-size-h4;
        height: 41px;
        background: @headings-color;
        border-width: 0px;
        border-bottom-width: 1px;
    }

    ::-webkit-input-placeholder {
        color: @text-color;
    }

    ::-moz-placeholder {
        color: @text-color;
    }

    :-ms-input-placeholder {
        color: @text-color;
    }

    :-moz-placeholder {
        color: @text-color;
    }

    .select {
        position: relative;

        i.fa {
            position: absolute;
            top: 8px;
            right: 12px;
            font-size: @font-size-h3;
            cursor: pointer;
        }
    }

    ul.dropdown-menu li a {
        font-size: @font-size-h4;
        cursor: pointer;
    }
}

.technology-list {
    margin-top: 10px;

    img {
        width: 30px;
    }

    a.technology-switch {
        cursor: pointer;
    }
}

.calc-separator {
    display: block;
    width: 100%;
    margin-bottom: 17px;
    margin-top: 18px;
    line-height: inherit;
    border-bottom: 1px solid #e5e5e5;
}

.rowQuotationActive {
    top: 280px !important;
}

.one-line-price .price-regular {
    line-height: normal !important;
}

.control-custom-label {
    padding-left: 6% !important;
    text-align: left !important;
}

.control-custom-label2 {
    padding-left: 6% !important;
    text-align: left !important;
    padding-bottom: 5px;
}

.class-custom-select-box:hover {
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 30%);
    transition: all 0.2s ease-in;
}

.custom-list-view {
    width: auto;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    width: 48%;
}

.stickyStyle1 {
    position: sticky;
    top: 150px;
}

.rowSticky1 {
    height: 100%;
}

.priceStyle {
    line-height: 32px;
}

.priceStyle2 {
    display: inline !important;
}

.selected-right-option {
    background-color: #d9edf7;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle !important;
}

.col-box-volume {
    padding: 4px 8px;
}

.realisation-thead {
    width: 50%;
}

.rowColors td:nth-of-type(3),
.rowColors th:nth-of-type(3) {
    color: #f6891e;
}

.rowColors td:nth-of-type(4),
.rowColors th:nth-of-type(4) {
    color: #527abd;
}

.custom-attribute-view-mobile {
    display: none;
}

.custom-attribute-view-desktop {
    display: block;
}

.productTitleSticky {
    position: sticky;
    top: 50px;
    z-index: 13;
    background: white;
}

@media (max-width:932px) {
    .rowQuotationActive {
        top: 0px !important;
    }

    .productTitleSticky {
        position: relative;
        top: 0px;
        z-index: 13;
        background: white;
    }

    .custom-attribute-view-mobile {
        display: block;
    }

    .custom-attribute-view-desktop {
        display: none;
    }

    .stickyStyle1 {
        position: relative;
        top: 0;
    }

    .headSticky {
        position: relative;
        top: 0;
    }

    .rowSticky1 {
        height: auto;
    }

    .custom-list-view {
        width: 98%;
    }

    .mobile-dropdown-menu {
        top: 30px !important;
        left: 0 !important;
    }
}

.upperCustomVolumePanel {
    padding-top: 20px;
    clear: both;
}

.headSticky {
    position: sticky;
    top: 140px;
    z-index: 10;
    background: white;
    margin-right: 0;
}

.LeftMenuProducts {
    list-style: none;
}

.LeftMenuProducts>li {
    width: 100%;
    padding-left: 15px;
    font-size: 14px !important;
}

.LeftMenuProducts>li>a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.LeftMenuProductsItems {
    list-style: none;
}

.LeftMenuProductsItems>li {
    width: 100%;
    padding-left: 15px;
    font-size: 12px !important;
}

.LeftMenuProductsItems>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.panelRightOrderMax {
    overflow: hidden;
}

.one-line-price-col.bg-success {
    background-color: #f7f7f7;
}

.one-line-price:hover .one-line-price-col.bg-success {
    background-color: #f7f7f7 !important;
}

.imagesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.imagesContainer .isFirstInGroup {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    padding-right: 15px;
    border: 1px solid #000000;
    border-right: none;
}

.imagesContainer .isLastInGroup {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    padding-left: 15px;
    border: 1px solid #000000;
    border-left: none;
}

.imagesContainer .isMiddleInGroup {
    border-radius: 0;
    margin: 10px 0;
    padding: 15px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.imagesContainer .isInGroup {
    background-color: #f8dab6 !important;
}

.imageWrapper {
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    justify-content: space-between;
    background: #fdf0e1;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.imageWrapper .image {
    position: relative;
}

.imageWrapper .image .navigationTrash {
    position: absolute;
    top: -10px;
    right: -10px;
}

.imageWrapper .image .navigationRestore {
    position: absolute;
    top: -10px;
    left: -10px;
}

.imageWrapper img {
    width: 100%;
    height: auto;
}

.imageWrapper .navigation {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
}

.imageWrapper .quantity {
    width: 100%;
    padding-top: 10px;
}

.imageWrapper .quantity .quantityHolder {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.quantityHolder .minusWrapper {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
}

.quantityHolder .qtyWrapper {
    background-color: white;
    color: black;
    padding: 5px;
    width: 50px;
    border: solid 1px black;
    text-align: center;
    height: 32px;
}

.quantityHolder .plusWrapper {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
}

.btn-qty {
    height: 32px;
    background-color: white;
    border-color: white;
    color: black !important;
    font-size: 19px !important;
    outline: none !important;
    border: solid 1px black !important;
    width: 35px;
}

.btn-qty:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.imageWrapper .fileName {
    font-size: 12px;
    width: 100%;
    overflow: hidden;
}

.calcFilesNavigation {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.navPagination {
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navPagination .paginationList {
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.navPagination .paginationList span {
    font-size: 12px;
}

.navPagination select {
    height: 30px;
    width: 70px;
    padding: 0 10px;
}

.bottomPagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-round {
    border-radius: 5px;
    border-width: 3px;
    box-sizing: border-box;
}

.btn-bw {
    background-color: #7c7e79;
    border-color: #7c7e79;
    color: white !important;
}

.btn-bw-active {
    background-color: #7c7e79;
    border-color: #7c7e79;
    color: white !important;
}

.btn-sepia {
    margin-left: 5px;
    background-color: #93725f;
    border-color: #93725f;
    color: white !important;
}

.btn-copy {
    margin-left: auto;
    background-color: #52b85c;
    border-color: #52b85c;
    color: white !important;
}

.btn-edit {
    margin-left: 5px;
    background-color: #6bc774;
    border-color: #6bc774;
    color: white !important;
}

.btn-cropp {
    margin-left: 5px;
    background-color: #59a661;
    border-color: #59a661;
    color: white !important;
}

.btn-removeFilters {
    margin-left: 5px;
    background-color: #a65959;
    border-color: #a65959;
    color: white !important;
}

.btn-trash {
    margin-left: auto;
}

.btn-nav-active {
    background-color: #6bb300 !important;
    border-color: #6bb300 !important;
}

.editImageWrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.imageCol {
    width: 70%;
}

.editCol {
    padding: 0 20px;
    width: 30%;
}

.rangeCol {
    width: 100%;
}

.slider-container {
    display: flex;
    flex-direction: column;

    .slider {
        width: 100%;
        margin: 0 auto;
    }

    .slider-values {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        font-size: 10px;

        .slider-min {
            text-align: left;
        }

        .slider-max {
            text-align: right;
        }
    }
}

img.ng-thumb {
    height: 50px;
    float: left;
    display: block;
    cursor: pointer;
    margin: 2px 2px 0 0;
}

.slider {
    width: 100%;
    margin: 0 auto; /* Dodatkowe wycentrowanie w razie potrzeby */
}

.slider-container {
    display: flex;
    flex-direction: column; /* Ułóż slider i wartości w kolumnie, czyli jeden pod drugim */
}

.slider-values {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Odległość od suwaka */
    width: 100%; /* Opcjonalnie, aby wartości min i max rozciągnęły się na pełną szerokość */
    font-size: 10px;
}

.slider-values .slider-min {
    text-align: left;
}

.slider-values .slider-max {
    text-align: right;
}

.attribute-desription {
    margin-top: 10px;
}

.well {
    margin-botttom: 0px !important
}

/* Additional styles from style_calc.css */
// produkt widok
.rowQuotationActive{
        top: 280px !important;
 }
.custom-list-view-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between!important;
}
@media (min-width:992px) {
        .custom-list-view-container {
            margin-right: 15px;
        }
}
.no-padding-right {
        padding-right: 0px !important;
}
.select-by-picture li .list-group-item {
        margin: 0 5px;
        min-height: 144px;
        position: relative;
}
.no-margin {
        margin-left: 0px !important;
        margin-right: 0px !important;
}
.stickyStyle2 {
        position: sticky;
        top: 443px;
}
.priceStyle3 {
        /*height: 36px;*/}
.form-horizontal .control-label {
        margin-left: 15px;
}
.table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        vertical-align: middle !important;
}
.rowColors td:nth-of-type(3),
    .rowColors th:nth-of-type(3) {
        color: #f6891e;
}
.rowColors td:nth-of-type(4),
    .rowColors th:nth-of-type(4) {
        color: #527abd;
}
/*Own format*/
    .custom-format-container {
        padding-left: 15px;
        padding-right: 15px;
    }
.custom-format-item .slider-container {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
}
.custom-format-item .slider {
        width: calc(100% - 40px);
        max-width: 100%;
        height: 6px;
        -webkit-appearance: none;
        appearance: none;
}
.custom-format-item .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: #727272;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-top: -1px;
        cursor: pointer;
}
.custom-format-item .slider::-moz-range-thumb {
        background-color: #727272;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        cursor: pointer;
}
.custom-format-item .slider::-ms-thumb {
        background-color: #727272;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        cursor: pointer;
}
/*END own format*/



@media (min-width: 992px) {
        .no-padding-right-attribute {
            padding-right: 0px !important;
        }
}
.stickyStyle2 {
            position: relative;
            top: 0;
}
.scroll-product {
        display: flex;
}
.scroll-product > a {
        padding:10px;
        text-decoration: none;
}
.caret {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-right: none;
        border-left: 4px dashed;
        float: right;
        margin-top: 5px;
}
/* Default layout for select-by-picture: 4 items per row */
    .custom-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
.custom-grid-item {
        flex-basis: calc(25% - 10px); /* Element width - adjust the value of 10px to suit your needs. */
        box-sizing: border-box;
        margin-bottom: 10px;
}
@media (max-width: 1599px) {
    .custom-grid-item {
        flex-basis: calc(33.33% - 10px); /* 3 items per row */
    }
}
@media (max-width: 1199px) {
    .custom-grid-item {
        flex-basis: calc(50% - 10px); /* 2 items per row */
    }
}
@media (max-width: 991px) {
    .custom-grid-item {
        flex-basis: calc(33.33% - 10px); /* 3 items per row */
    }
}
@media (max-width: 767px) {
    .custom-grid-item {
        flex-basis: calc(50% - 10px); /* 2 items per row */
    }
}
@media (max-width: 559px) {
    .custom-grid-item {
        flex-basis: 100%; /* 1 item per row */
    };
}
