<div class="modal-header">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{ 'category' | translate }} ID: {{form.ID}}</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="save()">
    <div class="modal-body">

        <div class="form-body">


            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="nameLang" ng-init="nameLang = currentLang.code"
                            ng-options="lang.code as lang.name for lang in languages">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.langs[lang.code].name" type="text" class="form-control"
                           placeholder="{{lang.code}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'url_name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.langs[lang.code].url" type="text" class="form-control"
                           placeholder="{{lang.code}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker">
	                <span ng-class="{checked: !!parseInt(form.active)}">
	                  <input ng-model="form.active" ng-true-value="1" ng-false-value="0" type="checkbox">
	                </span>
                            </div>
                            {{ 'active' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" >
                <label class="col-md-3 control-label">{{'icon' | translate}}</label>
                <div class="col-md-9">
                    <button type="button" ng-click="uploadIcon( form )" class="btn btn-primary">
                        {{ 'upload' | translate }}
                    </button>
                    <div ng-show="form.icon">
                        <img src="{{form.icon.url}}"
                             style="max-width:200px;border:1px solid #3e3e3e;"
                             class="img-rounded img-responsive" />
                        <button type="button" ng-confirm-click="deleteIcon( form )" class="btn red-sunglo btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" >
                    {{ 'select_discount_group' | translate }}
                    <i  tooltip="{{ 'restrict_category_to_discount_group' | translate }}"
                        class="fa fa-question-circle" aria-hidden="true"></i>
                </label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="form.discountGroupID"
                            ng-options="each.ID as each.langs[currentLang.code].name for each in discountGroups">
                        <option value="">{{ 'select' | translate }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-if="form.parentID > 0">
                <label class="col-md-3 control-label">{{'description' | translate}} HTML</label>
                <div class="col-md-9">
                    <div ng-repeat="lang in languages"
                         ng-show="icoLang == lang.code">
                        <div style="height:auto" class="form-control" ds-tinymce  ng-model="form.icons[lang.code]" type="text"></div>
                    </div>
                    <select class="form-control" ng-init="icoLang = currentLang.code" ng-model="icoLang"
                            ng-options="each.code as each.name for (key, each) in languages"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <div class="checkbox-list">
                        <label>
                            <div class="checker">
                                <span ng-class="{checked: form.onMainPage}">
                                    <input ng-model="form.onMainPage" type="checkbox">
                                </span>
                            </div>
                            {{ 'visible_on_main_page' | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <!-- metatagi -->


            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'title' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].title" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'keywords' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].keywords" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'description' | translate }}</label>
                <div class="col-md-9">
                    <textarea ng-model="form.metatags[nameLang].description" class="form-control"
                              placeholder="{{ nameLang }}">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_url' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].og_url" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_site_name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].og_site_name" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_locale' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].og_locale" type="text" class="form-control"
                           placeholder="pl_PL">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'Image' | translate }}</label>
                <div class="col-md-9">
                    <button type="button" ng-click="uploadImage(images, nameLang, form)"
                            class="btn btn-primary">
                        {{ 'upload' | translate }}
                    </button>
                    <div    ng-show="form.metatags[nameLang].imageID">
                        <img ng-src="{{ images[form.metatags[nameLang].imageID].url }}"
                             style="max-width:200px;border:1px solid #3e3e3e;"
                             class="img-rounded img-responsive"/>
                        <button type="button" ng-click="deleteImage(images, nameLang, form )"
                                class="btn red-sunglo btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_width' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].og_image_width" type="text" disabled class="form-control"
                           placeholder="{{ 1200 }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_height' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].og_image_height" type="text" disabled class="form-control"
                           placeholder="{{ 600 }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_alt' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].og_image_alt" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_card' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control"
                            ng-model="form.metatags[nameLang].twitter_card"
                            ng-options="option.code as option.name for option in card_opt">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_site' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.metatags[nameLang].twitter_site" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_creator' | translate }}</label>
                <div class="col-md-9">
                    <input g-repeat="" ng-model="form.metatags[nameLang].twitter_creator" type="text" class="form-control"
                           placeholder="{{ nameLang }}">
                </div>
            </div>
            <!-- Koniec metatagi -->

        </div>

    </div>

    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>
</form>