<div class="modal-header">
    <h3 class="modal-title">{{'description_edit' | translate}} : {{elem.langs.pl.name}}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body" ng-show="form.descType == 1">

        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="descriptionLang == lang.code"
                           ng-model="form.langs[lang.code].name" type="text" class="form-control"
                           placeholder="{{lang.code}}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ 'content' | translate }}</label>
            <div class="col-md-9">
                <div style="height:auto" class="form-control" ds-tinymce ng-repeat="lang in languages"
                     ng-show="descriptionLang == lang.code" ng-model="form.langs[lang.code].description"></div>
                <select class="form-control" ng-init="descriptionLang = currentLang.code" ng-model="descriptionLang"
                        ng-options="each.code as each.name for (key, each) in languages"></select>
            </div>
        </div>


    </div>

    <div class="modal-body" ng-show="form.descType == 2">

        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'Image' | translate }}</label>

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">{{ 'content' | translate }}</label>
            <div class="col-md-9">
                <div style="height:auto" class="form-control" ds-tinymce ng-repeat="lang in languages"
                     ng-show="descriptionLang == lang.code" ng-model="form.langs[lang.code].description"></div>
                <select class="form-control" ng-init="descriptionLang = currentLang.code" ng-model="descriptionLang"
                        ng-options="each.code as each.name for (key, each) in languages"></select>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>