<div class="modal-header">
    <h3 class="modal-title">{{ category.langs[showLang].name }} - {{ 'subcategories' | translate }}</h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr role="row" class="heading">
                    <th>#</th>
                    <th>
                        {{ 'name' | translate }}
                        <select ng-model="showLang" ng-options="lang.code as lang.name for (key, lang) in languages"
                                ng-init="showLang = currentLang.code"></select>

                    </th>
                    <th>
                        {{ 'url' | translate }}
                    </th>
                    <th>{{ 'discounts_group' | translate }}</th>
                    <th>{{ 'active' | translate }}</th>
                    <th class="text-right">{{ 'actions' | translate }}</th>
                </tr>
                </thead>
                <tbody ui-sortable="sortableOptions" ng-model="childs">
                <tr ng-repeat="child in childs | orderBy: 'sort'">
                    <td class="noWrap verticalMiddle">
                        <button
                                class="btn btn-default btn-xs button-sort">
                            <span class="fa fa-sort"></span>
                        </button>
                        {{ child.ID }}
                    </td>
                    <td>
                        {{ child.langs[showLang].name }}
                    </td>
                    <td>
                        {{ child.langs[showLang].url }}
                    </td>
                    <td>
                        <span>{{ child.discountGroupNames[showLang] }}</span>
                    </td>
                    <td>
                        <span class="btn blue-stripe btn-xs"
                              ng-class="{'red-sunglo-stripe': child.active == 0}">
                        {{ !!child.active ? 'yes' : 'no' | translate }}
                      </span>
                    </td>
                    <td class="text-right">
                        <button class="btn blue-hoki btn-xs" href="javascript:;" ng-click="editStart(child)"
                                tooltip="{{ 'edit' | translate }}">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button-template-variables category="{{child.ID}}"></button-template-variables>
                        <button ng-click="editChildDescriptions(child)"
                                data-toggle="tooltip" data-container="body" tooltip="{{ 'descriptions' | translate }}"
                                class="btn blue-hoki btn-xs">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </button>
                        <button class="btn red-sunglo btn-xs" href="javascript:;" ng-confirm-click="delete(child)"
                                tooltip="{{ 'delete' | translate }}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <a class="btn btn-default btn-xs" ui-sref="contents-categories-sort({categoryid: child.ID})">
                            <i class="fa fa-sort"></i>
                            {{ "sort" | translate }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-success" ng-if="sortChange" ng-click="sortSave()">
                {{ 'save_the_change_order' | translate }}
            </button>
            <button class="btn red-sunglo" ng-if="sortChange" ng-click="sortCancel()">
                {{ 'cancel' | translate }}
            </button>

            <form class="form-horizontal" role="form" ng-submit="save()">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-init="selectedLang = currentLang.code"
                                    ng-model="selectedLang"
                                    ng-options="each.code as each.name for (key, each) in languages"></select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-repeat="lang in languages" ng-show="selectedLang == lang.code"
                                   ng-model="form.langs[lang.code].name" type="text" class="form-control"
                                   placeholder="{{lang.code}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'url' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-repeat="lang in languages" ng-show="selectedLang == lang.code"
                                   ng-model="form.langs[lang.code].url" type="text" class="form-control"
                                   placeholder="{{lang.code}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" >
                            {{ 'select_discount_group' | translate }}
                            <i  tooltip="{{ 'restrict_category_to_discount_group' | translate }}"
                                class="fa fa-question-circle" aria-hidden="true"></i>
                        </label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="form.discountGroupID"
                                    ng-options="each.ID as each.langs[currentLang.code].name for each in discountGroups">
                                <option value="">{{ 'select' | translate }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{'icon' | translate}}</label>
                        <div class="col-md-9">
                            <div ng-repeat="lang in languages"
                                 ng-show="icoLang == lang.code">
                                   <div style="height:auto" class="form-control" ds-tinymce  ng-model="form.icons[lang.code]" type="text"></div>
                            </div>
                            <select class="form-control" ng-init="icoLang = currentLang.code" ng-model="icoLang"
                                    ng-options="each.code as each.name for (key, each) in languages"></select>
                        </div>
                    </div>
<!--                    &lt;!&ndash; Metatagi &ndash;&gt;-->
<!--                    <div class="form-group">-->
<!--                        <span class="col-md-3 control-label"><strong>{{'meta_tags' | translate}}</strong></span>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-md-3 control-label">{{ 'Title' }}</label>-->
<!--                        <div class="col-md-9">-->
<!--                            <input style="height:auto" type="text" class="form-control" ng-repeat="lang in languages"-->
<!--                                   ng-show="metatagsLang == lang.code" ng-model="form.metatags[lang.code].title"/>-->
<!--                        </div>-->
<!--                        <label class="col-md-3 control-label">{{ 'Keywords' }}</label>-->
<!--                        <div class="col-md-9">-->
<!--                            <textarea style="height:auto" class="form-control" ng-repeat="lang in languages"-->
<!--                                      ng-show="metatagsLang == lang.code"-->
<!--                                      ng-model="form.metatags[lang.code].keywords"></textarea>-->
<!--                        </div>-->
<!--                        <label class="col-md-3 control-label">{{ 'Description' }}</label>-->
<!--                        <div class="col-md-9">-->
<!--                            <textarea style="height:auto" class="form-control" ng-repeat="lang in languages"-->
<!--                                      ng-show="metatagsLang == lang.code"-->
<!--                                      ng-model="form.metatags[lang.code].description"></textarea>-->
<!--                            <select class="form-control" ng-init="metatagsLang = currentLang.code"-->
<!--                                    ng-model="metatagsLang"-->
<!--                                    ng-options="each.code as each.name for (key, each) in languages"></select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Koniec Metatagi &ndash;&gt;-->
                </div>

                <div class="modal-footer">
                    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}
                    </button>
                    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
