<div class="modal-header">
    <h3 class="modal-title">{{ 'Edit' | translate }}: {{ 'meta_tags' | translate }} {{metaTag.ID}}</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="save()">
    <div class="modal-body">
        <div class="form-body">

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="selectedLanguage" ng-init="selectedLanguage = currentLang.code"
                            ng-options="lang.code as lang.name for lang in languages">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'title' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].title" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'keywords' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].keywords" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'description' | translate }}</label>
                <div class="col-md-9">
                    <textarea ng-model="metaTag.languages[selectedLanguage].description" class="form-control"
                              placeholder="{{ selectedLanguage }}">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_url' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].og_url" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_site_name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].og_site_name" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_locale' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].og_locale" type="text" class="form-control"
                           placeholder="pl_PL">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'Image' | translate }}</label>
                <div class="col-md-9">
                    <button type="button" ng-click="uploadImage(metaTag.languages[selectedLanguage], selectedLanguage, metaTag.ID)"
                            class="btn btn-primary">
                        {{ 'upload' | translate }}
                    </button>
                    <div    ng-show="metaTag.languages[selectedLanguage].imageID">
                        <img ng-src="{{ metaTag.images[metaTag.languages[selectedLanguage].imageID].url }}"
                             style="max-width:200px;border:1px solid #3e3e3e;"
                             class="img-rounded img-responsive"/>
                        <button type="button" ng-click="deleteImage(selectedLanguage,metaTag)"
                                class="btn red-sunglo btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_width' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].og_image_width" type="text" disabled class="form-control"
                           placeholder="{{ 1200 }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_height' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].og_image_height" type="text" disabled class="form-control"
                           placeholder="{{ 600 }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'og_image_alt' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].og_image_alt" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_card' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control"
                            ng-model="metaTag.languages[selectedLanguage].twitter_card"
                            ng-options="option.code as option.name for option in card_opt">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_site' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="metaTag.languages[selectedLanguage].twitter_site" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'twitter_creator' | translate }}</label>
                <div class="col-md-9">
                    <input g-repeat="" ng-model="metaTag.languages[selectedLanguage].twitter_creator" type="text" class="form-control"
                           placeholder="{{ selectedLanguage }}">
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>
</form>
