<script type="text/ng-template" id="findUserTpl.html">
    <a>
        <span ng-bind-html="match.model.companyName || '' | typeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.name | typeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.lastname | typeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.user | typeaheadHighlight:query"></span>
        <span ng-bind-html="match.model.ID | typeaheadHighlight:query"></span>
        <span ng-if="match.model.fvAddress.companyName" ng-bind-html="match.model.fvAddress.companyName | typeaheadHighlight:query"></span>
    </a>
</script>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered-hoki">
            <div class="portlet-title">

                <ul class="nav nav-pills">
                    <li role="presentation" class="active">
                        <a ng-if="typeOfResource.type === 'order'" ui-sref="create-order">{{ 'creating_order' | translate }}</a>
                        <a ng-if="typeOfResource.type === 'offer'" ui-sref="create-offer">{{ 'creating_offer' | translate }}</a>
                    </li>
                    <li role="presentation">
                        <a ng-if="typeOfResource.type === 'order'" ui-sref="unfinished-orders">{{ 'orders_unfinished' | translate }}</a>
                        <a ng-if="typeOfResource.type === 'offer'" ui-sref="unfinished-offers">{{ 'uncompleted_offers' | translate }}</a>
                    </li>
                </ul>

                <div class="caption">
                    {{ 'create_order' | translate }}
                </div>
                <div class="tools">
                    <button ng-if="typeOfResource.type === 'order'"
                            button-faq-accordion="customerservice.createOrder"></button>
                    <button ng-if="typeOfResource.type === 'offer'"
                            button-faq-accordion="customerservice.createOffer"></button>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <!-- Produkty -->
                    <div class="row">

                        <div class="col-xs-6">

                            <form class="form-horizontal">

                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'ID' | translate}}</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text"
                                                   ng-model="order.searchUser"
                                                   typeahead="user as user.ID for user in findUser($viewValue, 'ID') | limitTo: userLimit"
                                                   typeahead-template-url="findUserTpl.html"
                                                   typeahead-no-results="noResults"
                                                   typeahead-editable="false"
                                                   placeholder="{{ 'search_user' | translate }}"
                                                   ng-disabled="!!currentUser" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'email' | translate}}</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text"
                                                   ng-model="order.searchUser"
                                                   typeahead="user as user.user for user in findUser($viewValue) | limitTo: userLimit"
                                                   typeahead-template-url="findUserTpl.html"
                                                   typeahead-no-results="noResults"
                                                   typeahead-editable="false"
                                                   placeholder="{{ 'search_user' | translate }}"
                                                   ng-disabled="!!currentUser" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'firstname' | translate}}</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text"
                                                   ng-model="order.searchUser"
                                                   typeahead="user as user.name for user in findUser($viewValue, 'firstName') | limitTo: userLimit"
                                                   typeahead-template-url="findUserTpl.html"
                                                   typeahead-no-results="noResults"
                                                   typeahead-editable="false"
                                                   placeholder="{{ 'search_user' | translate }}"
                                                   ng-disabled="!!currentUser" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'lastname' | translate}}</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text"
                                                   ng-model="order.searchUser"
                                                   typeahead="user as user.lastname for user in findUser($viewValue, 'lastName') | limitTo: userLimit"
                                                   typeahead-template-url="findUserTpl.html"
                                                   typeahead-no-results="noResults"
                                                   typeahead-editable="false"
                                                   placeholder="{{ 'search_user' | translate }}"
                                                   ng-disabled="!!currentUser" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'company_name' | translate}}</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text"
                                                   ng-model="order.searchUser"
                                                   typeahead="user as user.fvAddress.companyName for user in findUser($viewValue, 'companyName') | limitTo: userLimit"
                                                   typeahead-template-url="findUserTpl.html"
                                                   typeahead-no-results="noResults"
                                                   typeahead-editable="false"
                                                   placeholder="{{ 'search_user' | translate }}"
                                                   ng-disabled="!!currentUser" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'nip' | translate}}</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text"
                                                   ng-model="order.searchUser"
                                                   typeahead="user as user.fvAddress.nip for user in findUser($viewValue, 'nip') | limitTo: userLimit"
                                                   typeahead-template-url="findUserTpl.html"
                                                   typeahead-no-results="noResults"
                                                   typeahead-editable="false"
                                                   placeholder="{{ 'search_user' | translate }}"
                                                   ng-disabled="!!currentUser" />
                                        </div>
                                    </div>

                                    <div class="form-group center-block">
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i>
                                            {{ 'results_is_empty' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-xs-6">

                            <div class="well">
                                <h4>{{ 'selected' | translate }}</h4><br>
                                {{ 'user' | translate }}: <b>{{ order.searchUser.user }}</b><br>
                                {{ 'user_id' | translate }}: <b>{{ order.searchUser.ID }}</b><br>
                                <span ng-if="order.searchUser.fvAddress.companyName">
                                    {{ 'company_name' | translate }}: <b>{{ order.searchUser.fvAddress.companyName }}</b>
                                </span><br>
                                <span ng-if="order.searchUser.fvAddress.nip">
                                    {{ 'nip' | translate }}: <b>{{ order.searchUser.fvAddress.nip }}</b>
                                </span><br>
                                <div ng-if="order.searchUser.discountGroups.length > 0">
                                    {{ 'discount_groups' | translate }}:
                                    <span ng-repeat="discountGroup in order.searchUser.discountGroups">
                                        <b>{{ discountGroup.langs[currentLang.code].name }}</b><span ng-if="!$last"> | </span>
                                    </span>
                                </div>
                            </div>

                            <div class="">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ 'currency_name' | translate }}</label>
                                    <div class="col-md-9">
                                        <select class="form-control"
                                                ng-options="currency.code as currency.code for currency in currencies"
                                                ng-model="order.currency">
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-xs-2">
                    <button class="btn btn-sm btn-primary btn-block" ng-click="addUser(order)">
                        <i class="fa fa-user" ></i> {{ 'add_user' | translate }}
                    </button>
                </div>

                <div class="col-xs-4 col-xs-offset-2">

                    <form ng-submit="addProduct()">
                        <button class="btn btn-sm btn-primary btn-block marginedBtn breakLine">
                            <i class="fa fa-plus-circle"></i> {{ 'add_product' | translate }}
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>