<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-stack-overflow"></i> {{ 'offer_inqueries_list' | translate }}
				</div>
				<div class="tools">
		          <well class="btn-sm">{{ 'number_of_rows' | translate }}: <span class="badge">{{ cartsCtrl.totalItems }}</span> </well>
		          <!-- <select ng-model="showRows" class="btn-default input-sm" ng-change="cartsCtrl.setRows(showRows)" ng-options="each for (null, each) in [10,25,50,100]" ></select> -->
		          <!-- <button ng-click="cartsCtrl.clearCache()" class="btn btn-primary btn-sm"> -->
		            <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
		          </button>
		          <button button-faq-accordion="orders.carts"></button>
		        </div>
			</div>
			<div class="portlet-body">
				<div class="wrapper1">
					<div class="div1"></div>
				</div>

				<div class="overflowContainer">
					<table class="table table-striped table-hover">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">#<br />#a</th>
								<th>{{ 'create_date' | translate }}</th>
								<th>{{ 'products' | translate }}</th>
								<th>{{ 'suggested_realization_term' | translate }}</th>
								<th>{{ 'description' | translate }}</th>
								<th>{{ 'purchaser' | translate }}</th>
								<th>{{ 'status' | translate }}</th>
								<th>{{ 'actions' | translate }}</th>
							</tr>
							<tr role="row" class="filter">
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="ID" ng-model="OfferListCtrl.list.ID"> -->
								</td>
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="data otrzymania" ng-model="OfferListCtrl.list.date"> -->
								</td>
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="produkt" ng-model="OfferListCtrl.list.product"> -->
								</td>
								<td width="9%">
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="nakład" ng-model="OfferListCtrl.list.volume"> -->
								</td>
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="termin realizacji" ng-model="OfferListCtrl.list.realization"> -->
								</td>
								<td>
									<!-- <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"  placeholder="klient" ng-model="OfferListCtrl.list.ID"> -->
								</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="offer in offers">
								<td>
									{{ offer.ID }} <br /> {{ offer.auctionInfo.ID }}
								</td>
								<td>
									{{ offer.created }}
								</td>
								<td>
									<div ng-repeat="item in offer.items" class="currentAuctionsProduct">
										<span><i class="fa fa-cube"></i> {{ item.productName }}</span>
										<p>
											{{ 'product_name'| translate}}: <b>{{ item.name }}</b>
										</p>
										<p>
											{{ 'signature'| translate}}: <b>{{ item.signature }}</b>
										</p>
										<p ng-if="item.pages">
											{{ 'pages'| translate}}: <b>{{ item.pages }}</b>
										</p>
										<p>
											{{ 'format'| translate}}: <b>{{ item.formatName }} {{ item.formatWidth ? item.formatWidth + ' x ' + item.formatHeight + ' mm' : ''}} </b>
										</p>
										<p ng-repeat="opt in item.options">
											{{ opt.attrName }}: <b>{{ opt.optName }}</b>
										</p>
										<p>
											{{ 'volume'| translate}}: <b>{{ item.volume }}</b>
										</p>
										<p ng-if="item.singleDelivery">
											{{ 'shipping_in_one_place' | translate }}: <b>{{ item.singleDelivery }}</b>
										</p>
										<p ng-if="item.multiDelivery">
											{{ 'shipping_by_distribution_list' | translate }}: <b>{{ item.multiDelivery }}</b>
										</p>
										<p>
											{{ 'notices' | translate }}:
											<b> {{item.description}} </b>
										</p>
										<br />
										<span ng-if="item.files">
											Pliki podglądowe:
										</span>
										<p ng-repeat="file in item.files">
											{{ 'name' | translate }}: 
											<!-- <a  ng-click="getFile(file)"> -->
											<a href="{{ getFile(file) }}">
												{{ file.name }}
											</a>
										</p>
										<p ng-if="!item.files">
											Brak dodanych plików podglądowych
										</p>
									</div>
								</td>
								<td>
									{{ offer.realizationDate }}
								</td>
								<td>
									{{ offer.description }}
								</td>
								<td>
									{{ offer.userName + ' ' + offer.userLastname }}<br/>
									{{ offer.user }}
								</td>
								<td>	<!-- STATUS -->
									<p ng-if="!offer.auctionInfo.inRealization" class="bg-info" style="padding: 5px">
										{{ 'pending' | translate }}
									</p>
									<p ng-if="offer.auctionInfo.inRealization" class="bg-primary" style="padding: 5px">
										{{ 'ready_valuation' | translate }}
									</p>
									<p ng-if="offer.auctionInfo.inOrder" class="bg-success" style="padding: 5px">
										{{ 'order_sent' | translate }}
									</p>
									<br />
									<p ng-if="offer.auctionInfo.poNumber">
										{{ 'number' | translate }} PO: {{ offer.auctionInfo.poNumber }}
										
									</p>
									<br />
									{{ offer.auctionInfo.orderDescription }} 
								</td>
								<td ng-if="!offer.auctionInfo.inOrder">
									<button ng-if="offer.auctionInfo.inRealization && !offer.auctionInfo.inOrder" class="btn blue-hoki btn-sm marginBottomLight" ng-click="showWinner(offer)"> <i class="glyphicon glyphicon-star-empty"></i> {{ 'show_valuation' | translate }}</button>

								</td>
								<td ng-if="offer.auctionInfo.inOrder" class="fileField">
									<input type="file" ng-model="offer.files" ngf-select ngf-accept="'*/*,application/pdf'" ngf-multiple="true" ngf-change="uploadAuctionFile(offer)" />
									<div padding="5%" id="bar" class="progress progress-striped" role="progressbar">
										<div class="progress-bar progress-bar-progress" style="width: {{ offer.progress }}%">
										</div>
									</div>
									<div ng-repeat="file in offer.fileList">
										{{ 'name' | translate }}: 
										<!-- <a  ng-click="getFile(file)"> -->
										<a href="{{ getAuctionFile(offer, file) }}">
											{{ file.name }}
										</a>
										<button ng-confirm-click="removeItemFile(offer, file)" class="btn red-sunglo btn-xs" datatoggle="tooltip" tooltip="{{ 'delete' | translate }}"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<pagination total-items="cartsCtrl.totalItems" ng-model="cartsCtrl.currentPage" ng-change="cartsCtrl.setPage(cartsCtrl.currentPage); cartsCtrl.get()" class="pagination-sm" max-size="10" boundary-links="true" rotate="true" items-per-page="cartsCtrl.params.limit" ></pagination>

			</div>
		</div>
	</div>
</div>