<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-stack-overflow"></i>
                    {{ 'offer_list' | translate }}
                </div>
                <div class="tools">
                    <well class="btn-sm">{{ 'number_of_rows' | translate }}:
                        <span class="badge">{{ ordersCtrl.totalItems }}</span>
                    </well>
                    <select ng-model="showRows" class="btn-default input-sm" ng-change="ordersCtrl.setRows(showRows)"
                            ng-options="each for (null, each) in [10,25,50,100]"></select>

                    <button ng-click="ordersCtrl.clearCache()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="offers.offers-list"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="wrapper1">
                    <div class="div1"></div>
                </div>

                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%">#</th>
                            <th>{{ 'create_date' | translate }}</th>
                            <th>{{ 'seller' | translate }}</th>
                            <th width="3%">{{ 'info' | translate }}</th>
                            <th>{{ 'user' | translate }}</th>
                            <th>{{ 'products' | translate }}</th>
                            <th>{{ 'expiration_date' | translate }}</th>
                            <th>{{ 'status' | translate }}</th>
                            <th></th>
                        </tr>
                        <tr role="row" class="filter">
                            <td width="5%">
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="ID" ng-model="ordersCtrl.params.ID">
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <div ng-model="ordersCtrl.params.dateFrom" ng-change="setParams"
                                         dp-datepicker></div>
                                    <div ng-model="ordersCtrl.params.dateTo" ng-change="setParams"
                                         dp-datepicker></div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'email' | translate }}" ng-model="ordersCtrl.params.sellerMail" />
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="ID" ng-model="ordersCtrl.params.sellerID">
                            </td>
                            <td width="3%"></td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'email' | translate }}" ng-model="ordersCtrl.params.user">
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'user_id' | translate }}" ng-model="ordersCtrl.params.userID">
                            </td>
                            <td></td>
                            <td>
                                <div class="margin-bottom-5">
                                    <div ng-model="ordersCtrl.params.expireDateFrom" ng-change="setParams"
                                         dp-datepicker></div>
                                    <div ng-model="ordersCtrl.params.expireDateTo" ng-change="setParams"
                                         dp-datepicker></div>
                                </div>
                            </td>
                            <td>
                                <select ng-change="setParams()"  class="form-control form-filter input-sm"
                                        ng-model="ordersCtrl.params.orderFromOffer">
                                    <option value="">{{ 'select' | translate }}...</option>
                                    <option value="1">{{ 'offer_sended' | translate }}</option>
                                    <option value="-1">{{ 'offer_rejected' | translate }}</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in ordersCtrl.items">
                            <td>
                                {{ order.orderNumber }}
                            </td>
                            <td>
                                {{ order.created }}
                            </td>
                            <td>
                                {{ order.sellerName }} {{ order.sellerLastname }} <br/>
                                {{ order.sellerMail }}
                            </td>
                            <td>
                                <button ng-click="messages(order)" ng-class="{'btn-danger': order.unreadMessages, 'btn-primary': order.countMessages}" class="btn btn-default" type="button">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    <span ng-if="order.unreadMessages" class="badge badge-primary">{{ order.unreadMessages }}/{{ order.countMessages }}</span>
                                    <span ng-if="!order.unreadMessages && order.countMessages > 0" class="badge badge-primary">{{ order.countMessages }}</span>
                                </button>
                            </td>
                            <td ng-if="order.userID">
                                <span ng-if="order.userCompanyName">{{ order.userCompanyName }}</span><br/>
                                {{ order.userName }} {{ order.userLastname }}<br/>
                                {{ order.userMail }}
                            </td>
                            <td>
                                <div ng-repeat="product in order.products">
                                    <p class="marginBottomNo" ng-if="product.isMultiVolumeOffer == 1" style="color: red;"><b>{{ 'multi_volume_offer' |
                                        translate }}</b></p>

                                        <p class="marginBottomNo noWrap" ng-if="product.isMultiVolumeOffer == 1">
                                            {{ 'calculation_no' | translate }}:<br><b> <span ng-repeat="calc in product.currentMultiOfferVolumes">
                                                 - {{ calc.calcID }} / {{ calc.calcVer}}<br>
                                            </span></b>
                                        </p>
                                        <p class="marginBottomNo noWrap" ng-if="product.isMultiVolumeOffer != 1">
                                            {{ 'calculation_no' | translate }}:  <b>{{ product.calcID }}/{{ product.ver }}</b>
                                        </p>
                                    <p ng-if="product.name" class="marginBottomNo">
                                        <b>{{ product.name }}</b>
                                    </p>
                                        <span ng-repeat="calcProduct in product.calcProducts">
                                            <b>{{ calcProduct.typeName }}</b>
                                            <p class="marginBottomNo noWrap">
                                            {{ calcProduct.formatName }}
                                                <b>
                                                    {{ calcProduct.formatWidth }} x {{ calcProduct.formatHeight }}
                                                    {{ calcProduct.formatUnit == 2 ? 'cm' : 'mm' }}
                                                </b>
                                            </p>
                                            <p ng-repeat="attr in calcProduct.attributes" class="marginBottomNo noWrap">
                                            {{ attr.attrName }} <b>{{ attr.optName }} {{ attr.attrPages ? "("+attr.attrPages+")" : "" }}</b>
                                            </p>
                                        </span>
                                    <p>
                                        {{ 'volume' | translate }} <b>{{ product.volume }}</b>
                                    </p>
                                    <p>
                                        {{ 'price' | translate }}
                                        <b>{{ product.price }} {{ product.currency }}</b>
                                    </p>
                                    <button ng-if="order.production == 0" class="btn blue-hoki btn-xs" ng-click="edit(order, product)"><i
                                            class="fa fa-edit"></i> {{ 'edit' | translate }}
                                    </button>
                                    <button class="btn blue-hoki btn-xs" ng-click="history(order, product)"><i
                                            class="fa fa-book"></i> {{ 'history' | translate }}
                                    </button>
                                <button class="btn blue-hoki btn-xs" ng-click="createOrder(order)"><i
                                            class="fa fa-external-link"></i> {{ 'create_order' | translate }}
                                    </button>
                                </div>
                            </td>
                            <td>
                                {{ order.expires }}
                            </td>
                            <td>
                                <span ng-if="order.offerStatus === 1" >
                                    {{ 'offer_sended' | translate }}
                                </span>
                                <span ng-if="order.offerStatus === -1" >
                                    {{ 'offer_rejected' | translate }}
                                </span>
                            </td>
                            <td>
                                <button ng-if="order.offerStatus === -1" class="btn blue-hoki btn-xs"
                                        ng-click="renewOffer(order)"><i
                                        class="fa fa-repeat"></i> {{ 'renew_offer' | translate }}
                                </button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <pagination total-items="ordersCtrl.totalItems" ng-model="ordersCtrl.currentPage"
                            ng-change="ordersCtrl.setPage(ordersCtrl.currentPage); ordersCtrl.get()"
                            class="pagination-sm" max-size="10" boundary-links="true"
                            rotate="true" items-per-page="ordersCtrl.params.limit"></pagination>
            </div>
        </div>
    </div>
</div>
