<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-stack-overflow"></i> Lista zamówień
                </div>
                <div class="tools">
                    <well class="btn-sm">{{ 'number_of_rows' | translate }}:
                        <span class="badge">{{ ordersCtrl.totalItems || 0}}</span>
                    </well>
                    <select ng-model="showRows" class="btn-default input-sm" ng-change="ordersCtrl.setRows(showRows)"
                            ng-options="each for (null, each) in [10,25,50,100]"></select>

                    <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="orders.carts"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="wrapper1">
                    <div class="div1"></div>
                </div>

                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%">#</th>
                            <th>{{ 'order_date' | translate }}</th>
                            <th>{{ 'seller' | translate }}</th>
                            <th>{{ 'user' | translate }}</th>
                            <th>{{ 'products' | translate }}</th>
                            <th>{{ 'addresses' |translate }}</th>
                            <th>{{ 'invoice_data' | translate }}</th>
                            <th ng-if="order.isOffer">{{ 'expiration_date' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td width="5%">
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="ID" ng-model="ordersCtrl.params.orderNumber">
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <div ng-model="ordersCtrl.params.dateFrom" ng-change="setParams"
                                         dp-datepicker></div>
                                    <div ng-model="ordersCtrl.params.dateTo" ng-change="setParams"
                                         dp-datepicker></div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'email' | translate }}" ng-model="ordersCtrl.params.sellerMail" />
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="ID" ng-model="ordersCtrl.params.sellerID" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'email' | translate }}" ng-model="ordersCtrl.params.user" />
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'user_id' | translate }}" ng-model="ordersCtrl.params.userID" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in ordersCtrl.items">
                            <td>
                                {{ order.orderNumber }}
                            </td>
                            <td>
                                {{ order.modified }}
                            </td>
                            <td>
                                {{ order.sellerName }} {{ order.sellerLastname }} <br/>
                                {{ order.sellerMail }}
                            </td>
                            <td>
                                <span ng-if="order.userCompanyName">{{ order.userCompanyName }}</span><br/>
                                {{ order.userName }} {{ order.userLastname }}<br/>
                                {{ order.userMail }}
                            </td>
                            <td>
                                <div class="product-info" ng-repeat="product in order.products">
                                    <p>
                                        {{ 'product_id' | translate }}:
                                        <b>{{ product.productID }}</b>
                                    </p>
                                    <p class="marginBottomNo noWrap">
                                        {{ 'calculation_no' | translate }}:
                                        <b>{{ product.calcID }}/{{ product.ver }}</b>
                                    </p>
                                    <button class="btn blue-hoki btn-xs" ng-click="history(order, product)"><i
                                            class="fa fa-book"></i> {{ 'history' | translate }}
                                    </button>
                                    <p ng-if="product.name" class="marginBottomNo">
                                        <b>{{ product.name }}</b>
                                    </p>
                                    <span ng-repeat="calcProduct in product.calcProducts">

                                        <b>{{ calcProduct.typeName }}</b>
                                        <p class="marginBottomNo noWrap">
                                            {{ calcProduct.formatName }}
                                            <b>
                                                {{ calcProduct.formatWidth }} x {{ calcProduct.formatHeight }}
                                                {{ calcProduct.formatUnit == 2 ? 'cm' : 'mm' }}
                                            </b>
                                        </p>

                                        <p ng-repeat="attr in calcProduct.attributes" class="marginBottomNo noWrap">
                                            <span ng-if="!attr.emptyChoice">
                                                {{ attr.attrName }}
                                                <b>{{ attr.optName }} {{ attr.attrPages ? "("+attr.attrPages+")" : "" }}</b>
                                            </span>
                                        </p>

                                        <p ng-repeat="specialAttribute in calcProduct.specialAttributes" class="marginBottomNo noWrap">
                                            <span>
                                                <b>{{ specialAttribute.name }}</b>
                                            </span>
                                        </p>
											
                                    </span>

                                    <p>
                                        {{ 'volume' | translate }} <b>{{ product.volume }}</b>
                                    </p>
                                    <p>
                                        {{ 'price' | translate }}
                                        <b>{{ product.price }} {{ product.currency }}</b>
                                    </p>
                                    <p>
                                        {{ 'gross_price' | translate }}
                                        <b>{{ product.grossPrice }} {{ product.currency }}</b>
                                    </p>

                                    <div>
                                        {{ 'delivery' | translate }}:
                                        {{ _.findWhere(order.addresses, {productID: product.productID}).delivery.langs[currentLang.code].name }}
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div ng-repeat="address in order.addresses">
                                    <p class="marginBottomNo">
                                        <b>
                                            {{ address.addressName }}
                                        </b>
                                    </p>
                                    <p class="marginBottomNo">
                                        Imię <b>{{ address.name }}</b>
                                    </p>
                                    <p class="marginBottomNo">
                                        Nazwisko <b>{{ address.lastname }}</b>
                                    </p>
                                    <p class="marginBottomNo">
                                        <b>{{ address.zipcode }}, {{ address.city }}</b>
                                    </p>
                                    <p class="marginBottomNo">
                                        <b>{{ address.street }} {{ address.house }} {{ address.apartment ? "/" +
                                            address.appartment : "" }}</b>
                                    </p>
                                    <div ng-repeat="productItem in address.products"
                                         ng-init="product = getProductInfo(order, productItem)">
                                        <p class="marginBottomNo">
                                            {{ product.name }} nakład:
                                            <b>{{ productItem.volume }}</b>
                                        </p>
                                    </div>
                                    <div ng-if="!address.products">
                                        Wszystkie produkty
                                    </div>
                                    <p></p>
                                </div>
                            </td>
                            <td>
                                <div ng-if="order.invoiceAddress">
                                    <p class="marginBottomNo">
                                        <b>
                                            {{ order.invoiceAddress.addressName }}
                                        </b>
                                    </p>
                                    <p class="marginBottomNo">
                                        Imię <b>{{ order.invoiceAddress.name }}</b>
                                    </p>
                                    <p class="marginBottomNo">
                                        Nazwisko <b>{{ order.invoiceAddress.lastname }}</b>
                                    </p>
                                    <p class="marginBottomNo">
                                        <b>{{ order.invoiceAddress.zipcode }}, {{ order.invoiceAddress.city }}</b>
                                    </p>
                                    <p class="marginBottomNo">
                                        <b>{{ order.invoiceAddress.street }} {{ order.invoiceAddress.house }} {{
                                            order.invoiceAddress.apartment ? "/" + order.invoiceAddress.appartment : ""
                                            }}</b>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <span ng-if="order.isOffer">
                                {{'offer_expires' | translate}}
                                <br>
                                {{ order.expires }}
                            </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <pagination total-items="ordersCtrl.totalItems" ng-model="ordersCtrl.currentPage"
                            ng-change="ordersCtrl.setPage(ordersCtrl.currentPage); ordersCtrl.get()" class="pagination-sm"
                            max-size="10" boundary-links="true" rotate="true"
                            items-per-page="ordersCtrl.params.limit"></pagination>

            </div>
        </div>
    </div>
</div>
