<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-users"></i> {{ 'users' | translate }}
                </div>
                <div class="tools">
                    <button class="btn-sm btn-default btn" ng-click="removeFilters()"
                            ng-if="_.size(usersCtrl.params) > 2">
                        {{ 'remove_filter' | translate }}
                    </button>
                    <button class="btn-sm">{{ 'number_of_rows' | translate }}: <span class="badge">{{ usersCtrl.totalItems }}</span>
                    </button>
                    <select class="btn-default input-sm" ng-model="showRows" ng-change="usersCtrl.setRows(showRows)"
                            ng-options="each for (null, each) in [10,25,50,100]"></select>
                    <button ng-click="usersCtrl.clearCache()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="customservice.userlist"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="wrapper1">
                    <div class="wrapperInner"></div>
                </div>
                <div class="overflowContainer">

                    <table class="table table-hover table-users">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%" sort-trigger>#</th>
                            <th width="15%" sort-trigger>{{ 'email' | translate }}</th>
                            <th width="17%">{{ 'user_company' | translate }}</th>
                            <th width="10%">{{ 'phone_nip' | translate }}</th>
                            <th width="8%">{{ 'addresses' | translate }}</th>
                            <th width="10%">{{ 'seller' | translate }}</th>
                            <th width="10%">{{ 'discounts_group' | translate }}</th>
                            <!--<th width="10%">{{ 'mailing_group' | translate }}</th>-->
                            <!--<th width="12%">{{ 'total_purchases' | translate }}</th>-->
                            <th width="8%">{{ 'deferral_of_payments' | translate }}</th>
                            <th width="8%">{{ 'credit_limit' | translate }}</th>
                            <th width="11%">{{ 'blocked?' | translate }}</th>
                            <th width="11%">{{ 'active' | translate }}</th>
                            <th width="12%">{{ 'active_domain' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <input ng-change="setParams()" type="text"
                                       class="form-control form-filter input-sm" placeholder="ID"
                                       ng-model="usersCtrl.params.ID">
                            </td>
                            <td>
                                <input ng-change="setParams()"
                                       ng-model="usersCtrl.params.user" type="text"
                                       class="form-control form-filter input-sm"
                                       placeholder="{{ 'email' | translate }}"/>

                                <input ng-change="setParams()"
                                       ng-model="usersCtrl.params.registerFrom" dp-datepicker
                                       type="text" class="form-control form-filter input-sm"
                                       placeholder="{{ 'date_registration_of' | translate }}"/>

                                <input ng-change="setParams()"
                                       ng-model="usersCtrl.params.registerTo" dp-datepicker
                                       type="text" class="form-control form-filter input-sm"
                                       placeholder="{{ 'date_registration_to' | translate }}"/>
                            </td>
                            <td>
                                <input ng-change="setParams()"
                                       ng-model="usersCtrl.params.name" type="text"
                                       class="form-control form-filter input-sm"
                                       placeholder="{{ 'first_name' | translate }}"/>

                                <input ng-change="setParams()"
                                       ng-model="usersCtrl.params.lastname" type="text"
                                       class="form-control form-filter input-sm"
                                       placeholder="{{ 'surname' | translate }}"/>

                                <input ng-change="setParams()"
                                       type="text" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.companyName"
                                       placeholder="{{ 'company' | translate }}"/>
                            </td>
                            <td>
                                <input ng-change="setParams()"
                                       type="text" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.telephone"
                                       placeholder="{{ 'phone' | translate }}"/>

                                <input ng-change="setParams()"
                                       type="text" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.nip"
                                       placeholder="{{ 'nip' | translate }}"/>
                            </td>
                            <td>
                                <input ng-change="setParams()"
                                       type="text" class="form-control form-filter input-sm"
                                       placeholder="{{ 'city' | translate }}"
                                       ng-model="usersCtrl.params.city"/>

                                <select ng-change="setParams()"
                                        title="{{ 'country' | translate }}" class="form-control form-filter input-sm"
                                        ng-options="country.code as country.name_pl for country in countries"
                                        ng-model="usersCtrl.params.countryCode">
                                    <option value="">{{ 'country' | translate }}</option>
                                </select>

                                <input ng-change="setParams()"
                                       type="text" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.zipcode"
                                       placeholder="{{ 'zip_code' | translate }}"/>
                            </td>
                            <td>

                            </td>
                            <td>
                                <button tooltip="{{ 'discount_groups' | translate }} - {{ 'link' | translate }}"
                                        type="button" class="btn btn-default btn-sm" ui-sref="discounts">
                                    {{ 'discount_groups' | translate }}
                                </button>

                                <select ng-change="setParams()"
                                        title="{{ 'discount_group' | translate }}"
                                        class="form-control form-filter input-sm"
                                        ng-options="each.ID as each.langs[currentLang.code].name for each in discountGroups"
                                        ng-model="usersCtrl.params.discountGroupID">
                                    <option value="">{{ 'select' | translate }}</option>
                                </select>
                            </td>
                            <!--<td>

                            </td>-->
                            <!--<td>
                                <input type="text" class="form-control form-filter input-sm my-input"
                                       placeholder="{{ 'value_of' | translate }}">
                                <input type="text" class="form-control form-filter input-sm my-input"
                                       placeholder="{{ 'value_to' | translate }}">
                                <input type="text" class="form-control form-filter input-sm my-input"
                                       placeholder="{{ 'no._of_orders' | translate }}">
                                <input type="text" class="form-control form-filter input-sm my-input"
                                       placeholder="{{ 'no._of_reclamations' | translate }}">
                            </td>-->
                            <td>
                                <input ng-change="setParams()"
                                       type="number" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.deferredPaymentFrom"
                                       placeholder="{{ 'from' | translate }}"/>
                                <input ng-change="setParams()"
                                       type="number" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.deferredPaymentTo"
                                       placeholder="{{ 'to' | translate }}"/>
                            </td>
                            <td>
                                <input ng-change="setParams()"
                                       type="number" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.creditLimitFrom"
                                       placeholder="{{ 'from' | translate }}"/>
                                <input ng-change="setParams()"
                                       type="number" class="form-control form-filter input-sm"
                                       ng-model="usersCtrl.params.creditLimitTo"
                                       placeholder="{{ 'to' | translate }}"/>
                            </td>
                            <td>
                                <select class="form-control form-filter" ng-change="setParams()"
                                        ng-model="usersCtrl.params.block">
                                    <option value="">{{ 'select' | translate }}</option>
                                    <option value="0">{{ 'no' | translate }}</option>
                                    <option value="1">{{ 'yes' | translate }}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-filter" ng-change="setParams()"
                                        ng-model="usersCtrl.params.enabled">
                                    <option value="">{{ 'select' | translate }}</option>
                                    <option value="0">{{ 'no' | translate }}</option>
                                    <option value="1">{{ 'yes' | translate }}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" ng-change="setParams()"
                                        ng-model="usersCtrl.params.domainID"
                                        ng-options="domain.ID as domain.name for domain in domains">
                                    <option value="">{{ 'select' | translate }}</option>
                                </select>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="filter-1 bg"
                            ng-repeat="user in usersCtrl.items"
                            ng-class="{'bg-danger': user.block, 'normal-user': !user.block}">
                            <td>
                                <p> {{ user.ID }}</p>
                            </td>
                            <td>
                                <p>{{ user.login }}<br/>{{ user.created }}</p>
                                <span ng-if="user.onetime">
                                    <i class="fa fa-user-secret" tooltip="{{ 'no_registration_order' | translate }}"></i>
                                </span>
                            </td>
                            <td>
                                <p>{{ user.name }} {{ user.lastname }}<br/>
                                    <span ng-if="user.fvAddress.companyName">{{ user.fvAddress.companyName }}</span>
                                </p>
                            </td>
                            <td>
                                <p>{{ user.address.telephone }}<br/>{{ user.fvAddress.nip }}</p>
                            </td>
                            <td>
                                <a href="javascript:;" ng-click="addresses(user)">{{ 'addresses' | translate }}</a>
                                <br>
                                <span class="flag-icon flag-icon-{{ user.address.countryCode | lowercase }}"></span>
                                <br>
                                <span>{{ user.address.city }}</span>
                            </td>
                            <td>
                                <select ng-init="user.userSellerID = user.userSellerID || null"
                                        ng-model="user.userSellerID"
                                        ng-change="changeUserSellerID(user)"
                                        ng-options="seller.ID as seller.user for seller in sellers">
                                    <option value="">{{ 'select' | translate }}</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-basic"
                                        ng-class="{'btn-primary': user.countDiscountGroups > 0}"
                                        ng-click="selectDiscountGroups(user)">
                                    {{ 'discount_groups' | translate }} <span ng-show="user.countDiscountGroups > 0"
                                                                              class="badge">{{ user.countDiscountGroups }}</span>
                                </button>
                            </td>
                            <!--<td>
                                <select>
                                    <option>{{ 'name_of_mail' | translate }}</option>
                                </select>
                            </td>-->
                            <!--<td>

                                <p>6985,41 zł<span class="badge-2" style="cursor:pointer;"
                                                   ng-click="loadusers()">32</span><span class="badge-1"
                                                                                         style="cursor:pointer;"
                                                                                         ng-click="loadusers()">3</span>
                                    <br/>
                                    <button class="btn blue-hoki btn-xs btn-my"
                                            ui-sref="create-order({userID: user.ID})"><i class="fa fa-plus"></i> Stwórz
                                        zamówienie
                                    </button>
                                </p>
                            </td>-->
                            <td>
                                <span ng-if="user.deferredPayment">
                                    {{ user.deferredPayment }} {{ 'days' | translate }}
                                </span>
                            </td>
                            <td>
                                <span ng-if="user.options.creditLimit">
                                    {{ user.options.creditLimit }} {{ defaultCurrency.code }}
                                </span>
                            </td>
                            <td>
                                <span class="btn blue-stripe btn-xs"
                                      ng-class="{ 'red-sunglo-stripe': !user.block }">
                                    {{ !!user.block ? 'yes': 'no' | translate }}
                                </span>
                            </td>
                            <td>
                                <span class="btn blue-stripe btn-xs" ng-class="{'red-sunglo-stripe': !user.enabled}">
                                  {{ !!user.enabled ? 'yes': 'no' | translate }}
                                </span>
                            </td>
                            <td>
                                <div class="center-block">
                                    <button data-toggle="tooltip" data-container="body" ng-click="editUserData(user)"
                                            tooltip="{{ 'edit' | translate }}" class="btn blue-hoki btn-xs pull-right">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <br/>
                                    {{ _.findWhere(domains, {ID: user.domainID}).name }}
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <pagination total-items="usersCtrl.totalItems" ng-model="usersCtrl.currentPage"
                                ng-change="usersCtrl.setPage(usersCtrl.currentPage); usersCtrl.get()"
                                class="pagination-sm pull-right" max-size="10" boundary-links="true" rotate="true"
                                items-per-page="usersCtrl.params.limit"></pagination>

                    <div class="col-md-2 description-legend">

                        <div class="row normal-user-tr">
                            <div class="col-md-12 padding-text">{{ 'row_with_regular_user' | translate }}</div>
                        </div>

                        <div class="row bg bg-danger">
                            <div class="col-md-12 padding-text">{{ 'row_with_locked_user' | translate }}</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
