@media (max-width : 767px){
    .responsive > tbody > tr > td{
        &:before{
            left : @panel-body-padding;
        }
        padding-right : @panel-body-padding;
    }
    .pull-left {
        float: none !important;
    }
    .orderFilterSearchInput {
        width: 100% !important;
    }

    .imageWrapper {
        width: calc(50% - 20px);
    }

    .imageWrapper .navigation {
        padding-top: 10px;
        flex-flow: row wrap;
    }
    .navigation .btn{
        margin-top: 5px;
    }
    .btn-copy {
        margin-left: 5px;
    }
    .btn-trash {
        margin-left: 5px;
    }
    .calcFilesNavigation {
        flex-flow: row wrap;
    }
    .calcFilesNavigation .btn{
        margin-top: 5px;
    }
}
