<style>
    .filterContentContainer {
        margin-top: 30px;
    }

    .paperTable {
        margin-top: 40px;
        max-width: 800px;
        margin: auto;
    }

    .paperTable .paperRow:hover {
        background-color: #f7ebdf;
    }

    .paperTable th {
        padding: 2px;
        border-top: none;
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .paperTable tr {
        text-align: left;
    }

    .containerDetails {
        margin: 30px 0;
    }

    .popularProductsWrapper {
        margin-top: 40px;
    }

    .productsContainer {
        display: flex;
        flex-flow: row wrap;
    }

    .productsContainer .singleProduct {
        width: 170px;
        padding: 20px;
    }

    .singleProduct .productLink {
        display: flex;
        flex-flow: row wrap;
        color: black;
        font-weight: bold;
    }

    .singleProduct img {
        width: 100%;
        height: auto;
    }

    .singleProduct span {
        display: block;
        text-align: left;
    }

    .choosenRow {
        background-color: #f8e6d4;
    }

    .newCategoriesContainer {
        margin-top: 30px;
        display: block;
        width: 100%;
        margin-bottom: 50px;
    }

    .newCategoriesContainer a {
        color: white;
        text-decoration: none;
    }

    .newCategoriesContainer a:hover {
        color: white;
        text-decoration: none;
    }

    .newCategoriesContainer .categoryButton {
        color: #fff;
        background-color: #e6b382;
        border-color: #e6b382;
        cursor: pointer;
        padding: 5px 10px;
        text-align: center;
        margin-top: 15px;
    }

    .newCategoriesContainer .categoryButton:hover {
        background-color: #dba878;
        border-color: #dba878;
    }

    .displayTitle {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .displayTitle .PDFButton {
        color: #fff;
        background-color: #e6b382;
        border-color: #e6b382;
        cursor: pointer;
        padding: 5px 15px;
        text-align: center;
    }

    .displayTitle .PDFButton:hover {
        background-color: #dba878;
        border-color: #dba878;
    }

    .descriptionContainer {
        font-size: 14px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .descriptionContainer .imageWrapper {}

    .descriptionContainer .imageWrapper img {
        width: 100px;
        height: auto;
        margin-right: 20px;
    }

    .descriptionContainer .descriptionWrapper {
        margin-bottom: 20px;
    }

    .descriptionContainer .descriptionWrapper p {
        text-align: justify;
    }

    .descriptionContainer .groupDesc {
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: flex-start;
    }

    .singleDesc {}

    .singleDesc .groupName {
        color: #e6b382;
        display: inline-block;
        margin-right: 5px;
    }

    .singleDesc .groupValue {
        display: inline-block;
        margin-right: 5px;
    }

    .singleDescCheck {
        margin-bottom: 10px;
    }

    .singleDescCheck .groupName {
        color: #e6b382;
        display: block;
    }

    .singleDescCheck .groupValue {
        display: block;
    }

    .descriptionTableContainer {
        margin-top: 20px;
        width: 100%;
    }

    .descriptionTableContainer .descriptionHeadWrapper {
        width: 100%;
        position: relative;
    }

    .descriptionTableContainer .descriptionHeadWrapper .headTitle {
        background: #ffffff;
        border-left: solid 1px #e5e5e5;
        border-top: solid 1px #e5e5e5;
        border-right: solid 1px #e5e5e5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: inline-block;
        padding: 5px 15px;
        z-index: 10;
        position: relative;
    }

    .descriptionTableContainer .descriptionHeadWrapper .headTitleLine {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #e5e5e5;
    }

    .descriptionTableWrapper {
        margin-top: 15px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .descriptionTableWrapper .tableRow {
        padding-right: 100px;
    }

    .filterContentContainer {
        margin-top: 30px;
    }

    .papersDefaultView {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .papersDefaultView .singlePaperHolder {
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
        width: 150px;
        cursor: pointer;
    }

    .singlePaperHolder a {
        color: black;
        text-decoration: none;
    }

    .singlePaperHolder a:hover {
        color: black;
    }


    .singlePaperHolder img {
        width: 100%;
        height: auto;
        max-height: 110px;
    }

    .singlePaperHolder span {
        display: block;
    }

    .singlePaperHolder:hover {
        text-decoration: underline;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12 containerDetails">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="pageTitle">{{ option.descriptions.paper_type }}</h3>
                </div>
                <div class="col-md-8 displayTitle">
                    <h3 class="pageTitle">{{option.name}}</h3>
                    <div class="PDFButton" ng-click="downloadPDF()">
                        PDF
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="newCategoriesContainer">
                        <a ui-sref="attribute-filters()">
                            <div class="categoryButton">
                                {{'show_all_paper' | translate}}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="descriptionContainer">
                        <div class="imageWrapper">
                            <img loading="lazy" ng-if="option.descriptions.paper_type_image"
                                src="{{ option.descriptions.paper_type_image }}" />
                            <img loading="lazy" ng-if="!option.descriptions.paper_type_image"
                                src="https://buchdruckerei.de/wp-content/themes/twentytwenty/assets/images/paper_cover.png" />
                        </div>
                        <div class="descriptionWrapper">
                            <p>{{ option.descriptions.paper_type_description }}</p>
                            <div class="groupDesc">
                                <div class="singleDesc">
                                    <div class="groupName">{{'category' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.category }}</div>
                                </div>
                                <div class="singleDesc">
                                    <div class="groupName">{{'group' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.group }}</div>
                                </div>
                                <div class="singleDesc">
                                    <div class="groupName">{{'supplier' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.supplier }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="descriptionTableContainer">
                        <div class="descriptionHeadWrapper">
                            <div class="headTitle">{{'description' | translate}}</div>
                            <div class="headTitleLine"></div>
                        </div>

                        <div class="descriptionTableWrapper">
                            <div class="tableRow">
                                <div class="singleDesc">
                                    <div class="groupName">{{'whiteness' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.whiteness }}</div>
                                </div>
                                <div class="singleDesc">
                                    <div class="groupName">{{'sizePage' | translate}}:</div>
                                    <div class="groupValue">{{ option.sizePage }}</div>
                                </div>
                                <div class="singleDesc">
                                    <div class="groupName">{{'opacity' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.opacity }}</div>
                                </div>
                                <div class="singleDesc">
                                    <div class="groupName">{{'colorOfThePaper' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.colorOfThePaper }}</div>
                                </div>
                                <div class="singleDesc">
                                    <div class="groupName">{{'smoothnessRoughness' | translate}}:</div>
                                    <div class="groupValue">{{ option.descriptions.smoothnessRoughness }}</div>
                                </div>
                            </div>

                            <div class="tableRow">
                                <div class="singleDescCheck" ng-if="option.certificates.length > 0">
                                    <div class="groupName">{{'whiteness' | translate}}:</div>
                                    <div class="groupValue">
                                        <div class="singleGroupValue" ng-repeat="cert in option.certificates"><i
                                                class="fa fa-check"></i> {{ cert }}</div>
                                    </div>
                                </div>

                                <div class="singleDescCheck" ng-if="option.printingTechniques.length > 0">
                                    <div class="groupName">{{'printingTechniques' | translate}}:</div>
                                    <div class="groupValue">
                                        <div class="singleGroupValue"
                                            ng-repeat="printingTechnique in option.printingTechniques"><i
                                                class="fa fa-check"></i> {{ printingTechnique }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="tableRow">
                                <div class="singleDescCheck" ng-if="option.finishingAndProcessing.length > 0">
                                    <div class="groupName">{{'finishingAndProcessing' | translate}}:</div>
                                    <div class="groupValue">
                                        <div class="singleGroupValue"
                                            ng-repeat="finishingAndProcessing in option.finishingAndProcessing"><i
                                                class="fa fa-check"></i> {{ finishingAndProcessing }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="popularProductsWrapper" ng-if="products && products.length > 0">
                        <h3>{{ 'popular_products' | translate }}</h3>
                        <div class="productsContainer">
                            <div class="singleProduct" ng-repeat="product in products">
                                <a ui-sref="calculate({categoryurl: product.categoryurl[currentLang.code], groupurl: product.groupurl[currentLang.code], typeurl: product.typeurl[currentLang.code]})"
                                    class="productLink">
                                    <a
                                        ui-sref="calculate({categoryurl: product.categoryurl[currentLang.code],
                                        groupurl: product.groupurl[currentLang.code], typeurl: product.typeurl[currentLang.code]+'?paperID='+choosenTypeID })">
                                        <img loading="lazy" ng-src="{{product.iconUrl}}" />
                                        <span>{{product.names[currentLang.code]}}</span>
                                    </a>
                            </div>
                        </div>
                    </div>

                    <div class="filterContentContainer" ng-if="alternativePapers.length > 0">
                        <h3>{{ 'alternative_papers' | translate }}</h3>
                        <div class="papersDefaultView">
                            <div class="singlePaperHolder" ng-repeat="row in alternativePapers"
                                ng-click="onPaperDefaultClick(row)">
                                <a ui-sref="attribute-details({attrid: 2, optid: row.ID})">
                                    <img loading="lazy" ng-if="row.descriptions.paper_type_image" ng-src="{{row.descriptions.paper_type_image}}" />
                                    <img loading="lazy" ng-if="!row.descriptions.paper_type_image"
                                        ng-src="https://buchdruckerei.de/wp-content/themes/twentytwenty/assets/images/paper_cover.png" />
                                    <span><b>{{ row.name }}</b></span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="sectionDivider ng-scope">
        <div class="inside">
        </div>
    </div>
