<div class="container" id="content-search">

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header ng-binding">{{ 'search_result_for_phrase' | translate }} - <small>{{ searchText }}</small></h1>
        </div>
    </div>

    <div ng-if="results.length == 0" class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info text-center">{{ 'results_is_empty' | translate }}</div>
        </div>

    </div>

    <div ng-if="results.length > 0" class="row">

        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="item in results | orderBy: 'sort'">

            <div class="thumbnail clearfix" ng-if="item.isEditor && !item.isCustomProduct">
                <a class="thumbnail-link" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})"
                    ng-if="!item.icons[currentLang.code] && !item.icon">
                    <img loading="lazy" ng-if="!item.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                </a>
                <a ng-if="item.icon" class="thumbnail-link"
                   ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})">
                    <img loading="lazy" ng-if="item.icon" ng-src="{{item.icon.url}}" alt="" class="img-responsive" />
                </a>
                <div class="caption">
                    <h3>
                        <a ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})">
                            {{ item.names[currentLang.code] }}
                        </a>
                    </h3>
                    <div class="description" ng-show="item.icons[currentLang.code]" data-ng-bind-html="item.icons[currentLang.code]"></div>

                </div>
                <a ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})"
                   class="btn btn-block btn-info btn-flat btn-more">
                    {{ 'show_more' | translate }}
                </a>
            </div>

            <div class="thumbnail clearfix" ng-if="!item.isEditor && !item.isCustomProduct">
                <a class="thumbnail-link" ui-sref="calculate({categoryurl: item.category.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})"
                   ng-if="!item.icons[currentLang.code] && !item.icon">
                    <img loading="lazy" ng-if="!item.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                </a>
                <a ng-if="item.icon" class="thumbnail-link"
                   ui-sref="calculate({categoryurl: item.category.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})">
                    <img loading="lazy" ng-if="item.icon" ng-src="{{item.icon.url}}" alt="" class="img-responsive" />
                </a>
                <div class="caption">
                    <h3>
                        <a ui-sref="calculate({categoryurl: item.category.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})">
                            {{ item.names[currentLang.code] }}
                        </a>
                    </h3>
                    <div class="description" ng-show="item.icons[currentLang.code]" data-ng-bind-html="item.icons[currentLang.code]"></div>

                </div>
                <a ui-sref="calculate({categoryurl: item.category.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})"
                   class="btn btn-block btn-info btn-flat btn-more">
                    {{ 'show_more' | translate }}
                </a>
            </div>

            <div class="thumbnail clearfix" ng-if="!item.isEditor && item.isCustomProduct">
                <a class="thumbnail-link" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})"
                    ng-if="!item.icons[currentLang.code] && !item.icon">
                    <img loading="lazy" ng-if="!item.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                </a>
                <a ng-if="item.icon" class="thumbnail-link"
                   ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})">
                    <img loading="lazy" ng-if="item.icon" ng-src="{{item.icon.url}}" alt="" class="img-responsive" />
                </a>
                <div class="caption">
                    <h3>
                        <a ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})">
                            {{ item.names[currentLang.code] }}
                        </a>
                    </h3>
                    <div class="description" ng-show="item.icons[currentLang.code]" data-ng-bind-html="item.icons[currentLang.code]"></div>

                </div>
                <a ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                        groupurl: item.group.slugs[currentLang.code], typeurl: item.slugs[currentLang.code]})"
                   class="btn btn-block btn-info btn-flat btn-more">
                    {{ 'show_more' | translate }}
                </a>
            </div>
        </div>

    </div>

</div>
