<div class="modal-header">
  <h3 class="modal-title">Role settings</h3>
</div>
<div class="modal-body" style="padding: 0px;">
  <div class="row">
    <div class="col-md-12">
      <div class="p15">
        <input type="text" ng-model="permsFilter" class="form-control" placeholder="Filter...">
      </div>
      <table class="table" style="margin-bottom: 0px;">
        <tbody>
          <tr ng-repeat="(collection, perms) in rolePerms track by $index" ng-show="(perms | filter: permsFilter).length">
            <td style="vertical-align: middle;" class="col-md-5"><h4 class="text-muted" style="padding-left: 20px;">{{ collection }}</h4></td>
            <td>
              <div class="list-group clickable" class="col-md-7" style="margin-bottom: 0px;">
                <a class="list-group-item list-group-item-default" ng-repeat="perm in perms" ng-click="setPermission(perm)" ng-class="{ active: isActive(perm) }">{{ perm.action }}</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>
