<div class="modal-header">
    <h3 class="modal-title">{{ 'blocked_resources' | translate }}</h3>
</div>
<div class="modal-body" >
    <div class="row">
        <div class="col-md-12">

            <div class="overflowContainer">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr role="row" class="heading">
                        <th>#</th>
                        <th>{{ 'url_address' | translate }}</th>
                        <th>
                            package
                        </th>
                        <th>controller</th>
                        <th>{{ 'created' | translate }}</th>
                    </tr>
                    <tr role="row" class="filter">
                        <td>
                            <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                   placeholder="ID" ng-model="couponsCtrl.params.ID">
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <div ng-model="couponsCtrl.params.dateFrom" ng-change="setParams"
                                 dp-datepicker></div>
                            <div ng-model="couponsCtrl.params.dateTo" ng-change="setParams" dp-datepicker></div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="authorizationLog in authorizationLogsCtrl.items">
                        <td>{{ authorizationLog.ID }}</td>
                        <td>{{ authorizationLog.package }}</td>
                        <td>{{ authorizationLog.controller }}</td>
                        <td>{{ authorizationLog.action }}</td>
                        <td>{{ authorizationLog.created }}</td>
                    </tr>
                    </tbody>
                </table>

                <pagination total-items="authorizationLogsCtrl.totalItems"
                            ng-model="authorizationLogsCtrl.currentPage"
                            ng-change="authorizationLogsCtrl.setPage(authorizationLogsCtrl.currentPage); authorizationLogsCtrl.get()"
                            class="pagination-sm" max-size="10" boundary-links="true"
                            rotate="true"
                            items-per-page="authorizationLogsCtrl.params.limit">
                </pagination>

                <div class="pull-right">
                    <button class="btn btn-default red-sunglo" ng-click="deleteByUser(user)">
                        {{ 'clear_everything' | translate }}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>