<div id='loginForm' class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">      
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Logowanie</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
          <div class="modal-body">
            Nie jesteś zalogowany!
          </div>
          <div class="modal-footer">
            <button type="button" id="asGuest" class="btn btn-primary" data-bs-dismiss="modal">Kontynuuj jako gość</button>
              <a href="http://demo.digitalprint.pro/pl/rejestracja" type="button" class="btn btn-default">Zarejestruj</a>
          </div>
    </div>
  </div>
</div>
