<div id='updateThemePageWindow' class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">      
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Aktualizacja strony motywu</h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
          <div class="modal-body">
              <div class='updateThemePageInfo'>

                  <div id='currentThemePagePreviev'>

                  </div>

                  <div id='newThemePagePreview'>

                  </div>

              </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="updateThemePage" class="btn btn-primary">
                Aktualizuj stronę motywu
            </button>
          </div>
    </div>
  </div>
</div>
