@use './../../shared' as *;

.apply-options-container {
    border-bottom: 2px solid $gray-300;
    width: 100%;
    
    .content-header {
        text-align: center;
        margin-top: 1rem;

        .photo-options-container {
            margin-bottom: 1rem;

            .selected-item-tool-button {
                font-family: EditorIcons3;

                &.active {
                    background-color: $gray-700;
                    color: $white;
                }

                &.current-photo::before {
                    content: "\0034";
                }

                &.all-photos-page::before {
                    content: "\0062";
                }

                &.all-photos-project::before {
                    content: "\2022";
                }
            }
        }
    }
}
