<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-share-alt"></i> {{ "routing" | translate }}
                </div>
                <div class="tools">
                    <select class="input-sm" ng-model="showLang"
                            ng-options="lang.code as lang.name for (key, lang) in languages"
                            ng-init="showLang = currentLang.code"></select>
                    <button ng-click="refresh()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="contents.routes"></button>

                    <button ng-click="resetDomain()" class="btn red-sunglo btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'reset_settings' | translate }}
                    </button>
                </div>
            </div>
            <div class="portlet-body">

                <!-- wylisowanie -->
                <div class="tree">
                    <script type="text/ng-template" id="myTree.html">
                        <ul>
                            <li ng-repeat="route in routes" ng-class="{'parent_li' : route.children}">
                                <div class="well well-sm marginBottomNo">
                                    <i class="fa" ng-click="show = !show"
                                       ng-class="{ 'fa-minus-circle' : (route.children && show),
                                       'fa-plus-circle' : (route.children && !show) }"></i>
                                    <span ng-class="{ bold: route.children }">
                                        {{route.state}} | {{ showLang }} |
                                        {{ route.name || 'Niezdefiniowano' }} |
                                        {{route.langs[showLang].url || 'Niezdefiniowano' }}
                                    </span>
                                    <a href="javascript:;" ng-click="editStart(route)" class="btn small">{{ 'edit' |
                                        translate }}</a><a href="javascript:;"
                                                           ng-confirm-click="removeGroup(route)" class="btn small">{{
                                    'delete' | translate }}</a><a href="javascript:;"
                                                                  ui-sref="contents-views({ routeID: route.ID })"
                                                                  class="btn small">{{ 'edit_views' | translate }}</a>
                                </div>
                                <div ng-include=" 'myTree.html' " ng-show="!!!show" onload="routes = route.children">
                                </div>
                            </li>
                        </ul>
                    </script>
                    <ul ng-include=" 'myTree.html' ">
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-haze col-md-3 text-right">
                                    {{ 'add_route' | translate }}
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form class="form-horizontal" role="form" ng-submit="add()">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'parent' | translate }}</label>
                                            <div class="col-md-9">
                                                <select ng-model="form.parentID" type="text" class="form-control"
                                                        ng-options="route.ID as route.state for route in routesList">
                                                    <option value="">{{ 'root' | translate }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'state' | translate }}
                                                ({{'root_name' | translate }})</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.state" type="text" class="form-control"
                                                       placeholder="{{ 'name' | translate }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.name" type="text" class="form-control"
                                                       placeholder="{{ 'name' | translate }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'url_name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                                       ng-model="form.langsNames[lang.code]" type="text"
                                                       class="form-control" placeholder="{{lang.code}}">
                                                <select class="form-control" ng-init="nameLang = currentLang.code"
                                                        ng-model="nameLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'url_address' | translate
                                                }}</label>
                                            <div class="col-md-9">
                                                <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                                       ng-model="form.langUrls[lang.code]" type="text"
                                                       class="form-control" placeholder="{{lang.code}}">
                                                <select class="form-control" ng-init="nameLang = currentLang.code"
                                                        ng-model="nameLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'controller' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.controller" type="text" class="form-control"
                                                       placeholder="{{lang.controller}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <div class="checkbox-list">
                                                    <label>
                                                        <div class="checker">
                          <span ng-class="{checked: !!parseInt(form.abstract)}">
                            <input ng-model="form.abstract" ng-true-value="1" ng-false-value="0" type="checkbox">
                          </span>
                                                        </div>
                                                        {{ 'abstract' | translate }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'add' | translate }}
                                                </button>
                                                <button ng-click="form = {}" type="button" class="btn red-sunglo">{{
                                                    'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>