<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-grid"></i> SEO
                </div>
                <div class="tools">

                    <select class="input-sm" ng-model="showLang"
                            ng-options="lang.code as lang.name for (key, lang) in languages"
                            ng-init="showLang = currentLang.code"></select>
                    <button ng-click="refresh()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="contents.seo"></button>
                </div>
            </div>
            <div class="portlet-body">

                <div class="portlet light">
                    <div class="portlet-title">
                        <h3 class="caption-helper">Wybierz element do edycji</h3>
                    </div>
                    <div class="portlet-body">

                        <!-- wylisowanie -->
                        <div class="tree">
                            <script type="text/ng-template" id="myTree.html">
                                <ul ui-sortable="" ng-model="routes">
                                    <li ng-repeat="route in routes" ng-class="{'parent_li' : route.children}">
                                        <button class="btn btn-md btn-grey" ng-click="show = !show">
                                            <i class="fa"
                                               ng-class="{ 'fa-minus-circle' : (route.children && show), 'fa-plus-circle' : (route.children && !show) }"></i>
                                            {{route.state}} | {{ showLang }} | {{ route.langs[showLang].name || 'Niezdefiniowano' }}
                                        </button>
                                        <button class="btn btn-default btn-md" href="javascript:;"
                                                ng-click="editMetaTag(route)"><i class="fa fa-edit"></i></button>
                                        <div ng-include=" 'myTree.html' " ng-show="show"
                                             onload="routes = route.children">
                                        </div>
                                    </li>
                                </ul>
                            </script>
                            <ul ng-include=" 'myTree.html' ">
                            </ul>
                        </div>

                        <!-- end of -->

                    </div>
                </div>
                <div class="portlet light" ng-if="!!selectedRoute">
                    <div class="portlet-title">
                        <div class="caption">
                            <h3>{{ currentContent !== null ? 'content_edit': 'add_new_content' | translate }} {{
                                currentContent.langs[showLang].title }}</h3>
                        </div>
                        <div class="tools">
                            <select class="input-sm" ng-model="showLang"
                                    ng-options="lang.code as lang.name for (key, lang) in languages"
                                    ng-init="showLang = currentLang.code"></select>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group clearfix">
                                        <label class="col-md-3 control-label"><i class="fa icon-grid"></i> {{ 'category'
                                            | translate }}</label>
                                        <div class="col-md-9">
                                            <label class="control-label bold">
                                                {{ selectedRoute.langs[showLang].name || 'Niezdefiniowano' }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><i class="fa fa-edit"></i> {{ 'contents' |
                                            translate }}
                                            <br/>
                                            <a href="javascript:;" ng-show="currentContent !== null"
                                               ng-click="createNew()"><i class="fa fa-plus" ng-show=""></i> {{ 'add_new'
                                                | translate }}</a>
                                        </label>
                                        <div class="col-md-9">
                                            <label class="control-label">
                                                <a ng-repeat="content in contentsList" ng-click="selectContent(content)"
                                                   ng-class="{'btn btn-primary btn-sm': currentContent == content}">
                                                    {{ content.langs[showLang].title || 'Brak nazwy' }}
                                                </a>
                                                <p ng-hide="contentsList.length">
                                                    {{ 'none' | translate }}
                                                </p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption font-green-haze col-md-3 text-right" ng-show="currentContent == null">
                                {{ 'add_content' | translate }}
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form class="form-horizontal" role="form" ng-submit="save()">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'language' | translate }}</label>
                                        <div class="col-md-9">
                                            <select class="form-control" ng-init="selectedLang = currentLang.code"
                                                    ng-model="selectedLang"
                                                    ng-options="each.code as each.name for (key, each) in languages"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'title' | translate }}</label>
                                        <div class="col-md-9">
                                            <input ng-repeat="lang in languages" ng-show="selectedLang == lang.code"
                                                   ng-model="contentForm.langs[lang.code].title" type="text"
                                                   class="form-control" placeholder="{{lang.code}}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ 'content' | translate }}</label>
                                        <div class="col-md-9">
                                            <div ng-repeat="lang in languages" ng-show="selectedLang == lang.code"
                                                 ta-unsafe-sanitizer="true" text-angular
                                                 ng-model="contentForm.langs[lang.code].content"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button ng-if="currentContent !== null" class="btn red-sunglo"
                                                    ng-click="removeContent()">{{ 'delete' | translate }}
                                            </button>
                                            <div class="btn-group pull-right">
                                                <button type="submit" class="btn btn-success"><i class="fa"
                                                                                                 ng-class="{ 'fa-plus': (currentContent == null), 'fa-check': (currentContent !== null) }"></i>
                                                    {{ currentContent !== null ? 'save': 'add' | translate }}
                                                </button>
                                                <button ng-confirm-click="resetForm()" type="button"
                                                        class="btn btn-default">{{ 'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">

                <button type="button" class="btn btn-default" ng-click="refreshSiteMap()">
                    {{ 'generate_sitemap' | translate }}
                </button>
                <br><br>
                <div class="well well-sm">
                    {{ 'link' | translate }}:
                    <a href="{{ siteMapUrl }}" target="_blank">{{ siteMapUrl }}</a>
                </div>
            </div>


        </div>
    </div>
</div>