.tool-button.templates::before {
    font-family: EditorIcons3;
    content: "b";
}

.layout-group-container, .templates-inner-container, .templates-buttons-wrapper, .proposedTemplateContainer {
    color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.proposedTemplateContainer, .layout-group-container {
    gap: 1rem !important;
}

.list-button .layout-group-count {
    background-color: var(--gray-500);
    color: var(--gray-200);
    height: 1rem;
    width: 2.5rem;
    border-radius: var(--border-sm-radius);
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--gray-200);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
}

.layout {
    background-color: var(--gray-300);
    width: 100%;
    aspect-ratio: 163 / 130;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: border-color .2s ease-in-out;
}

.layout:hover {
    border-color: var(--gray-700);
    cursor: pointer;
}

.layout.active {
    border-color: var(--green);
}

.dropdown-button {
    transition: all 0.3s;
    transform-origin: center center;
}

.dropdown-button::after {
    content: url('../images/from-figma/dropdown.svg');
    cursor: pointer;
}

.dropdown-button.dropdown-active {
    transform: rotate(-180deg);
}

.label.proposedTemplates {
    color: var(--white);
    text-align: center;
    line-height: 35px;
}

.containerButtons {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

div#all-layouts {
    text-transform: uppercase;
}

.templates-buttons-container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.photo-layouts {
    position: relative;
    background-color: var(--green) !important;
    color: var(--gray-100) !important;
}

.main-tool-button.templates::before {
    content: "b";
}

.proposedTemplateContainer {
    overflow-y: scroll;
}

.proposedTemplatesContainer .allVisible {
    background-color: var(--gray-500);
}

.templates-loading-info {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
