<!-- to paginationAPI -->
<ul class="pagination pull-right">
    <li ng-class="{disabled: paginationSettings.currentPage == 0}">
        <a href ng-click="paginationAPI.setPage(paginationSettings, 0)">First</a>
    </li>
    <li ng-class="{disabled: paginationSettings.currentPage == 0}">
        <a href ng-click="paginationAPI.setPage(paginationSettings, paginationSettings.currentPage-1)">« Prev</a>
    </li>
    <li ng-repeat="n in paginationAPI.rangePage(paginationSettings)"
        ng-class="{active: n == paginationSettings.currentPage}"
        ng-click="paginationAPI.setPage(paginationSettings, n)">
        <a href ng-bind="n + 1"></a>
    </li>
    <li ng-class="{disabled: paginationSettings.currentPage == paginationSettings.numberOfPages - 1}">
        <a href ng-click="paginationAPI.setPage(paginationSettings, paginationSettings.currentPage+1)">Next »</a>
    </li>
    <li ng-class="{disabled: paginationSettings.currentPage == paginationSettings.numberOfPages - 1}">
        <a href ng-click="paginationAPI.setPage(paginationSettings, paginationSettings.numberOfPages-1)">Last</a>
    </li>
</ul>