<style>
    .stickyStyle1 {
        position: sticky;
        top: 60px;
    }

    .LeftMenuProducts {
        list-style: none;
    }

    .LeftMenuProducts>li {
        width: 100%;
        padding-left: 15px;
        font-size: 14px !important;
    }

    .LeftMenuProducts>li>a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .LeftMenuProductsItems {
        list-style: none;
    }

    .LeftMenuProductsItems>li {
        width: 100%;
        padding-left: 15px;
        font-size: 12px !important;
    }

    .LeftMenuProductsItems>li>a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .panelRightOrderMax {
        overflow: hidden;
    }

    @media (max-width:932px) {
        .owfh{
            overflow: hidden;
        }
    }

</style>
<script>
    $(document).on('click', '.dropDownMenuLeft', function() {
        console.log('test');
        var index = $('.dropDownMenuLeft').index(this);
        $(".dropDownMenuLeft-info").not($(".dropDownMenuLeft-info").eq(index)).removeClass("in");
    });
</script>
<!-- kategoria produktów -->
<div class="container" id="content-main" ng-init="attributeDescView = 0;attributeMenuLeft = 0;attributeIconsCount = 2;attributeIconWidth=1;loadOtherTemplateVariables('group');loadOtherTemplateVariables('calc');">
    <style ng-if="attributeIconsCount == 1">
        .col-md-2-20pp {
            width: 20%;
        }

        .col-md-4-20pp {
            width: 40%;
        }

        .col-md-6-20pp {
            width: 60%;
        }

        .col-md-8-20pp {
            width: 80%;
        }

        @media (max-width:932px) {
            .col-md-2-20pp {
                width: 33.3%;
            }
            .col-md-4-20pp {
                width: 33.3%;
            }
            .col-md-6-20pp {
                width: 33.3%;
            }
            .col-md-8-20pp {
                width: 33.3%;
            }
        }

        @media (max-width:768px) {
            .col-md-2-20pp {
                width: 100%;
            }
            .col-md-4-20pp {
                width: 100%;
            }
            .col-md-6-20pp {
                width: 100%;
            }
            .col-md-8-20pp {
                width: 100%;
            }
        }
    </style>

    <div class="row" style="margin:15px 0">
        <div class="col-xs-12">
            <div ng-if="!_.isEmpty(startCategories)" class="btn-group-vertical">
                <button ng-click="setActiveMainButton()" ng-class="{active: mainButtonActive}" class="btn btn-default">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <div class="btn-group-vertical" ng-repeat="item in items | orderBy: 'sort'">
                <span ng-if="$first && _.isEmpty(startCategories)" ng-init="setActiveCategory(item);"></span>
                <button ng-click="setActiveCategory(item)" ng-class="{active: activeCategoryID == item.ID}" class="btn btn-default">{{ item.langs[currentLang.code].name }}</button>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="item in items | orderBy: 'sort'">

        <div ng-if="_.includes(startCategories, item.ID) && mainButtonActive" class="col-md-12">
            <h1 class="page-header main-page-header">{{ item.langs[currentLang.code].name }}</h1>
        </div>


        <div class="row owfh" style="margin-left: 0;margin-right: 0;">
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{ 'col-xs-12 col-sm-12 col-md-6 col-lg-6': attributeDescView == 1, 'col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-push-6 col-lg-push-6': attributeDescView == 2}" ng-if="attributeDescView != 3">
                    <div ng-show="activeCategoryID == item.ID || (_.includes(startCategories, item.ID) && mainButtonActive)" class="col-md-12">
                        <div class='col-xs-12 no-padding'>

                            <accordion>
                                <accordion-group ng-repeat="description in item.descriptions | orderBy: 'order' " is-open="description.isOpen">
                                    <accordion-heading>
                                        {{ description.langs[currentLang.code].name }}
                                        <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div ng-bind-html="description.langs[currentLang.code].description"></div>
                                </accordion-group>
                            </accordion>

                        </div>

                        <div class="col-xs-12 no-padding" ng-repeat="gallery in item.galleries | orderBy: 'order' | filter:hasFormats " ng-if="gallery.items.length > 0">

                            <h4 class='product-view'>{{ gallery.langs[currentLang.code].name }}</h4>
                            <div class='product-gallery-content'>
                                <ng-gallery images="gallery.items" thumbs-num="gallery.items.length">
                                </ng-gallery>
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-show="activeCategoryID == item.ID || (_.includes(startCategories, item.ID) && mainButtonActive)" class="col-md-3 stickyStyle1 panelRightOrderMax" ng-if="(attributeMenuLeft == 1 && (attributeDescView == 0 || attributeDescView == 3))">
                    <ul class="nav navbar-nav LeftMenuProducts" id="menu1">
                        <li class="dropdown" ng-repeat="item2 in menuItems | menutypes | orderBy: 'sort'">
                            <a href="#" class="dropdown-toggle dropDownMenuLeft" data-target="#z{{item.ID}}menu-{{item2.ID}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="z{{item.ID}}menu-{{item2.ID}}">
                                {{ item2.langs[currentLang.code].name }}
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class="dropDownMenuLeft-info collapse nav navbar-nav LeftMenuProductsItems" id="z{{item.ID}}menu-{{item2.ID}}">
                                <li ng-repeat="type in item2.allTypes">
                                    <a ng-if="!type.isEditor && !type.isCustomProduct" ui-sref="calculate({categoryurl: item2.langs[currentLang.code].url,
                                        groupurl: type.group.slugs[currentLang.code], typeurl: type.slugs[currentLang.code]})">
                                                {{ type.names[currentLang.code] }}
                                            </a>
                                    <a ng-if="type.isEditor && !type.isCustomProduct" ui-sref="select-project({categoryurl: item2.langs[currentLang.code].url,
                                        groupurl: type.group.slugs[currentLang.code], typeurl: type.slugs[currentLang.code]})">
                                                {{ type.names[currentLang.code] }}
                                            </a>
                                    <a ng-if="!type.isEditor && type.isCustomProduct" ui-sref="custom-product({categoryurl: item2.langs[currentLang.code].url,
                                        groupurl: type.group.slugs[currentLang.code],
                                        typeurl: type.slugs[currentLang.code]})">
                                                {{ type.names[currentLang.code] }}
                                            </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{ 'col-xs-12 col-sm-12 col-md-6 col-lg-6': attributeDescView == 1, 'col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-pull-6 col-lg-pull-6': attributeDescView == 2, 'col-xs-12 col-sm-12 col-md-9 col-lg-9': (attributeMenuLeft == 1 && (attributeDescView == 0 || attributeDescView == 3))}">
                    <div ng-show="activeCategoryID == item.ID || (_.includes(startCategories, item.ID) && mainButtonActive)" class="col-xs-12">
                        <div class="row row-products-list">
                            <div class="col-xs-12 col-sm-4 col-md-3" ng-class="{'col-xs-6 col-sm-4 col-md-3 col-lg-3': ((attributeDescView == 0 || attributeDescView == 3) && attributeMenuLeft == 0), 'col-xs-12 col-sm-12 col-md-6 col-lg-6': ((attributeDescView == 1 || attributeDescView == 2) && attributeMenuLeft == 0), 'col-xs-4 col-sm-4 col-md-4 col-lg-4': attributeMenuLeft == 1}"
                                ng-repeat="child in item.childs | orderBy: 'sort'">
                                <div class="thumbnail clearfix">
                                    <a target="_self" ui-sref="category({categoryurl: child.langs[currentLang.code].url})" ng-show="!child.icons[currentLang.code] && !child.icon" class="thumbnail-link">
                                        <img loading="lazy" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" alt="" class="img-responsive" />
                                    </a>
                                    <a ng-if="child.icon" ui-sref="category({categoryurl: child.langs[currentLang.code].url})" class="thumbnail-link">
                                        <img loading="lazy" ng-if="child.icon" ng-src="{{child.icon.url}}" alt="" class="img-responsive" />
                                    </a>
                                    <div class="caption">
                                        <h3>
                                            <a target="_self" ui-sref="category({categoryurl: child.langs[currentLang.code].url})">
                                    {{ child.langs[currentLang.code].name }}
                                </a>
                                        </h3>
                                        <div class="description" ng-show="child.icons[currentLang.code]" data-ng-bind-html="child.icons[currentLang.code]"></div>
                                    </div>
                                    <a target="_self" ui-sref="category({categoryurl: child.langs[currentLang.code].url})" class="btn btn-block btn-info btn-flat btn-more">
                            {{ 'show_more' | translate }}
                        </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3" ng-class="itemsClassName(product)" ng-repeat="product in products[item.ID] | orderBy: 'sort'">
                                <div class="thumbnail relType1 clearfix" ng-if="product.relType == 1">

                                    <a target="_self" class="thumbnail-link" ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupurl: product.slugs[currentLang.code]})" class="product-list-link" ng-if="!product.icons[currentLang.code] && !product.icon">
                                        <img loading="lazy" ng-show="!product.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                                    </a>
                                    <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupurl: product.slugs[currentLang.code]})">
                                        <img loading="lazy" ng-if="product.icon" ng-src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        <img loading="lazy" class="promotion-icon img-responsive" ng-if="product.promotion.icon" ng-src="{{product.promotion.icon.url}}" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h3>
                                            <a target="_self" ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupurl: product.slugs[currentLang.code]})">
                                    {{ product.names[currentLang.code] }}
                                </a>
                                        </h3>
                                        <div class="description" ng-show="product.icons[currentLang.code]" data-ng-bind-html="product.icons[currentLang.code]"></div>
                                    </div>
                                    <a target="_self" ui-sref="group({categoryurl: item.langs[currentLang.code].url, groupurl: product.slugs[currentLang.code]})" class="btn btn-block btn-info btn-flat btn-more">
                            {{ 'show_more' | translate }}
                        </a>
                                </div>
                                <div class="thumbnail relType2 clearfix" ng-if="product.relType == 2 && !product.isEditor && !product.isCustomProduct">
                                    <a target="_self" class="thumbnail-link" ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" ng-if="!product.icons[currentLang.code] && !product.icon">
                                        <img loading="lazy" ng-if="!product.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                                    </a>
                                    <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                        <img loading="lazy" ng-if="product.icon" ng-src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        <img loading="lazy" class="promotion-icon img-responsive" ng-if="product.promotion.icon" ng-src="{{product.promotion.icon.url}}" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h3>
                                            <a target="_self" ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                                groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                    {{ product.names[currentLang.code] }}
                                </a>
                                        </h3>
                                        <div class="description" ng-show="product.icons[currentLang.code]" data-ng-bind-html="product.icons[currentLang.code]"></div>

                                    </div>
                                    <a target="_self" ui-sref="calculate({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" class="btn btn-block btn-info btn-flat btn-more">
                            {{ 'show_more' | translate }}
                        </a>
                                </div>
                                <div class="thumbnail relType3 clearfix" ng-if="product.relType == 2 && product.isEditor && !product.isCustomProduct">

                                    <a target="_self" class="thumbnail-link" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" ng-if="!product.icons[currentLang.code] && !product.icon">
                                        <img loading="lazy" ng-if="!product.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                                    </a>
                                    <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                        <img loading="lazy" ng-if="product.icon" ng-src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        <img loading="lazy" class="promotion-icon img-responsive" ng-if="product.promotion.icon" ng-src="{{product.promotion.icon.url}}" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h3>
                                            <a target="_self" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                                groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                    {{ product.names[currentLang.code] }}
                                </a>
                                        </h3>
                                        <div class="description" ng-show="product.icons[currentLang.code]" data-ng-bind-html="product.icons[currentLang.code]"></div>

                                    </div>
                                    <a target="_self" ui-sref="select-project({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" class="btn btn-block btn-info btn-flat btn-more">
                            {{ 'show_more' | translate }}
                        </a>
                                </div>

                                <div class="thumbnail relType4 clearfix" ng-if="product.relType == 2 && !product.isEditor && product.isCustomProduct">

                                    <a target="_self" class="thumbnail-link" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" ng-if="!product.icons[currentLang.code] && !product.icon">
                                        <img loading="lazy" ng-if="!product.icons[currentLang.code]" ng-src="{{STATIC_URL}}{{companyID}}/images/productholder.png" class="img-responsive" />
                                    </a>
                                    <a target="_self" ng-if="product.icon" class="thumbnail-link" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                           groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                        <img loading="lazy" ng-if="product.icon" ng-src="{{product.icon.url}}" alt="" class="img-responsive" />
                                        <img loading="lazy" class="promotion-icon img-responsive" ng-if="product.promotion.icon" ng-src="{{product.promotion.icon.url}}" alt="" />
                                    </a>
                                    <div class="caption">
                                        <h3>
                                            <a target="_self" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                                groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})">
                                    {{ product.names[currentLang.code] }}
                                </a>
                                        </h3>
                                        <div class="description" ng-show="product.icons[currentLang.code]" data-ng-bind-html="product.icons[currentLang.code]"></div>

                                    </div>
                                    <a target="_self" ui-sref="custom-product({categoryurl: item.langs[currentLang.code].url,
                        groupurl: product.group.slugs[currentLang.code], typeurl: product.slugs[currentLang.code]})" class="btn btn-block btn-info btn-flat btn-more">
                            {{ 'show_more' | translate }}
                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="attributeDescView == 3">
                    <div ng-show="activeCategoryID == item.ID || (_.includes(startCategories, item.ID) && mainButtonActive)" class="col-md-12">
                        <div class='col-xs-12 no-padding'>

                            <accordion>
                                <accordion-group ng-repeat="description in item.descriptions | orderBy: 'order' " is-open="description.isOpen">
                                    <accordion-heading>
                                        {{ description.langs[currentLang.code].name }}
                                        <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <div ng-bind-html="description.langs[currentLang.code].description"></div>
                                </accordion-group>
                            </accordion>

                        </div>

                        <div class="col-xs-12 no-padding" ng-repeat="gallery in item.galleries | orderBy: 'order' | filter:hasFormats " ng-if="gallery.items.length > 0">

                            <h4 class='product-view'>{{ gallery.langs[currentLang.code].name }}</h4>
                            <div class='product-gallery-content'>
                                <ng-gallery images="gallery.items" thumbs-num="gallery.items.length">
                                </ng-gallery>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
