<div class="modal-header btn-success">
    <div class="row">
        <div class="col-md-6">
            <h3 class="modal-title">
                Historia zmian metod dostawy
            </h3>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-default" type="button" ng-click="$dismiss()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                </div>
                <div class="portlet-body">
                    <div class="wrapper1">
                        <div class="div1"></div>
                    </div>

                    <div class="overflowContainer">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                <th width="5%">#</th>
                                <th>{{ 'change_date' | translate }}</th>
                                <th>{{ 'delivery' | translate }}</th>
                                <th>{{ 'operator' | translate }}</th>
                                <th>{{ 'net_price' | translate }}</th>
                                <th>{{ 'products' | translate }}</th>
                                <th>{{ 'reason_for_changing_delivery' | translate }}</th>
                                <th>{{ 'actions' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="delivery in deliveries">
                                <td>
                                    {{ delivery.baseID + "/" + delivery.ver }}
                                </td>
                                <td>
                                    {{ delivery.created | date:'dd-MM-yyyy HH:mm:ss' }}
                                </td>
                                <td>
                                    {{ delivery.langs[currentLang.code].name }}
                                </td>
                                <td>
                                    {{ delivery.userName}}
                                </td>
                                <td>
                                    {{ delivery.price }} {{ delivery.currency }}
                                </td>
                                <td>
                                    <p class="marginBottomNo">
                                        <b>{{ delivery.typeName }}</b>
                                    </p>
                                    <span ng-repeat="product in delivery.products">
                                        <b>{{ product.name }}</b> {{product.volume}}
                                    </span>
                                </td>
                                <td>
                                    {{ delivery.reason }}
                                </td>
                                <td>
                                    <div>
                                        <button class="btn blue-hoki btn-xs" ng-click="editDelivery(order, delivery)">
                                            <i class="fa fa-plus"></i> {{ 'edit' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
</div>
