<div class="modal-header btn-success">
    <h3 class="modal-title">{{ 'edit' | translate }}: {{ 'user_data' | translate }} - {{ user.ID }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                </div>
                <div class="portlet-body">

                    <div class="row">

                        <form class="form-horizontal" ng-submit="saveUserData()">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <h4>{{ 'user_data' | translate  }}</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'email' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" ng-model="user.user" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'username' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" ng-model="user.login" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'firstname' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="user.name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'surname' | translate }}</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-model="user.lastname" />
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success pull-right">
                                            <i class="fa fa-check"></i> {{ 'save' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <form class="form-horizontal" ng-submit="changePassword()">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <h4>{{ 'change_password' | translate  }}</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'password' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" ng-model="form.password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'repeat_new_password' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <input type="password" class="form-control" ng-model="form.passwordRepeat" />
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success pull-right">
                                            <i class="fa fa-check"></i> {{ 'save' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <form class="form-horizontal">

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'addresses' | translate}}
                                </label>
                                <div class="col-md-9">
                                    <button class="btn btn-primary" ng-click="openAddressModal(user)">
                                        {{ 'addresses' | translate }}
                                    </button>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'default_shipping_address' | translate }}</label>
                                <div class="col-md-9">
                                    <p>{{ user.address.addressName }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'default_data_for_the_invoice'| translate }}
                                </label>
                                <div class="col-md-9">
                                    {{ user.fvAddress.addressName }}
                                </div>
                            </div>

                        </form>


                    </div>

                    <div class="row">
                        <div ng-if="userCanEdit || (canAddOtherAddress && user.address.ID)" class="col-md-6 default-shipping">
                            <div class="alert alert-info">
                                {{ 'default_shipping_address' | translate }}
                            </div>

                            <form class="form-horizontal" ng-submit="editDefaultAddress('delivery')">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'firstname' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'surname' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.lastname" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'company_name' | translate}}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.companyName" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'street' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.street" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'house_number' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.house" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'apartment_number' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.apartment" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label ">
                                        {{ 'zip_code' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.zipcode" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'city' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.city" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'area_code' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.areaCode" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'phone' | translate}}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.address.telephone" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'country' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <select ng-options="country.code as country.name_pl for country in countries"
                                                ng-model="user.address.countryCode" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success pull-right">
                                                <i class="fa fa-check"></i> {{ 'save' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div ng-if="userCanEdit || (canAddOtherAddress && user.fvAddress.ID)" class="col-md-6 default-shipping">
                            <div class="alert alert-info">
                                {{ 'default_data_for_the_invoice' | translate }}
                            </div>

                            <form class="form-horizontal" ng-submit="editDefaultAddress('invoice')">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'company' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.companyName" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'nip' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.nip" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'firstname' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'surname' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.lastname" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'street' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.street" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'house_number' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.house" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'apartment_number' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.apartment" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'zip_code' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.zipcode" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'city' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.city" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'area_code' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.areaCode" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'phone' | translate }}</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="user.fvAddress.telephone" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{ 'country' | translate }}
                                    </label>
                                    <div class="col-md-9">
                                        <select ng-options="country.code as country.name_pl for country in countries"
                                                ng-model="user.fvAddress.countryCode" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success pull-right">
                                                <i class="fa fa-check"></i> {{ 'save' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                    <div class="row margin-top">

                        <form class="form-horizontal" ng-submit="editAdditionalUserOptions(user)">

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'domain' |  translate }}
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-model="user.domainID"
                                            ng-options="domain.ID as domain.name for domain in domains" >
                                        <option value="">{{ 'select' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'language' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control"
                                            ng-model="user.options.lang"
                                            ng-options="lang.code as lang.name for lang in languages">
                                        <option value="">{{ 'select' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'deferral_of_payments' |  translate }}
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="user.deferredPayment" />
                                        <div class="input-group-addon">{{ 'days' | translate }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'credit_limit' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="user.options.creditLimit" />
                                        <div class="input-group-addon">{{ defaultCurrency.code }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'currency_name' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <select ng-options="currency.code as currency.code for currency in currencies"
                                            ng-model="user.options.currency" class="form-control">
                                        <option value="">{{ 'select' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'seller' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <select class="form-control" ng-init="user.userSellerID = user.userSellerID || null"
                                            ng-model="user.userSellerID"
                                            ng-options="seller.ID as seller.user for seller in sellers">
                                        <option value="">{{ 'select' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label control-label-1">

                                </label>
                                <div class="col-md-9">
                                    <div class="checkbox-list">
                                        <label>
                                            <div class="checker"><span ng-class="{checked: user.block}" ng-true-value="1" ng-false-value="0">
                                                <input ng-model="user.block" type="checkbox"></span>
                                            </div>
                                            {{ 'blocked' | translate }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success pull-right">
                                            <i class="fa fa-check"></i> {{ 'save' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    {{ 'discount_groups' | translate }}
                                </label>
                                <div class="col-md-9">
                                    <div ng-if="user.userDiscountGroups">
                                        <span ng-repeat="discountGroup in user.userDiscountGroups">
                                            <b>{{ discountGroup[currentLang.code] }}</b>
                                            <span ng-if="!$last"> | </span>
                                        </span>
                                    </div>
                                    <button class="btn btn-sm btn-basic"
                                            ng-class="{'btn-primary': user.countDiscountGroups > 0}"
                                            ng-click="selectDiscountGroups(user)">
                                        {{ 'discount_groups' | translate }}
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-3 col-xs-3">
        <button class="btn btn-success delete-user" type="button">{{ 'delete_user' | translate }}</button>
    </div>
    <div class="col-md-6 list-order-user">
    </div>
    <div class="col-md-3 col-xs-3">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
    </div>
</div>
