<div class="modal-header">
    <h3 class="modal-title">{{ 'change_discount_group' | translate }}</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="save()">

    <div class="modal-body">

        <h3 class="modal-title alert alert-info ng-binding">{{ 'discount_groups' | translate }}</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="pull-left">
                    {{ 'language' | translate }}
                </div>
                <div class="pull-right">
                    <select ng-model="showLang" ng-options="lang.code as lang.name for (key, lang) in languages" ng-init="showLang = currentLang.code"></select>
                </div>
            </div>
        </div>

        <div ng-repeat="discountGroup in discountGroups">

            <div class="list-group clickable">
                <a class="list-group-item" style="cursor: pointer;" data-ng-click="discountGroup.selected = (discountGroup.selected != 1 ? 1 : 0)"
                   data-ng-class="{active: discountGroup.selected}">
                    <h3 class="list-group-item-heading">
                        {{discountGroup.langs[currentLang.code].name }}
                    </h3>
                </a>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>