<div class="modal-header">
    <h3 class="modal-title">
        {{ promotion.promotionLanguages[currentLang.code].name }}
    </h3>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <tr>
                    <td>
                        {{ 'repeated_promotion' | translate }}
                    </td>
                    <td>
                        <span class="btn blue-stripe btn-xs"
                              ng-class="{'red-sunglo-stripe': !promotion.active}">
                                {{ !!promotion.active ? 'yes' : 'no' | translate }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ 'status' | translate }}
                    </td>
                    <td>
                        <span ng-if="promotion.state == 0">{{ 'pending_promotion' | translate }}</span>
                        <span ng-if="promotion.state == 1">{{ 'promotion_started' | translate }}</span>
                        <span ng-if="promotion.state == 2">{{ 'permanent_promotion' | translate }}</span>
                        <span ng-if="promotion.state == 3">{{ 'promotion_ended' | translate }}</span>
                    </td>
                </tr>
                <tr ng-if="promotion.promotionStartDate">
                    <td>
                        {{ 'start_date' | translate }}
                    </td>
                    <td>
                        {{ promotion.promotionStartDate }}
                    </td>
                </tr>
                <tr ng-if="promotion.promotionEndDate">
                    <td>
                        {{ 'end_date' | translate }}
                    </td>
                    <td>
                        {{ promotion.promotionEndDate }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>