<div class="modal-header btn-success">
	<h3 class="modal-title">Moje Oferty</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="save()">
	<div class="modal-body">
		<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa-archive"></i> Lista wysłanych ofert
				</div>
				<!-- <div class="tools">
		          <well class="btn-sm">{{ 'number_of_rows' | translate }}: <span class="badge">{{ cartsCtrl.totalItems }}</span> </well>
		          <select ng-model="showRows" class="btn-default input-sm" ng-change="cartsCtrl.setRows(showRows)" ng-options="each for (null, each) in [10,25,50,100]" ></select>
		          <button ng-click="cartsCtrl.clearCache()" class="btn btn-primary btn-sm">
		            <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
		          </button>
		          <button button-faq-accordion="orders.carts"></button>
		        </div> -->
			</div>
			<div class="portlet-body">
				<div class="wrapper1">
					<div class="div1"></div>
				</div>

				<div class="overflowContainer">
					<table class="table table-striped table-hover">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">#</th>
								<th>Produkt</th>
								<th>Termin realizacji</th>
								<th>Informacja dotycząca oferty</th>
								<th>Akcje</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in list">
								<td>
									{{ item.ID }}
								</td>
								<td>
									Plakat
								</td>
								<td>
									{{ item.date }}
								</td>
								<td>
									Informacja dotycząca przetargu
								</td>

								<td><button class="btn blue-hoki btn-xs">{{ 'edit' | translate }}</button><br><button class="btn blue-hoki btn-xs">Cechy</button></td>
							</tr>
						</tbody>
					</table>
				</div>

				<pagination total-items="cartsCtrl.totalItems" ng-model="cartsCtrl.currentPage" ng-change="cartsCtrl.setPage(cartsCtrl.currentPage); cartsCtrl.get()" class="pagination-sm" max-size="10" boundary-links="true" rotate="true" items-per-page="cartsCtrl.params.limit" ></pagination>

			</div>
		</div>
	</div>
</div>
	</div>
	<div class="modal-footer">
		<button class="btn red-sunglo" type="button" ng-click="cancel()">{{ 'cancel' | translate }}</button>
		<button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
	</div>