/* global */
html {
    scroll-behavior: smooth;
}

body {
    padding-top: @navbar-height + 1;
}

form + .btn-block{
    margin-top : 5px;
}

header{
    .navbar-brand{
        padding     : 0;
        line-height : @navbar-height;
        img{
            max-height : @navbar-height;
            max-width  : @navbar-height * 5;
            display    : inline-block;
        }
    }
    .test {
        font-size: 18px;
    }
}

.loading{
    padding : @padding-base-vertical @padding-base-horizontal;
}

.row-payments{
    .col-centered{
        min-width : 250px;
    }
    .btn-block{
        margin-top : 5px;
    }
}

.panel{
    &.panel-accordion{
        padding : 0;
        &.active{
            a{
                background-color : @brand-primary;
                color            : @body-bg;
            }
        }
        .panel-heading{
            padding : 0;
            .panel-title{
                a{
                    display : block;
                    padding : 13px 17px;
                }
            }
        }
    }
}

/*********** responsive tables */

// Fix change orientation
// Remove border (panel)
// Remove left right padding
@media only screen and (max-width : 800px){
    .responsive > tbody > tr > td{
        padding-left  : 38% !important;
        padding-right : 0;
    }

    .panel-body .responsive > tbody > tr{
        border : none;
    }

    .panel-body .responsive > tbody > tr > td::before{
        left : 0px;
    }

    .panel-body .responsive{
        margin-bottom : 0;
    }

    .panel-body .responsive > tbody > tr > td:last-child{
        border : 0;
    }
}

@media only screen and (min-width: 992px) {
    .modal-lg {
        width: 80%;
    }
}
/*********** end responsive tables */

/*********** modal */
.modal-body table{
    margin-bottom : 0;
}

/*********** end modal */

/*********** product menu */
#product-menu{
    > li{
        .fa-minus, .fa-plus{
            display : none;
        }
        &.active{
            a{
                .fa-minus{
                    display : inline-block;
                    color   : white !important;
                }
                &:hover{
                    .fa-plus{
                        display : none;
                    }
                }
            }
            > ul{
                display : block;
            }
        }
        a{
            &:hover{
                .fa-plus{
                    display : inline-block;
                }
            }
        }
        > ul{
            display       : none;
            padding-left  : 0;
            margin-bottom : 0;
            list-style    : none;
            height        : auto !important;
            > li{
                a{
                    color         : @text-color;
                    border-bottom : 1px solid @gray-lighter;
                    &:hover{
                        text-decoration  : underline;
                        background-color : lighten(@text-color, 75%);
                    }
                    &.active{
                        color : @brand-primary;
                    }
                }
                > ul{
                    > li{
                        a{
                            padding-left  : 30px;
                            border-bottom : none;
                            &.active{
                                color : @brand-primary;
                            }
                        }
                        > ul{
                            > li{
                                > a{
                                    padding-left : 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*********** end product menu */

/* carousel */

// Fix carousel styles
.content-header-carousel{
    text-align : center;
    ul{
        height        : @carousel-height;
        margin-bottom : 0;
        z-index       : 98;
        position      : relative;
        li{
            span{
                width   : 100%;
                height  : 100%;
                display : block;
                clear   : none;
                float   : left;
            }
        }
    }
    // Box with carousel indicators
    ul + div{
        margin-top : -ceil(@carousel-height/10);
        z-index    : 99;
        position   : relative;
    }
}

/* scrollbar */
.mCSB_container_wrapper{
    margin-right : 18px;
    > .mCSB_container{
        padding-right : 0;
    }
}
/* end scrollbar */

/* other */

.panel-footer{
    &.bg-info{
        .bg-variant(@state-info-bg);
    }
}

.navbar-myzone{
    background-color : @body-bg;
}

.navbar-myzone .navbar-brand, .navbar-myzone .navbar-brand:hover, .navbar-myzone .navbar-brand:focus{
    color        : @brand-primary;
    padding-left : @navbar-padding-vertical;
}

.navbar-myzone .navbar-collapse{
    padding-top    : @navbar-padding-horizontal;
    padding-bottom : @navbar-padding-horizontal;
}

.navbar-myzone .navbar-toggle{
    background-color : @brand-primary;
}

.fullwidth-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;

    div#photo-map-global {
        width: 90%;
        height: 90%;
        background: white;
        top: 5%;
        left: 5%;
        box-shadow: 0 0 50px black;
        position: absolute;
    }

}

.row-margin-top {
    margin-top: @row-marign-height;
}

.delivery-connect {
    margin-left:20px;
    .delivery-item-1 {
        color: @brand-primary;
    }
    .delivery-item-2 {
        color: @brand-info;
    }
    .delivery-item-3 {
        color: @brand-success;
    }
}

.delivery-sum-plus {
    color: @brand-success;
    font-weight: bold;
    font-size:@font-size-large;
}

.delivery-sum-normal {
    font-weight: bold;
    font-size:@font-size-large;
}

.pre-loader img {
    width:60px;
}

.project-thumbnail {
    width:100px;
}

#cookie-block {
    background-color: #fff;
    bottom: 0;
    box-shadow: -2px 0 10px #ddd;
    color: #777;
    font-size: 12px;
    line-height: 120%;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width:100%;

    .cookie-info {
        padding: 10px 20px 6px;
        position: relative;
    }

    .cookies-close {
        display: block;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        text-decoration: none;
        text-transform: uppercase;
        top: 5px;
        font-size:20px;
        cursor: pointer;
    }
}

.element-margin-right {
    margin-right: 10px
}

.regular-link {
    cursor: pointer;
}

.news-divide {
    padding-bottom: 10px;
}

.main-page-header {
    margin-top: 20px;
}

.scroll-to-top {
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    z-index: 10001;
    display: none;
    right: 15px;
    cursor:pointer;
}
.scroll-to-top > i {
    display: inline-block;
    color: #687991;
    font-size: @font-size-h1;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.inline-block {
    display: inline-block;
}

ul[rn-carousel-transition=hexagon] {
    overflow: hidden;
}

.box-newsletter {
    .newsletter-agreement {
        width: 22px;
    }
    .newsletter-agreement-text {
        float: left;
        width: 95%;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.zoom-static-image {
    cursor: pointer;
}

.orderFilterSearchInput {
    width: 368px !important;
}

#mainLoader {
    opacity:    1;
    background: #ffffff;
    width:      100%;
    height:     100%;
    z-index:    1000;
    top:        0;
    left:       0;
    position:   fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainLoader.finished{

    animation: hiding 600ms ease-in-out ;
    animation-fill-mode: forwards;
}
@keyframes hiding {
    100% {
        top:100vh;
        display: none;
        opacity: 0;
    }
}
#mainLoader .main-pre-loader {
    /* position: absolute; */
    left: 45%;
    top: 45%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #848484;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.wcga-contrast {
    background-color: black;
    color: white;
}

.wcga-contrast {
    color: white;

    a, .panel-summary .summary-price .value, .panel-summary .summary-price .currency, .list-group-item-info,
    .panel-summary .summary-price, .select-by-picture .list-group-item-info .max-lines,
    header nav.navbar-default ul.navbar-nav a, .panel.panel-accordion.active .panel-heading .panel-title a, .priceStyle, .priceStyle3,
    .th-realisation-time .realization-time-label, .th-realisation-time .shipping-time, table.table-volume .th-realisation-time .info,
    .delivery-table.responsive th{
        color: white;
    }

    .select-by-picture li .list-group-item, header nav.navbar-default ul.navbar-nav a:hover, .nav > li > a:focus, delivery-head,
    .panel.panel-accordion .panel-heading .panel-title a, .responsive th , .class-custom-select-box{
        color: black;
    }

    .productTitleSticky, .panel {
        background-color: black;
    }

    .col-box-volume.bg-success:hover, .col-box-volume:hover, .btn-info, .list-group-item-info, .bg-info, .panel.panel-accordion.active a, .modal-content
    , .one-line-price .col-box-volume.bg-success, .delivery-table th {

        background-color: @gray;
    }

    .nav > li > a:hover, .col-box-volume.bg-success, .bg-default, .navbar-default, .one-line-price:hover .one-line-price-col,
    .one-line-price .col-box-volume.bg-success:hover {
        background-color: @gray-dark;
    }

    .panel-info > .panel-heading, .panel-success > .panel-heading, .tab-content {
        color: white;
        background-color: black;
    }

    .btn-info, .btn-primary, .btn-info:active:hover, .btn-info.active:hover, .btn-info:active:focus,
    .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus,
    .open > .dropdown-toggle.btn-info.focus,
    .btn-success, .btn-success:active:hover, .btn-success.active:hover,
    .btn-success:active:focus, .btn-success.active:focus, .btn-success:active.focus, .btn-success.active.focus {
        color: black;
        background-color: yellow;
    }

    .price-list-icon, .technology-list img {
        filter: invert(100%);
    }
}

.wcga-fonts {
    font-size: 200%;

    header .breadcrumb span {
        font-size: 16px;
    }

    .panel-title {
        font-size: 24px;
    }

    .input-group-btn {
        font-size: 8px;
    }

    .thumbnail .caption h3 a {
        font-size: 22px;
    }

    .form-control {
        padding: 2px 12px;
        font-size: 18px;
    }

    .technology-switch {
        filter: invert(100%);
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 50%;
  }
}

/* Small Laptop */
@media only screen and (min-width: 992px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 50%;
  }

  body {
    font-size: 12px;
  }

  .form-control {
    font-size: 12px;
  }

  .input-group-addon {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .select-product-form input {
    font-size: 12px;
  }

  .navbar-right {
    margin-top: 10px;
  }

  .navbar-brand {
    margin-top: 10px;
  }
}

/* Wide Screens */
@media only screen and (min-width: 1400px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 50%;
  }

  body {
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
  }

  .input-group-addon {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .select-product-form input {
    font-size: 16px;
  }

  .select-by-picture li .list-group-item {
    min-height: 160px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 66%;
  }

  .flex-switch {
    display: flex;
    flex-direction: column-reverse;
  }

  .label-description-realisation {
    margin: 0% 0% 12% 10%;
  }

  .winner-tittle {
    font-size: 2em;
    padding-left: 40%;
  }

  .winner-subtittle {
    font-size: 1.5em;
    padding-left: 40%;
  }

  .winner-content {
    padding-left: 40%;
    text-align: justify;
    text-justify: inter-word;
  }

  .winner-tittle-right {
    font-size: 2em;
    padding: 10px 0px;
    text-align: right;
    padding-right: 20%;
    padding-left: 20%;
  }

  .winner-subtittle-right {
    font-size: 1.5em;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 20%;
    padding-left: 20%;
  }

  .winner-content-right {
    padding-right: 20%;
    text-align: justify;
    text-justify: inter-word;
  }

  .winner-image-right {
    padding-right: 20%;
  }

  .winner-image-left {
    padding-left: 40%;
  }

  .label-title-realisation {
    font-size: 2em;
  }

  .label-for-products-title {
    font-size: 2em;
  }

  .label-title-center {
    font-size: 2em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
    padding-top: 5px;
  }

  .dropdown {
    padding-top: 10px;
  }

  header .fa {
    padding-top: 11px;
  }

  .navbar-brand {
    margin-top: 9px;
  }

  [ui-view="header"] {
    min-height: 150px;
  }
}

.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 15px;
  border-radius: 4px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 100%;
  }

  .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .panel-group .panel {
    margin-bottom: 15px;
    border-radius: 4px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .col-xs-6.col-sm-4.col-md-3.index_col_1_1,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_2,
  .col-xs-6.col-sm-4.col-md-3.index_col_2_8 {
    width: 100%;
  }

  .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .panel-group .panel {
    margin-bottom: 15px;
    border-radius: 4px;
  }
}

.img-responsive {
  display: inline;
  max-width: auto !important;
  width: 100% !important;
}

