<div class="modal-header">
    <h3 class="modal-title">{{ delivery.name }}</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="save()">
    <div class="modal-body">

        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'lang_name' | translate }}</label>
                <div class="col-md-9">
                    <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                           ng-model="form.names[lang.code]" type="text" class="form-control"
                           placeholder="{{lang.code}}"/>
                    <select class="form-control" ng-init="nameLang = currentLang.code" ng-model="nameLang"
                            ng-options="each.code as each.name for (key, each) in languages"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'courier' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="form.courierID"
                            ng-change="selectCourier(form.courierID, form) "
                            ng-options="each.ID as each.name for (key, each) in couriers"></select>
                </div>
            </div>

            <div class="form-group" ng-repeat="key in form.courier.keys"
                 ng-if="form.courierID">

                <label class="col-md-3 control-label">{{ key.langs[currentLang.code].name }}</label>
                <div class="col-md-9">
                    <input ng-if="key.type != 'select'" ng-model="key.value" type="{{key.type}}"
                           class="form-control" placeholder="{{ key.langs[currentLang.code].name }}" />
                    <select class="form-control" ng-if="key.type == 'select'"
                            ng-model="key.value"
                            ng-options="option.value as option.langs[currentLang.code].name for option in key.options">
                        >
                    </select>
                </div>
            </div>

            <div ng-repeat="collectionAttribute in collectionAttributes">
                <div class="form-group" ng-repeat="collectionOption in collectionAttribute.values track by $index"
                     ng-if="form.courierID">
                    <label class="col-md-3 control-label">{{ collectionAttribute.langs[currentLang.code].name }} {{ $index + 1 }}</label>
                    <div class="col-md-8">
                        <input ng-model="form.collectionOption[collectionAttribute.ID][$index]" type="text" class="form-control" />
                    </div>
                    <div class="col-md-1">
                        <button type="button" ng-click="removeOption(collectionAttribute, $index)" class="btn btn-xs" >
                            <i class="fa fa-minus-circle"></i>
                        </button>
                        <button ng-if="$last" type="button" ng-click="addNewOption(collectionAttribute)" class="btn btn-xs" >
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'price' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.price.price" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'package_weight' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.price.weight" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'UnitQty' | translate }}</label>
                <div class="col-md-9">
                    <input ng-model="form.price.UnitQty" type="text" class="form-control">
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'FS_Weight' | translate }}</label>
                <div class="col-md-5">
                    <input ng-model="form.price.FS_WeightStart" type="text" class="form-control"
                           placeholder="{{'start_kg' | translate}}">
                </div>
                <div class="col-md-4">
                    <input ng-model="form.price.FS_WeightEnd" type="text" class="form-control"
                           placeholder="{{'end_kg' | translate}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'FS_Val' | translate }}</label>
                <div class="col-md-5">
                    <input ng-model="form.price.FS_ValStart" type="text" class="form-control"
                           placeholder="{{'start_val' | translate}}">
                </div>
                <div class="col-md-4">
                    <input ng-model="form.price.FS_ValEnd" type="text" class="form-control"
                           placeholder="{{'end_val' | translate}}">
                </div>
            </div>

            <div class="form-group" style="background: beige">
                <label class="col-md-3 control-label">{{ 'EX_Weight' | translate }}</label>
                <div class="col-md-5">
                    <input ng-model="form.price.EX_WeightStart" type="text" class="form-control"
                           placeholder="{{'start_kg' | translate}}">
                </div>
                <div class="col-md-4">
                    <input ng-model="form.price.EX_WeightEnd" type="text" class="form-control"
                           placeholder="{{'start_kg' | translate}}">
                </div>
            </div>

            <div class="form-group" style="background: beige">
                <label class="col-md-3 control-label">{{ 'Ex_Val' | translate }}</label>
                <div class="col-md-5">
                    <input ng-model="form.price.EX_ValStart" type="text" class="form-control"
                           placeholder="{{'start_val' | translate}}">
                </div>
                <div class="col-md-4">
                    <input ng-model="form.price.EX_ValEnd" type="text" class="form-control"
                           placeholder="{{'end_val' | translate}}">
                </div>
            </div>

            <div class="form-group" style="background: beige">
                <label class="col-md-3 control-label">{{ 'Ex_Dim' | translate }}</label>
                <div class="col-md-3">
                    <input ng-model="form.price.EX_DimL" type="text" class="form-control"
                           placeholder="{{'length' | translate}}">
                </div>
                <div class="col-md-3">
                    <input ng-model="form.price.EX_DimW" type="text" class="form-control"
                           placeholder="{{'width' | translate}}">
                </div>
                <div class="col-md-3">
                    <input ng-model="form.price.EX_DimH" type="text" class="form-control"
                           placeholder="{{'height' | translate}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'select_tax' | translate }}</label>
                <div class="col-md-9">
                    <select class="form-control"
                            ng-model="form.price.taxID"
                            ng-options="item.ID as item.name for item in taxes">
                        <option value="">{{ 'select' | translate }}</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
        <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'save' | translate }}</button>
    </div>

</form>
