<div class="container" id="configure-project">

    <div class="row" id="row-product-description">
        <div class="col-xs-12">
            <h1 class="page-header">{{currentType.names[currentLang.code]}}</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div ng-if="currentProject" class="panel panel-default panel-project">
                        <div class="panel-heading">
                            {{ 'selected_project' | translate }}
                        </div>
                        <div class="panel-body">
                            <img loading="lazy" ng-src="{{STATIC_URL}}editor{{ currentProject.url }}" alt=""/>
                        </div>
                    </div>

                    <div class="panel panel-default"
                         ng-repeat="thumbnail in thumbnails | orderBy: 'order' | filter:hasFormats"
                         ng-if="thumbnail.files.length > 0" id="panel-product-thumbnails">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ thumbnail.langs[currentLang.code].name }}</h3>
                        </div>
                        <div class="panel-body">
                            <img loading="lazy" class="img-responsive" ng-repeat="file in thumbnail.files" ng-src="{{file.url}}">
                        </div>
                    </div>


                    <div class="row" ng-if="galleries.length > 0">
                        <div class="col-xs-12" ng-repeat="gallery in galleries | orderBy: 'order' | filter:hasFormats "
                             ng-if="gallery.items.length > 0">
                            <h3>{{ gallery.langs[currentLang.code].name }}</h3>
                            <ng-gallery images="gallery.items" thumbs-num="gallery.items.length"></ng-gallery>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <accordion>
                        <accordion-group ng-repeat="description in descriptions | orderBy: 'order' | filter:hasFormats "
                                         is-open="description.isOpen">
                            <accordion-heading>
                                {{ description.langs[currentLang.code].name }}

                                <i class="pull-right fa"
                                   ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
                            </accordion-heading>


                            <div ng-if="description.showLess">
                                <div ng-show="description.initHide" ng-bind-html="description.showLess"></div>
                                <div ng-show="!description.initHide"
                                     ng-bind-html="description.langs[currentLang.code].description"></div>

                                <div class="pull-right">
                                    <button ng-show="description.initHide" ng-click="description.initHide=false;"
                                            class="btn-sm btn btn-info">
                                        {{ 'expand' | translate }}
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <button ng-show="!description.initHide" ng-click="description.initHide=true;"
                                            class="btn-sm btn btn-info">
                                        {{ 'collapse' | translate }}
                                        <i class="fa fa-chevron-up"></i>
                                    </button>
                                </div>
                            </div>

                            <div ng-if="!description.showLess">
                                <div ng-bind-html="description.langs[currentLang.code].description"></div>
                            </div>

                        </accordion-group>
                    </accordion>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" id="panel-product-parameters">

                        <div class="panel-heading">
                            <div class="panel-title">
                                {{currentType.names[currentLang.code]}}
                            </div>
                        </div>

                        <div class="panel-body">
                            <form ng-submit="calculate(productItem.amount, productItem.volume)" class="form-horizontal">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">{{ 'order_name' | translate }}</span>
                                            <input ng-model="productItem.name" ng-change="changeUserProductName()"
                                                   type="text" placeholder="{{ 'own_name' | translate }}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="type.changeTechnology && technologies.length > 1" class="form-group">
                                    <label class="col-md-5 control-label">{{ 'technology' | translate }}</label>
                                    <div class="col-md-7">
                                        <select class="form-control"
                                                ng-model="productItem.selectedTechnologyID"
                                                ng-options="technology.ID as technology.names[currentLang.code] for technology in technologies"
                                                ng-change="selectTechnology()">
                                            <option value="">{{ 'best_price' | translate }}</option>
                                        </select>
                                    </div>
                                </div>

                                <fieldset ng-repeat="complexProduct in complexProducts">
                                    <legend
                                        ng-if="!complexProduct.names[currentLang.code]">{{ complexProduct.name }}</legend>
                                    <legend
                                        ng-if="complexProduct.names[currentLang.code]">{{ complexProduct.names[currentLang.code].name }}</legend>

                                    <div class="form-group" ng-if="complexProduct.products.length != 1">
                                        <label class="col-md-5 control-label">{{ 'product' | translate }}</label>
                                        <div class="col-md-7">
                                            <select class="form-control" ng-model="complexProduct.selectedProduct"
                                                    ng-change="selectComplexProduct(complexProduct, complexProduct.selectedProduct)"
                                                    ng-options="product as product.langs[currentLang.code].name for product in complexProduct.products"></select>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-if="!complexProduct.selectedProduct.data.info.noCalculate && complexProduct.selectedProduct.data.relatedFormats.length > 0">
                                        <label
                                            ng-if="complexProduct.selectedProduct.data.customFormatInfo.customName[currentLang.code]"
                                            class="col-md-5 control-label"
                                            tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]}}"
                                            tooltip-placement="right">
                                            {{complexProduct.selectedProduct.data.customFormatInfo.customName[currentLang.code]}}
                                            <i ng-if="complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]"
                                               class="fa fa-info-circle" aria-hidden="true"></i>
                                        </label>
                                        <label
                                            ng-if="!complexProduct.selectedProduct.data.customFormatInfo.customName[currentLang.code]"
                                            class="col-md-5 control-label"
                                            tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]}}"
                                            tooltip-placement="right">
                                            {{ 'formats' | translate }}
                                            <i ng-if="complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]"
                                               class="fa fa-info-circle" aria-hidden="true"></i>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control"
                                                    ng-model="complexProduct.selectedProduct.data.currentFormat"
                                                    ng-disabled="complexProduct.selectedProduct.data.relatedFormats.length == 1"
                                                    ng-class="{'one-element-select': complexProduct.selectedProduct.data.relatedFormats.length == 1}"
                                                    ng-change="selectFormat(complexProduct.selectedProduct.data, complexProduct.selectedProduct.data.currentFormat)"
                                                    ng-options="item as item.langs[currentLang.code].name for item in complexProduct.selectedProduct.data.relatedFormats"></select>
                                        </div>
                                    </div>

                                    <!-- custom format width -->
                                    <div class="form-group"
                                         ng-if="!!complexProduct.selectedProduct.data.currentFormat.custom">
                                        <label class="col-md-5 control-label">
                                            {{ 'width' | translate }}
                                            ({{ complexProduct.selectedProduct.data.currentFormat.unit == 2 ? 'cm' : 'mm' }}
                                            )
                                        </label>
                                        <div class="col-md-7">
                                            <div class="input-group spincontainer">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="spinCustomWidth(complexProduct, 0)"
                                                            data-dir="dwn">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input class="form-control"
                                                       ng-if="!complexProduct.selectedProduct.data.currentFormat.maxWidth"
                                                       ng-model="complexProduct.selectedProduct.data.currentFormat.customWidth"
                                                       type="text"
                                                       min="{{ complexProduct.selectedProduct.data.currentFormat.minWidth - complexProduct.selectedProduct.data.currentFormat.slope*2 }}"
                                                       ng-change="selectCustomFormat(complexProduct)"/>
                                                <!-- when maxWidth exist -->
                                                <input class="form-control"
                                                       ng-if="complexProduct.selectedProduct.data.currentFormat.maxWidth"
                                                       ng-model="complexProduct.selectedProduct.data.currentFormat.customWidth"
                                                       type="text"
                                                       min="{{ complexProduct.selectedProduct.data.currentFormat.minWidth - complexProduct.selectedProduct.data.currentFormat.slope*2 }}"
                                                       max="{{ complexProduct.selectedProduct.data.currentFormat.maxWidth - complexProduct.selectedProduct.data.currentFormat.slope*2 }}"
                                                       ng-change="selectCustomFormat(complexProduct)"/>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="spinCustomWidth(complexProduct, 1)" data-dir="up">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- custom format height -->
                                    <div class="form-group"
                                         ng-if="!!complexProduct.selectedProduct.data.currentFormat.custom">
                                        <label class="col-md-5 control-label">
                                            {{ 'height' | translate }}
                                            ({{ complexProduct.selectedProduct.data.currentFormat.unit == 2 ? 'cm' : 'mm' }}
                                            )
                                        </label>
                                        <div class="col-md-7">
                                            <div class="input-group spincontainer">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="spinCustomHeight(complexProduct, 0)"
                                                            data-dir="dwn">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input class="form-control"
                                                       ng-if="!complexProduct.selectedProduct.data.currentFormat.maxHeight"
                                                       ng-model="complexProduct.selectedProduct.data.currentFormat.customHeight"
                                                       type="text"
                                                       min="{{ complexProduct.selectedProduct.data.currentFormat.minHeight - complexProduct.selectedProduct.data.currentFormat.slope*2}}"
                                                       ng-change="selectCustomFormat(complexProduct)"/>
                                                <!-- when maxHeight exist  -->
                                                <input class="form-control"
                                                       ng-if="complexProduct.selectedProduct.data.currentFormat.maxHeight"
                                                       ng-model="complexProduct.selectedProduct.data.currentFormat.customHeight"
                                                       type="text"
                                                       min="{{ complexProduct.selectedProduct.data.currentFormat.minHeight - complexProduct.selectedProduct.data.currentFormat.slope*2}}"
                                                       max="{{ complexProduct.selectedProduct.data.currentFormat.maxHeight - complexProduct.selectedProduct.data.currentFormat.slope*2}}"
                                                       ng-change="selectCustomFormat(complexProduct)"/>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="spinCustomHeight(complexProduct, 1)"
                                                            data-dir="up">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Lack of related format -->
                                    <div ng-if="complexProduct.selectedProduct.data.currentFormat === null"
                                         class="alert alert-info">
                                        {{ 'no_format_for_product' | translate }}
                                    </div>

                                    <!-- pages -->

                                    <div class="form-group" ng-if="complexProduct.selectedProduct.data.pages.length">
                                        <label
                                            ng-if="complexProduct.selectedProduct.data.customPageInfo.customName[currentLang.code]"
                                            class="col-md-5 control-label"
                                            tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]}}"
                                            tooltip-placement="right">
                                            {{ complexProduct.selectedProduct.data.customPageInfo.customName[currentLang.code] }}
                                            <i ng-if="complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]"
                                               class="fa fa-info-circle" aria-hidden="true"></i>
                                        </label>
                                        <label
                                            ng-if="!complexProduct.selectedProduct.data.customPageInfo.customName[currentLang.code]"
                                            class="col-md-5 control-label"
                                            tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]}}"
                                            tooltip-placement="right">
                                            {{ 'pages' | translate }}
                                            <i ng-if="complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]"
                                               class="fa fa-info-circle" aria-hidden="true"></i>
                                        </label>
                                        <div class="col-md-7">
                                            <select class="form-control"
                                                    ng-if="complexProduct.selectedProduct.data.pages[0].pages"
                                                    ng-model="complexProduct.selectedProduct.data.currentPages"
                                                    ng-change="selectPages(complexProduct.selectedProduct.data, complexProduct.selectedProduct.data.currentPages)">
                                                <option
                                                    ng-if="item.pages >= getMinimumThickness(complexProduct.selectedProduct.data) && item.pages <= getMaximumThickness(complexProduct.selectedProduct.data)"
                                                    ng-repeat="item in complexProduct.selectedProduct.data.pages"
                                                    value="{{item.pages}}">
                                                    {{ item.pages }}
                                                </option>
                                            </select>
                                            <div class="input-group spincontainer"
                                                 ng-if="!!complexProduct.selectedProduct.data.pages[0].minPages">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="spinPage(complexProduct, 0)" data-dir="dwn">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control"
                                                       min="{{getMinimumThickness(complexProduct.selectedProduct.data)}}"
                                                       data-old-min="complexProduct.selectedProduct.data.pages[0].minPages}}"
                                                       max="{{getMaximumThickness(complexProduct.selectedProduct.data)}}"
                                                       step="{{complexProduct.selectedProduct.data.pages[0].step}}"
                                                       ng-model="complexProduct.selectedProduct.data.currentPages"
                                                       ng-change="selectPages(complexProduct.selectedProduct.data, complexProduct.selectedProduct.data.currentPages)">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="spinPage(complexProduct, 1)" data-dir="up">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-repeat="attribute in complexProduct.selectedProduct.data.attributes"
                                         ng-if="!!complexProduct.selectedProduct.data.currentFormat && !!countAttrNotExcludedOptions(complexProduct.selectedProduct.data, attribute) && (attribute.filteredOptions[0].invisible != 1 || attribute.filteredOptions.length > 1) ">

                                        <label tooltip-html-unsafe="{{attribute.tooltip[currentLang.code]}}"
                                               tooltip-placement="right" class="col-md-5 control-label">
                                            <span
                                                ng-if="attribute.names[currentLang.code].name">{{ ::attribute.names[currentLang.code].name }}</span>
                                            <span
                                                ng-if="!attribute.names[currentLang.code].name">{{ ::attribute.attrName }}</span>
                                            <i ng-if="attribute.tooltip[currentLang.code]" class="fa fa-info-circle"
                                               aria-hidden="true"></i>
                                        </label>

                                        <div class="col-md-12" ng-if="attribute.selectByPicture == 1">

                                            <ul class="select-by-picture list-group row">
                                                <li ng-repeat="item in attribute.filteredOptions"
                                                    ng-if="!(attribute.minPages !== null && attribute.filteredOptions.length <= 1)"
                                                    ng-click="selectOptionImage(complexProduct.selectedProduct.data, item, attribute)"
                                                    class="col-md-4 col-xs-4">
                                                    <div
                                                        ng-class="{'list-group-item-info': complexProduct.selectedProduct.data.selectedOptions[attribute.attrID] == item.ID}"
                                                        class="list-group-item">
                                    <span data-target="#showOptionPicture" ng-click="setOptionPicture($event, item);"
                                          data-toggle="modal" ng-if="item.iconID"
                                          class="text-danger open-picture fa fa-eye"></span>
                                                        <img loading="lazy" class="img-responsive" ng-src="{{item.icon.minUrl}}"
                                                             alt=""/>
                                                        <span ng-if="item.names[currentLang.code].name.length <= 35"
                                                              class="text-center max-lines">{{ item.names[currentLang.code].name }}</span>
                                                        <span ng-if="item.names[currentLang.code].name.length > 35"
                                                              tooltip="{{item.names[currentLang.code].name}}"
                                                              tooltip-placement="bottom"
                                                              class="text-center max-lines">{{ item.names[currentLang.code].name }}</span>
                                                    </div>
                                                </li>
                                            </ul>

                                            <div id="showOptionPicture" class="modal calcModal" tabindex="-1"
                                                 role="dialog" aria-labelledby="showOptionPicture"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body modalImage">
                                                            <button class="btn btn-danger closeButton"
                                                                    data-dismiss="modal">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                            <img loading="lazy" alt="" class="center-block img-responsive"
                                                                 ng-src="{{optionPicture.url}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-7">

                                            <div ng-if="attribute.selectByPicture == 0">
                                                <select id="select-attribute-{{ attribute.attrID }}"
                                                        ng-if="!(attribute.minPages !== null && attribute.filteredOptions.length <= 1)"
                                                        ng-class="{'one-element-select': attribute.filteredOptions.length == 1}"
                                                        ng-disabled="attribute.filteredOptions.length == 1"
                                                        ng-model="complexProduct.selectedProduct.data.selectedOptions[attribute.attrID]"
                                                        ng-change="selectOption(complexProduct.selectedProduct.data, attribute.attrID)"
                                                        ng-options="item.ID as item.names[currentLang.code].name for item in attribute.filteredOptions"
                                                        class="form-control">
                                                </select>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="input-group spincontainer"
                                                 ng-show="!checkEmptyChoice(complexProduct, attribute.attrID);"
                                                 ng-if="attribute.minPages !== null && attribute.step !== null">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="releaseSpinner(complexProduct, attribute.attrID, 0)"
                                                            data-dir="dwn">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control" min="{{ attribute.minPages }}"
                                                       max="{{ attribute.maxPages }}"
                                                       ng-model="complexProduct.selectedProduct.data.attrPages[attribute.attrID]"
                                                       ng-change="selectAttrPages(complexProduct, attribute.attrID)">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="releaseSpinner(complexProduct, attribute.attrID, 1)"
                                                            data-dir="up">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        ng-if="attribute.filteredOptions.length == 1 && attribute.filteredOptions[0].invisible == 1">
                                        <input type="hidden"
                                               ng-model="complexProduct.selectedProduct.data.selectedOptions[attribute.attrID]"
                                               ng-value="attribute.filteredOptions[0].ID"/>
                                    </div>
                                </fieldset>

                                <div class="calc-separator"></div>

                                <div class="form-group">
                                    <label class="col-md-5 control-label">{{ 'volume' | translate }}</label>
                                    <div class="col-md-7">
                                        <select class="form-control" ng-model="productItem.volume"
                                                ng-change="changeVolume()"
                                                ng-disabled="volumes.length === 1"
                                                ng-class="{'one-element-select': volumes.length === 1}"
                                                ng-options="item.volume as ( item.volume) for item in volumes  | orderBy:'volume' "></select>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="hideAmount">
                                    <label class="col-md-5 control-label">{{ 'number_of_sets' | translate }}</label>
                                    <div class="col-md-7">
                                        <input ng-change="changeAmount()" ng-model="productItem.amount"
                                               ng-init="productItem.amount = 1" type="number" min="1"
                                               class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-5 control-label">{{ 'realizationTime' | translate }}</label>
                                    <div class="col-md-7">
                                        <select ng-model="productItem.realisationTime"
                                                ng-disabled="realisationTimes.length === 1"
                                                ng-class="{'one-element-select': realisationTimes.length === 1}"
                                                ng-change="changeRealisationTime()"
                                                ng-options="rt.ID as rt.names[currentLang.code] for rt in realisationTimes  | orderBy:'order' | filter:filterRealisationTime"
                                                class="form-control"></select>
                                    </div>
                                </div>

                                <div ng-if="type.turnOnNumberOfSets === 1" class="form-group">
                                    <label class="col-md-5 control-label">
                                        {{ 'number_of_patterns' | translate }}
                                    </label>
                                    <div class="col-md-7">

                                        <div class="input-group spincontainer">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="spinCustomAmount(0)" data-dir="dwn">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>

                                            <input ng-model="productItem.amount"
                                                   min="1"
                                                   ng-change="changeAmount()"
                                                   type="text"
                                                   class="form-control"/>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="spinCustomAmount(1)" data-dir="up">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group" ng-if="taxes.length > 0">
                                    <label class="col-md-5 control-label">{{ 'select_tax' | translate }}</label>
                                    <div class="col-md-7">
                                        <select ng-model="productItem.taxID"
                                                ng-options="tax.ID as tax.name for tax in taxes" ng-change="changeTax()"
                                                required class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default panel-success panel-summary">

                        <div class="panel-heading">{{ 'price' | translate }}</div>

                        <div class="panel-body" ng-if="checkPrice(calculation.priceTotal)">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="bg-info summary-price summary-price-net">
                                        <b>{{ 'net_price' | translate }}:</b>
                                        <span class="text-nowrap">
                        <span class="value" ng-bind="showSumPrice()"></span>
                        <span class="currency">{{ currentCurrency.symbol }}</span>
                    </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="bg-info summary-price summary-price-gross">
                                        <b>{{ 'gross_price' | translate }}:</b>
                                        <span class="text-nowrap">
                        <span class="value" ng-bind="showSumGrossPrice()"></span>
                        <span class="currency">{{ currentCurrency.symbol }}</span>
                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="bg-default price-per-item price-per-item-net">
                                        {{ 'net' | translate }} 1 {{ 'pcs' | translate}}:
                                        <span class="text-nowrap">{{net_per_pcs}} {{ currentCurrency.symbol }}</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="bg-default price-per-item price-per-item-gross">
                                        {{ 'gross' | translate }} 1 {{ 'pcs' | translate}}:
                                        <span class="text-nowrap">
                        <span class="value">{{gross_per_pcs}}</span>
                        <span class="currency">{{ currentCurrency.symbol }}</span>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body" ng-if="!checkPrice(calculation.priceTotal)">
                            <div class="loading text-center text-primary">
                                <i class="fa fa-spinner fa-pulse fa-fw"></i>
                                <span>{{ 'please_wait' | translate }}</span>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button ng-click="prepareUrl()" ng-if="calculation.amount"
                                            class="btn btn-sm btn-block btn-info">{{ 'go_to_editor' | translate }}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" ng-if="!calcWithoutDelivery">
        <div class="col-md-12">
            <deliveries
                ng-if="productAddresses.length && calculation && productItem"
                products="complexProducts" delivery-connected="1" base-product-addresses="productAddresses"/>
        </div>
    </div>
</div>
