div#top-menu {
    position: fixed;
    z-index: 950000;
    height: 80px;
    width: 100%;
    background: var(--gray-700);
    top: 0;
    left: 0;
    box-shadow: var(--md-shadow);
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.logoContainer {
    width: clamp(10rem, 20%, 25rem);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500
}

.editImageContainer {
    height: 2.5rem;
    position: relative;
}

.adminToolsContainer, .dynamicToolsContainer, .editImageContainer  {
    display: flex;
    align-items: center;
}

.adminToolsContainer, .editImageContainer {
    gap: .5rem
}

.dynamicToolsContainer {
    gap: 1rem;
    height: 100%;
    padding: 0 1rem
}

.dynamicToolsContainer > button {
    background-color: var(--white);
    margin: 0;
    padding: .15rem
}

.editImageContainer > button {
    height: 100%;
    padding: 0 .25rem
}

.dynamicToolsContainer > .zoomImageSlider {
    width: clamp(15rem, 20%, 30rem);
    height: .75rem;
    background-color: var(--gray);
    border-radius: 2rem
}

.dynamicToolsContainer, .editImageContainer > button {
    background-color: var(--white);
    border-radius: var(--border-xs-radius);
    margin: 0;
    border: 1px solid var(--gray);
    color: var(--dark-gray) !important
}

.editImageContainer > button:hover {

}

.rightToolbarSection {
    display: flex;
    align-items: center;
    position: relative;
}

.rightToolbarSection > div:not(:last-child):not(:first-child) {
    border-right: 2px solid var(--dark-gray);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.zoomButtons {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.ui-slider-horizontal {
    height: .75rem;
    width: 7.5rem;
    background-image: none;
    background-color: var(--gray) !important;
    border-color: transparent !important;
    border-radius: var(--border-xs-radius)
}

.ui-slider .ui-slider-handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    border-color: var(--dark-gray) !important;
    border-width: .5rem !important;
    height: calc(100% + .75rem) !important;
    aspect-ratio: 1 / 1 !important;
}

a.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50%;
    background-color: var(--dark-gray);
    height: calc(100% + .75rem);
    aspect-ratio: 1 / 1 !important;
}

.zoomButtonMinus::before {
    content: url('../public/icons/zoom-out.svg');
    cursor: zoom-out;
}

.zoomButtonPlus::before {
    content: url('../public/icons/zoom-in.svg');
    cursor: zoom-in;
}

.centerZoomAtStage::before {
    content: url('../public/icons/zoom-at-stage.svg');
    cursor: pointer;
}

#useMagneticLines.off::before {
    content: url('../public/icons/magnes.svg');
    cursor: pointer;
}

.rules_tools::before{
    content: url('../public/icons/measure.svg');
    cursor: pointer;
}

.infoContainer::before {
    content: url('../public/icons/info.svg');
    cursor: pointer;
}

.helpContainer::before {
    content: url('../public/icons/question.svg');
    cursor: pointer;
}

.settingsContainer::before {
    content: url('../public/icons/settings.svg');
    cursor: pointer;
}

.saveContainer::before {
    content: url('../public/icons/save.svg');
    cursor: pointer;
}

.orderContainer::before {
    content: url('../public/icons/cart.svg');
    cursor: pointer;
}

.zoomImage::before {
    content: url('../public/icons/zoom-in.svg');
    cursor: pointer
}

.refreshImage::before {
    content: url('../public/icons/reload.svg');
    cursor: pointer;
}
.orderContainer {
    background-color: var(--green);
    color: var(--white);
    border-radius: 1rem;
    margin-left: 1.5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    padding: .25rem .5rem;
}

