<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cog"></i> {{ "option" | translate }}: {{ currentOptionName }}
            <a ng-if="prevOption" ui-sref="printshop-configOptionSettings-increases({optID: prevOption})" class="prevNext"
               tooltip="{{ 'goto_previous_option' | translate }}"><i class="fa fa-arrow-circle-left"></i></a>
            <a ng-if="nextOption" ui-sref="printshop-configOptionSettings-increases({optID: nextOption})" class="prevNext"
               tooltip="{{ 'goto_next_option' | translate }}"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<div ui-view="menu"></div>
<div ui-view="marginsSelector"></div>
<div class="row">
    <div class="col-md-12 col-lg-7">
        <div class="portlet light">
            <div ui-view="margins"></div>
        </div>
    </div>

    <div class="col-lg-5 visible-lg">
        <div faq-accordion="printshop.configOptionsMargins"></div>
    </div>

</div>

