<style>
    .loadAnimation,
.loadAnimation:after {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.loadAnimation {
  margin-left: 30px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(69,182,175, 0.2);
  border-right: 1.1em solid rgba(69,182,175, 0.2);
  border-bottom: 1.1em solid rgba(69,182,175, 0.2);
  border-left: 1.1em solid #45b6af;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gear"></i> {{ 'options' | translate }}
                </div>

                <div class="tools">
                    <button button-faq-accordion="printshop.configOptions"></button>
                </div>

            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th ng-show="showAll" width="8%">#(attribute)</th>
                            <th ng-show="showAll">{{ 'attribute' | translate }}</th>
                            <th width="8%">#</th>
                            <th>{{ 'name' | translate }}</th>
                            <th>
                                {{ 'name' | translate }}
                                <select ng-model="showLang"
                                        ng-options="lang.code as lang.name for (key, lang) in languages"
                                        ng-init="showLang = currentLang.code"></select>
                            </th>
                            <th>{{ 'description' | translate }}</th>
                            <th ng-if="attr.type == 3">{{ 'group_of_paper' | translate }}</th>
                            <th>{{ 'active' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td ng-show="showAll">
                                <input type="text" class="form-control form-filter input-sm" name="" placeholder="attrID"
                                       ng-model="search.attrID">
                            </td>
                            <td ng-show="showAll">
                                <input type="text" class="form-control form-filter input-sm" name="attrName"
                                       placeholder="{{ 'attribute' | translate }}" ng-model="search.attrName">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="" placeholder="ID"
                                       ng-model="search.ID">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="group"
                                       placeholder="{{ 'name' | translate }}" ng-model="search.name">
                            </td>
                            <td></td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="options">
                        <tr ng-repeat="option in options |filter:search">
                            <td ng-show="showAll">
                                {{ option.attrID }}
                            </td>
                            <td ng-show="showAll">
                                {{ option.attrName }}
                            </td>
                            <td>
                                <button ng-show="!showAll" tooltip="{{langArr.sort}}"
                                        class="btn btn-default btn-sm button-sort">
                                    <span class="fa fa-arrows-v"></span>
                                </button>
                                {{ option.ID }}
                            </td>
                            <td>
                                {{ option.name }}
                                <span ng-if="!showAll" class="badge" tooltip="{{ getCountProductsList(option) }}">
                    {{ getCountProducts(option) }}
                  </span>
                            </td>
                            <td>
                                {{ option.names[showLang] }}
                            </td>
                            <td>
                                {{ option.adminName }}
                            </td>
                            <td ng-if="attr.type == 3">
                                <div class="form-group">
                                    <select class="bs-select form-control input-small" data-style="btn-primary"
                                            ng-change="changeConnect(option)" ng-model="option.connectID"
                                            ng-options="item.ID as item.name for item in groupOptions">
                                    </select>
                                </div>
                            </td>
                            <td>
                  <span class="btn blue-stripe btn-xs"
                        ng-class="{'red-sunglo-stripe': !option.active}">
                    {{!!option.active ? 'yes' : 'no' | translate }}
                  </span>
                            </td>
                            <td class="noWrap">
                                <button ng-click="editStart(option)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button
                                        ng-click="setFileUploadAvailable(option);$event.stopPropagation();"
                                        class="btn btn-xs"
                                        ng-class="{'blue-hoki': !option.fileUploadAvailable, 'btn-warning warning-contrast':option.fileUploadAvailable}"
                                        type="button" tooltip="{{ 'attach-file-to-option' | translate }}">
                                    <span ng-class="{'fa fa-file': true}"></span>
                                </button>
                                <a ui-sref="printshop-configOptionSettings-altpapers({optID: option.ID, attrID: option.attrID})"
                                data-toggle="tooltip" data-container="body" tooltip="{{ 'relative_options' | translate }}"
                                   ng-class="{'btn btn-xs btn-warning warning-contrast': option.usingAlternatives, 'btn blue-hoki btn-xs': !option.usingAlternatives}">
                                   <span class="fa fa-code-fork"></span>
                                </a>
                                <button data-ng-click="copy(option)" data-toggle="tooltip" data-container="body"
                                        tooltip="{{ 'copy_with_attributes' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="fa fa-copy"></span>
                                </button>
                                <a ui-sref="printshop-configOptionSettings-edit({optID: option.ID, attrID: option.attrID})"
                                   data-toggle="tooltip" tooltip="{{ 'settings' | translate }}"
                                   class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <a ng-click="option.authorizedOnlyCalculation = option.authorizedOnlyCalculation?0:1; saveAuthCalculation(option)"
                                   data-toggle="tooltip" tooltip="{{ 'calculate-only-for-authorized' | translate }}"
                                   class="btn btn-xs" ng-class="{'btn-warning warning-contrast': option.authorizedOnlyCalculation, 'blue-hoki': !option.authorizedOnlyCalculation}">
                                    <span ng-class="{'fa fa-user': true, 'fa-user-slash': option.authorizedOnlyCalculation}"></span>
                                </a>
                                <a ng-click="option.printRotated = option.printRotated?0:1; savePrintRotated(option)"
                                   data-toggle="tooltip" tooltip="{{ 'disable-print-rotated' | translate }}"
                                   class="btn btn-xs" ng-class="{'btn-warning warning-contrast': option.printRotated, 'blue-hoki': !option.printRotated}">
                                    <span ng-class="{'fa fa-print': true, 'fa-print-slash': option.printRotated}"></span>
                                </a>
                                <button ng-confirm-click="remove(option)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'delete' | translate }}"
                                        class="btn red-sunglo btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="fixedPositionSave" ng-if="sortChange">

                    <button class="btn btn-success" ng-click="sortSave()">
                        {{ 'save_the_change_order' | translate }}
                    </button>

                    <button class="btn red-sunglo" ng-click="sortCancel()">
                        {{ 'cancel' | translate }}
                    </button>

                </div>

                <div class="row">

                    <div ng-show="attr.type == 3" class="col-md-1">
                        <button class="btn btn-primary" ng-click="connectOptions()"><i class="fa fa-tags"></i> {{
                            'group_of_papers' | translate }}
                        </button>
                    </div>
                    <div class="col-md-1" ng-if="!showAll">
                        <button-related-increases attr-id="{{currentAttrID}}"></button-related-increases>
                    </div>
                    <div ng-show="!showAll" class="col-md-12">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-haze col-md-3 text-right">
                                    {{ 'add_new_fem' | translate }}
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <form class="form-horizontal" role="form" ng-submit="add()">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.name" type="text" class="form-control"
                                                       placeholder="{{ 'name' | translate }}" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'lang_name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                                       ng-model="form.names[lang.code]" type="text" class="form-control"
                                                       placeholder="{{lang.code}}">
                                                <select class="form-control" ng-init="nameLang = currentLang.code"
                                                        ng-model="nameLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'description' | translate
                                                }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.adminName" type="text" class="form-control"
                                                       placeholder="{{ 'description' | translate }}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'tooltip' | translate
                                                }}</label>
                                            <div class="col-md-9">
                                                <div ng-repeat="lang in languages"
                                                     ng-show="tooltipLang == lang.code">
                                                    <div ds-tinymce
                                                         ng-model="form.tooltip[lang.code]"
                                                         placeholder=" {{ 'tooltip' | translate }}"></div>
                                                </div>
                                                <select class="form-control" ng-init="tooltipLang = currentLang.code"
                                                        ng-model="tooltipLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="attr.type == 2">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <div class="checkbox-list">
                                                    <label>
                                                        <div class="checker"><span
                                                                ng-class="{checked: form.oneSide}"><input
                                                                ng-model="form.oneSide" type="checkbox"></span></div>
                                                        {{ 'specyfing_number_of_pages' | translate }}</label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'add' | translate }}
                                                </button>
                                                <button ng-click="form = {}" type="button" class="btn red-sunglo">{{
                                                    'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
					
					<!-- EXPORT IMPORT START-->
                    <div class="col-md-12" ng-if="attr.type == 3">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-haze col-md-3 text-right">
                                    {{ 'export_import_prices' | translate }}
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form class="form-horizontal" role="form" ng-submit="exportPrices()">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{'export_prices_mode' | translate}}</label>
                                            <div class="col-md-9">
                                                <select ng-model="form.exportModel" class="form-control">
                                                    <!--<option value="pieces">{{'pieces' | translate}}</option>-->
                                                    <option selected value="kilos">{{'kilograms' | translate}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9" style="display: flex; flex-flow: row nowrap;">
                                                <button type="submit" class="btn btn-success"> {{ 'export' | translate }}</button>
                                                <div ng-show="!isExportFileUploading" class="loadAnimation">Loading...</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal" role="form" ng-submit="importPrices()">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{'spreadsheet' | translate}}</label>
                                            <div class="col-md-9">
                                                <input nv-file-select uploader="uploader" type="file" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{'import_prices_mode' | translate}}</label>
                                            <div class="col-md-9">
                                                <select ng-model="form.importType" class="form-control">
                                                    <!--<option value="pieces">{{'pieces' | translate}}</option>-->
                                                    <option selected value="kilos">{{'kilograms' | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9" style="display: flex; flex-flow: row nowrap;">
                                                <button type="submit" class="btn btn-success"> {{ 'import' | translate }}</button>
                                                <div ng-show="!isImportFileUploading" class="loadAnimation">Loading...</div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- EXPORT IMPORT END-->
					
                </div>

            </div>
        </div>
    </div>
</div>
