<div ui-view="marginsMenu"></div>

<div ng-if="selectedPriceListID &&  selectedNatureID" class="row">
    <div ui-view="marginsEdit"></div>
    <div class="col-lg-5 visible-lg">
        <div faq-accordion="printshop.margins_material_parameters"></div>
    </div>
</div>

<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    {{ 'manufacturer_supplier' | translate }}
                </div>
            </div>

            <form class="form-horizontal" role="form" ng-submit="addSupplierMargin()">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            {{ 'select_from_list' | translate }}
                        </label>
                        <div class="col-md-8">
                            <select ng-model="supplierMarginForm.supplierName" ng-options="label for label in suppliers" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">{{ 'margin_percentage' | translate }}</label>
                        <div class="col-md-8">
                            <input ng-model="supplierMarginForm.percentage" type="number" step="any"
                                   class="form-control" placeholder="{{ 'margin_percentage' | translate }}">
                        </div>
                    </div>

                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                {{ 'add' | translate }}
                            </button>
                            <button ng-click="supplierMarginForm={}" type="button" class="btn red-sunglo">
                                {{'cancel' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="overflowContainer">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr role="row" class="heading">
                        <th>#</th>
                        <th>{{ 'manufacturer_spplier' | translate }}</th>
                        <th>{{ 'margin_percentage' | translate }}</th>
                        <th>{{ 'actions' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="supplierMargin in supplierMargins">
                        <td>{{supplierMargin.ID}}</td>
                        <td>{{supplierMargin.supplierName}}</td>
                        <td>{{supplierMargin.percentage}}%</td>
                        <td>
                            <button ng-click="editSupplierMargin(supplierMargin)" data-toggle="tooltip" data-container="body"
                                    tooltip="{{ 'edit' | translate }}"
                                    class="btn blue-hoki btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>

                            <button ng-confirm-click="removeSupplierMargin(supplierMargin.ID)" data-toggle="tooltip"
                                    data-container="body" tooltip="{{ 'delete' | translate }}"
                                    class="btn red-sunglo btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-lg-5 visible-lg">
        <div faq-accordion="printshop.margins_material_manufacturer"></div>
    </div>
</div>
