<div ui-view="deviceMenu"></div>

<div class="row">

    <div class="col-lg-8 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    {{ 'services' | translate }}: {{deviceName}}
                </div>
            </div>

            <form class="form-horizontal" role="form" ng-submit="saveService()">
                <div class="form-body">

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-model="form.name" type="text" class="form-control" placeholder="{{ 'name' | translate }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'cycle' | translate }}</label>
                        <div class="col-md-9">
                            <select ng-model="form.cycleID" ng-change="changeCycle(form.cycleID)" class="form-control" ng-options="cycle.ID as cycle.name for cycle in cycles">
                                <option value="">{{ 'none' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="dayOfMonthActive">
                        <label class="col-md-3 control-label">{{ 'day_of_month' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-model="form.dayOfMonth" min="1" max="31" type="number" class="form-control" placeholder="1 - 31" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="monthActive">
                        <label class="col-md-3 control-label">{{ 'month' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-model="form.month" min="1" max="12" type="number" class="form-control" placeholder="1 - 12" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="dayOfWeekActive">
                        <label class="col-md-3 control-label">{{ 'day_of_week' | translate }}</label>
                        <div class="col-md-9">
                            <input ng-model="form.dayOfWeek" min="1" max="7" type="number" class="form-control" placeholder="1 - 7" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'hour_of_start' | translate }}</label>
                        <div class="col-md-9">
                            <input required="required" ng-model="form.hourOfBeginning" min="0" max="24" type="number" class="form-control" placeholder="0 - 24" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ 'time_duration' | translate }}</label>
                        <div class="col-md-9">
                            <input required="required" ng-model="form.timeDuration" min="1" max="999" type="number" class="form-control" placeholder="1 - 99" />
                        </div>
                    </div>


                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                {{ 'add' | translate }}
                            </button>
                            <button ng-click="resetServiceForm()" type="button" class="btn red-sunglo">{{ 'cancel' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="overflowContainer">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr role="row" class="heading">
                            <th>#</th>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'cycle' | translate }}</th>
                            <th>{{ 'duration' | translate }}</th>
                            <th>{{ 'day_of_week' | translate }}</th>
                            <th>{{ 'day_fo_month' | translate }}</th>
                            <th>{{ 'month' | translate }}</th>
                            <th>{{ 'hour' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="service in services">
                            <td>{{service.ID}}</td>
                            <td>{{service.name}}</td>
                            <td>{{service.cycleName}}</td>
                            <td>{{service.timeDuration}}</td>
                            <td>{{service.dayOfWeek}}</td>
                            <td>{{service.dayOfMonth}}</td>
                            <td>{{service.month}}</td>
                            <td>{{service.hourOfBeginning}}</td>
                            <td>
                                <button data-ng-confirm-click="deleteDeviceService(service)" data-toggle="tooltip" data-container="body" tooltip="{{langArr.delete}}" class="btn red-sunglo btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <div class="col-lg-4 visible-lg">
        <div faq-accordion="printshop.productionPathDeviceServices"></div>
    </div>

</div>
