<div class="container-fluid">
  <div class="row">
    <div class="cols-xs-12">
      <ul class="nav nav-tabs nav-justified">
        <li ng-class="{active: $state.includes('printshop-complex-products')}">
          <a ui-sref="printshop-complex-products">
            {{"products" | translate}}
          </a>
        </li>
        <li ng-class="{active: $state.includes('printshop-complex-volumes')}">
          <a ui-sref="printshop-complex-volumes">
            {{"volumes" | translate}}
          </a>
        </li>
        <li ng-class="{active: $state.includes('printshop-type-complex-realizationTimes')}">
          <a ui-sref="printshop-type-complex-realizationTimes">
            {{"realization_times" | translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>