<div ui-view="deviceMenu"></div>

<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    {{"device_imposition" | translate }}: {{deviceName}}
                </div>
            </div>
            <div class="portlet-body form">

                <form class="form-horizontal" role="form" ng-submit="save()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'work_unit' | translate }}</label>
                            <div class="col-md-9">
                                <select title="{{ 'select_unit' | translate }}"
                                        class="form-control" required
                                        ng-model="form.workUnit"
                                        ng-options="unit.function as unit.name for unit in workUnits">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'device_time' | translate }} [{{ 'unit_minutes' | translate }}]</label>
                            <div class="col-md-9">
                                <input ng-model="form.deviceTime" type="number" min="0" class="form-control"
                                       placeholder="{{ 'device_time' | translate }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'stack_imposition_time' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.stackImpositionTime" type="number" min="0" class="form-control"
                                       placeholder="{{ 'stack_imposition_time' | translate }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'stack_height' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.stackHeight" type="number" min="0" step="any" class="form-control"
                                       placeholder="{{ 'stack_height' | translate }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'printed_stack_height' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.printedStackHeight" type="number" min="0" step="any" class="form-control"
                                       placeholder="{{ 'printed_stack_height' | translate }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'transport_time' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.transportTime" type="number" min="0" class="form-control"
                                       placeholder="{{ 'transport_time' | translate }}">
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success" ng-click="updateEfficiency()"><i
                                        class="fa fa-check"></i> {{ 'save' |
                                    translate }}
                                </button>
                                <button ng-click="resetForm()" type="button" class="btn red-sunglo">{{ 'cancel' |
                                    translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    {{ "edition_speed" | translate }}: {{deviceName}}
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form" ng-submit="addSpeed()">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'amount' | translate
                                }}</label>
                            <div class="col-md-9">
                                <input ng-model="speedForm.volume" type="number" min="0" class="form-control"
                                       placeholder="{{ 'amount' | translate }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'speed' | translate }} [{{deviceService.getSpeedUnit(form.workUnit) | translate}}/h]</label>
                            <div class="col-md-9">
                                <input ng-model="speedForm.speed" type="number" min="0" class="form-control"
                                       placeholder="{{ 'speed' | translate }}">
                            </div>
                        </div>


                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                    {{ 'add' | translate }}
                                </button>
                                <button ng-click="resetSpeedForm()" type="button"
                                        class="btn red-sunglo">{{ 'cancel' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th>#</th>
                            <th>{{ 'amount' | translate }}</th>
                            <th>{{ 'speed' | translate }} [{{deviceService.getSpeedUnit(form.workUnit) | translate}}/h]</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="speed in speeds">
                            <td>{{speed.ID}}</td>
                            <td>{{speed.volume}}</td>
                            <td>{{speed.speed}}</td>
                            <td>
                                <button data-ng-confirm-click="deleteSpeed(speed.ID)"
                                        data-toggle="tooltip" data-container="body"
                                        tooltip="{{langArr.delete}}"
                                        class="btn red-sunglo btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-5 visible-lg">
        <div faq-accordion="printshop.productionPathDeviceEfficiency"></div>
    </div>

</div>
