<div ui-view="productMenu"></div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa icon-speedometer"></i> {{ 'realization_times' | translate }}
        </div>

        <div class="tools">
          <button button-faq-accordion="printshop.configRealizationTimes"></button>
          <a href="javascript:;" ng-click="refreshTimes()" class="reload">
          </a>
        </div>

      </div>
      <div class="portlet-body">
        <div class="overflowContainer">
          <table class="table table-striped table-hover"  >
            <thead>
              <tr role="row" class="heading">
                <th width="5%" sort-trigger>#</th>
                <th sort-trigger>{{ 'name' | translate }}</th>
                <th>{{ 'days_number' | translate }}</th>
                <th>{{ 'price' | translate }}</th>
                <th>{{ 'active' | translate }}</th>
                <th>{{ 'actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="realizationTime in realizationTimes"
              ng-class="{warning: realizationTime.details}">
                <td>
                  {{ realizationTime.ID }}
                </td>
                <td>
                  {{ realizationTime.name }}
                </td>
                <td>
                  {{ realizationTime.details ? realizationTime.details.days : realizationTime.days}}
                </td>
                <td>
                  {{ realizationTime.details ? realizationTime.details.pricePercentage : realizationTime.pricePercentage}}%
                </td>
                <td>
                  <span class="btn blue-stripe btn-xs"
                    ng-class="{'red-sunglo-stripe': !(realizationTime.details ? realizationTime.details.active : realizationTime.active)}">
                    {{ ( realizationTime.details ? !!realizationTime.details.active : !!realizationTime.active ) ? 'yes' : 'no' | translate }}
                  </span>
                </td>
                <td>
                  <button ng-click="editStart(realizationTime)"
                    data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                    class="btn blue-hoki btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <button data-ng-if="realizationTime.details" ng-confirm-click="remove(realizationTime)"
                    data-toggle="tooltip" data-container="body" tooltip="{{ 'delete' | translate }}"
                    class="btn red-sunglo btn-xs">
                      <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>