<div class="row">
    <div class="col-md-12 col-lg-7">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-euro"></i> {{ 'pricelists' | translate }}
                </div>

                <div class="tools hidden-lg">
                    <button button-faq-accordion="printshop.priceLists"></button>
                </div>

            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%" sort-trigger>#</th>
                            <th sort-trigger>{{ 'name' | translate }}</th>
                            <th>
                                {{ 'lang_name' | translate }}<br>
                                <select ng-model="showLang"
                                        ng-options="lang.code as lang.name for (key, lang) in languages"
                                        ng-init="showLang = currentLang.code"></select>
                            </th>
                            <th>{{ 'icon' | translate }}</th>
                            <th>
                                <i class="fa fa-cubes" tooltip="{{ 'allows_to_combine_common_processes' | translate }}"></i>
                            </th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="searchId" placeholder="ID"
                                       ng-model="search.ID">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="group"
                                       placeholder="{{ 'name' | translate }}" ng-model="search.name">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="priceList in priceLists |filter:search">
                            <td>
                                {{ priceList.ID }}
                            </td>
                            <td>
                                {{ priceList.name }}
                            </td>
                            <td>
                                {{ priceList.names[showLang] }}
                            </td>
                            <td>
                                <img style="width: 30px;" class="img-responsive" alt="{{ priceList.icon.ID }}"
                                     src="{{ priceList.icon.url }}"/>
                            </td>
                            <td>
                                <span class="btn blue-stripe btn-xs"
                                ng-class="{'red-sunglo-stripe': !priceList.allowJoinProcess}">
                                    {{ !!priceList.allowJoinProcess ? 'yes' : 'no' | translate }}
                                </span>
                            </td>
                            <td class="noWrap">
                                <button ng-click="edit(priceList)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button ng-click="devices(priceList)" tooltip="{{ 'select_devices_or_work_stations' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    {{ 'devices_or_work_stations' | translate }}
                                </button>
                                <button ng-confirm-click="remove(priceList)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'delete' | translate }}"
                                        class="btn red-sunglo btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-haze col-md-3 text-right">
                                    {{ 'add_new' | translate }}
                                </div>
                            </div>
                            <div class="portlet-body form">

                                <form class="form-horizontal" role="form" ng-submit="add()">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.name" type="text" class="form-control"
                                                       placeholder="{{ 'name' | translate }}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">
                                                {{ 'lang_name' | translate }}
                                            </label>
                                            <div class="col-md-9">
                                                <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                                       ng-model="form.names[lang.code]" type="text" class="form-control"
                                                       placeholder="{{lang.code}}">
                                                <select class="form-control" ng-init="nameLang = currentLang.code"
                                                        ng-model="nameLang"
                                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-9">
                                                <div class="checkbox-list">
                                                    <label>
                                                        <div class="checker"><span
                                                                ng-class="{checked: form.allowJoinProcess}"><input
                                                                ng-model="form.allowJoinProcess" type="checkbox"></span>
                                                        </div>
                                                        {{ 'allows_to_combine_common_processes' | translate }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'icon' | translate }}</label>
                                            <div class="col-md-9">
                                                <input class="btn btn-primary" type="file" multiple nv-file-select
                                                       uploader="uploader"/><br/>
                                            </div>
                                            <div class="col-md-offset-3 col-md-9">
                                                <ul class="list-group">
                                                    <li ng-repeat="item in uploader.queue" class="list-group-item">
                                                        <span ng-bind="item.file.name"></span>
                                                        <div class="pull-right">
                                                            <span class="element-margin-right"
                                                                  ng-bind="formatSizeUnits(item.file.size)"></span>
                                                            <button type="button" ng-click="removeFile(item)"
                                                                    class="btn btn-xs btn-danger">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar"
                                                         aria-valuenow="{{ uploadProgress }}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{uploadProgress}}%;">
                                                        <span class="text-center">{{uploadProgress}}%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'add' | translate }}
                                                </button>
                                                <button ng-click="resetForm()" type="button" class="btn red-sunglo">{{
                                                    'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-5 visible-lg">
        <div faq-accordion="printshop.priceLists"></div>
    </div>

</div>
