<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{ 'data_to_invoice' | translate }} - {{ form.companyName }} - {{form.city}}, {{form.street}} {{form.house}}<span
                ng-show="form.apartment">/{{form.apartment}}</span></h2>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" ng-submit="edit()">

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-company-name">
                    {{ 'company_name' | translate }} *
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-required="form.companyName"
                           ng-model="form.companyName" id="invoice-company-name"
                           placeholder="{{ 'company_name' | translate }}"
                           ng-required="_.isEmpty(form.name) || _.isEmpty(form.lastname)" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-street">
                    {{ 'street' | translate }} *
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-required="form.street"
                           ng-model="form.street" placeholder="{{ 'street' | translate }}"
                           id="invoice-street">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-no-house">
                    {{ 'no_house' | translate }} *
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.house"
                           ng-required="form.house"
                           placeholder="{{ 'no_house' | translate }}"
                           id="invoice-no-house">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-flat-number">
                    {{ 'flat_number' | translate }}
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.apartment"
                           placeholder="{{ 'flat_number' | translate }}"
                           id="invoice-flat-number">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-zipcode">
                    {{ 'postal_code' | translate }} *
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.zipcode"
                           ng-required="form.zipcode"
                           placeholder="{{ 'postal_code' | translate }}"
                           required id="invoice-zipcode">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-city">
                    {{ 'city' | translate }} *
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.city"
                           ng-required="form.city"
                           placeholder="{{ 'city' | translate }}" required
                           id="invoice-city">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-nip">
                    {{ 'nip' | translate }} *
                </label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.nip"
                           ng-required="form.nip"
                           placeholder="{{ 'nip' | translate }}" required
                           id="invoice-nip">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="invoice-country">{{ 'country' | translate }}</label>
                <div class="col-md-9">
                    <select ng-options="country.code as country.name_pl for country in countries"
                            ng-model="form.countryCode"
                            required class="form-control" id="invoice-country"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn btn-success btn-block btn-submit">{{ 'save' | translate }}</button>
                </div>
            </div>

        </form>
    </div>
</div>
