<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{ 'your_data' | translate }} - {{form.city}}, {{form.street}} {{form.house}}<span ng-show="form.apartment">/{{form.apartment}}</span>
        </h2>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" ng-submit="edit()">

            <div class="form-group">
                <label class="col-md-3 control-label" >{{ 'login' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" disabled="disabled" ng-model="actualUser.login" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="user-firstname">{{ 'firstname' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.name" placeholder="{{ 'firstname' | translate }}" required id="user-firstname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-lastname">{{ 'lastname' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.lastname" placeholder="{{ 'lastname' | translate }}" required id="user-lastname">
                </div>
            </div>

            <!--
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-street">{{ 'street' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.street" placeholder="{{ 'street' | translate }}" id="user-street">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-no-house">{{ 'no_house' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.house" placeholder="{{ 'no_house' | translate }}" id="user-no-house">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-flat-number">{{ 'flat_number' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.apartment" placeholder="{{ 'flat_number' | translate }}" id="user-flat-number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-zipcode">{{ 'postal_code' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.zipcode" placeholder="{{ 'postal_code' | translate }}" id="user-zipcode">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-city">{{ 'city' | translate }}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="form.city" placeholder="{{ 'city' | translate }}" id="user-city">
                </div>
            </div>
            -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="user-country">{{ 'country' | translate }}</label>
                <div class="col-md-9">
                    <select ng-options="country.code as country['name_' + currentLang.code] for country in countries"
                            ng-model="form.countryCode" ng-change="updateAreaCode()" class="form-control" id="user-country"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="user-phone">{{ 'phone' | translate }}</label>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" tooltip="{{ 'without_plus_prefix' | translate }}"><i class="fa fa-plus"></i></span>
                        <input ng-model="form.areaCode" ng-disabled="isCountryCode()" type="tel" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="form.telephone" placeholder="{{ 'phone' | translate }}" id="user-phone">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="form.smsAgree" ng-true-value="true" ng-false-value="false">
                            {{ 'sms_agree' | translate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="form.advAgree" ng-true-value="true" ng-false-value="false">
                            {{ 'advertising_text_agree' | translate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn btn-success btn-block btn-submit">{{ 'save' | translate }}</button>
                </div>
            </div>
        </form>

    </div>
</div>
