<div class="row custom-products-list">

    <div class="col-md-12">
        <div class="portlet light">

            <div class="portlet-title">

                <div class="caption">
                    <i class="fa fa-shopping-cart"></i> {{ 'custom_orders' | translate }}
                </div>

                <div class="tools">
                    <well class="btn-sm">{{ 'number_of_rows' | translate }}: <span class="badge">{{ customProductsCtrl.totalItems }}</span>
                    </well>
                    <select ng-model="showRows" class="btn-default input-sm" ng-change="customProductsCtrl.setRows(showRows)"
                            ng-options="each for (null, each) in [10,25,50,100]"></select>
                    <button ng-click="customProductsCtrl.clearCache()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="orders.customProducts"></button>
                </div>

            </div>

            <div class="portlet-body">

                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%">#</th>
                            <th>{{ 'user' | translate }}</th>
                            <th>{{ 'date' | translate }}</th>
                            <th>{{ 'address' | translate }}</th>
                            <th>{{ 'description' | translate }}</th>
                            <th>{{ 'files' | translate }}</th>
                            <th>{{ 'linked_order' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'ID' | translate }}" ng-model="customProductsCtrl.params.ID">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" ng-change="setParams()"
                                       placeholder="{{ 'user_id' | translate }}" ng-model="customProductsCtrl.params.userID">
                                <input type="text" ng-change="setParams()" class="form-control form-filter input-sm"
                                       placeholder="{{ 'email' | translate }}"
                                       ng-model="customProductsCtrl.params.userMail">
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <div ng-model="customProductsCtrl.params.dateFrom" ng-change="setParams()"
                                         dp-datepicker></div>
                                    <div ng-model="customProductsCtrl.params.dateTo" ng-change="setParams()"
                                         dp-datepicker></div>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="customProduct in customProductsCtrl.items">

                            <td>
                                {{ customProduct.ID }}
                            </td>
                            <td>
                                {{ 'user_id' | translate }}: <b>{{ customProduct.userID }}</b>
                                <br>
                                {{ customProduct.user.user }}
                                <br>
                                {{ customProduct.user.name }} {{ customProduct.user.lastname }}
                                <br>
                                <span ng-if="customProduct.address.companyName">{{ customProduct.address.companyName }}</span>
                            </td>
                            <td>
                                {{ customProduct.created | date }}
                            </td>
                            <td>
                                <button href="javascript:;" class="btn btn-default btn-xs" ng-click="defaultAddress( customProduct.user )">
                                    {{ 'address' | translate }}
                                </button>
                            </td>
                            <td class="pre-clip">{{ customProduct.content }}</td>
                            <td>
                                <button ng-if="customProduct.files.length > 0" href="javascript:;" class="btn btn-default btn-xs" ng-click="files(customProduct)">
                                    {{ 'files' | translate }}
                                </button>
                            </td>
                            <td>
                                <a ng-if="customProduct.order && customProduct.order.production == 1" class="btn btn-primary"
                                   ui-sref="orders-orders({orderID: customProduct.order.ID})">
                                    {{ customProduct.order.orderNumber }}
                                </a>
                            </td>
                            <td style="white-space:nowrap">
                                <a ng-if="!customProduct.baseGroupID && !customProduct.calcID" tooltip="{{ 'user' | translate }}: {{ customProduct.user.login }}" class="btn btn-primary"
                                   ui-sref="create-offer-groups({userID: customProduct.user.ID, customProductID: customProduct.ID})">
                                    {{ 'create_offer' | translate }}
                                </a>
                                <a ng-if="customProduct.baseGroupID && !customProduct.calcID" tooltip="{{ 'user' | translate }}: {{ customProduct.user.login }}" class="btn btn-primary"
                                   ui-sref="create-offer-calc({userID: customProduct.user.ID, customProductID: customProduct.ID, groupID:customProduct.baseGroupID, typeID:customProduct.baseTypeID})">
                                    {{ 'create_offer' | translate }}
                                </a>
                                <a ng-if="!customProduct.baseGroupID && !customProduct.calcID" tooltip="{{ 'user' | translate }}: {{ customProduct.user.login }}" class="btn btn-primary"
                                   ui-sref="create-order-groups({userID: customProduct.user.ID, customProductID: customProduct.ID})">
                                    {{ 'create_order' | translate }}
                                </a>
                                <a ng-if="customProduct.baseGroupID && !customProduct.calcID" tooltip="{{ 'user' | translate }}: {{ customProduct.user.login }}" class="btn btn-primary"
                                   ui-sref="create-order-calc({userID: customProduct.user.ID, customProductID: customProduct.ID, groupID:customProduct.baseGroupID, typeID:customProduct.baseTypeID})">
                                    {{ 'create_order' | translate }}
                                </a>

                                <a ng-if="customProduct.calcID" tooltip="{{ 'user' | translate }}: {{ customProduct.user.login }}" class="btn btn-primary"
                                   ui-sref="create-offer-calc({userID: customProduct.user.ID, customProductID: customProduct.ID, groupID:customProduct.baseGroupID, typeID:customProduct.baseTypeID, calcID:customProduct.calcID})">
                                    {{ 'create_offer' | translate }}
                                </a>
                                <a ng-if="customProduct.calcID" tooltip="{{ 'user' | translate }}: {{ customProduct.user.login }}" class="btn btn-primary"
                                    ui-sref="create-order-calc({userID: customProduct.user.ID, customProductID: customProduct.ID, groupID:customProduct.baseGroupID, typeID:customProduct.baseTypeID, calcID:customProduct.calcID})">
                                    {{ 'create_order' | translate }}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="customProductsCtrl.totalItems" ng-model="customProductsCtrl.currentPage"
                            ng-change="customProductsCtrl.setPage(customProductsCtrl.currentPage); customProductsCtrl.get()"
                            class="pagination-sm" max-size="10" boundary-links="true" rotate="true"
                            items-per-page="customProductsCtrl.params.limit"></pagination>

            </div>

        </div>

    </div>

</div>
