<style>
    .deadline {
        position: absolute;
        border-radius: 12px;
        border: 2px solid #585858;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width: 22px;
        height: 22px;
        margin-left: -11px;
        margin-top: 6px;
        z-index: 1;
        background: url("common/deadline_icon.png") center no-repeat;
    }

    .overdue-indicator {
        width: 24px;
        margin-top: 5px;
        height: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 17px;
        color: white;
        background: rgb(255, 60, 60);
        line-height: 25px;
        text-align: center;
        font-size: 24px;
    }

    .baseline {
			position: absolute;
			border-radius: 2px;
			opacity: 0.6;
			margin-top: -7px;
			height: 12px;
			background: #ffd180;
			border: 1px solid rgb(255, 153, 0);
		}

		/* move task lines upper */
		.gantt_task_line, .gantt_line_wrapper {
			margin-top: -9px;
		}

		.gantt_side_content {
			margin-bottom: 7px;
		}

		.gantt_task_link .gantt_link_arrow {
			margin-top: -12px
		}

		.gantt_side_content.gantt_right {
			bottom: 0;
		}

        .yellow .gantt_cell, .odd.yellow .gantt_cell,
		.yellow .gantt_task_cell, .odd.yellow .gantt_task_cell {
			background-color: #fdece0;
		}

		.green .gantt_cell, .odd.green .gantt_cell,
		.green .gantt_task_cell, .odd.green .gantt_task_cell {
			background-color: #BEE4BE;
		}


</style>

    <div class="row">
        <div class="col-md-12">

            <b>{{ subProduct.typeName }}</b>
            <br>
            {{ subProduct.formatName }} <b>{{ subProduct.formatWidth }} x {{
            subProduct.formatHeight }}</b>
            <br>
            <div ng-repeat="attr in subProduct.attributes">
                <span ng-if="!attr.emptyChoice">{{ attr.attrName }}: {{ attr.optName }}</span>
            </div>
            <div ng-repeat="specialAttribute in subProduct.specialAttributes">
                <span>{{ specialAttribute.name }}</span>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <form class="gantt_control">
                <input type="radio" id="scale00" class="gantt_radio" name="scale" value="minute" onClick="gantt.ext.zoom.setLevel('minute');">
                <label for="scale00">Minuta</label>

                <input type="radio" id="scale0" class="gantt_radio" checked name="scale" selectevalue="hour" onClick="gantt.ext.zoom.setLevel('hour');">
                <label for="scale0">Godzina</label>
            
                <input type="radio" id="scale1" class="gantt_radio" name="scale" value="day" onClick="gantt.ext.zoom.setLevel('day');">
                <label for="scale1">Dzień</label>
            
                <input type="radio" id="scale2" class="gantt_radio" name="scale" value="week" onClick="gantt.ext.zoom.setLevel('week');">
                <label for="scale2">Tydzień</label>
            
                <input type="radio" id="scale3" class="gantt_radio" name="scale" value="month" onClick="gantt.ext.zoom.setLevel('month');">
                <label for="scale3">Miesiąc</label>
            
                <input type="radio" id="scale4" class="gantt_radio" name="scale" value="quarter" onClick="gantt.ext.zoom.setLevel('quarter');">
                <label for="scale4">Kwartał</label>            
            </form>
            <div id="gantt_here" style='width:100%; height: 50vh;'></div>
        </div>
    </div>