<div ui-view="raportsMenu"></div>


<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <h3 class="modal-title">{{ 'operations' | translate }}</h3>
                </div>
                <div class="tools">
                    <button button-faq-accordion="productionPath.raportOperations"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <div>
                        <button ng-click="changeDate('last_full_week')" class="btn btn-primary btn-sm">{{
                            'last_full_week' | translate }}
                        </button>
                        <button ng-click="changeDate('last_full_month')" class="btn btn-primary btn-sm">{{
                            'last_full_month' | translate }}
                        </button>
                        <button ng-click="changeDate('today')" class="btn btn-primary btn-sm">{{
                            'today' | translate }}
                        </button>
                        <button ng-click="changeDate('yesterday')" class="btn btn-primary btn-sm">{{
                            'yesterday' | translate }}
                        </button>
                        <button ng-click="changeDate('last_week')" class="btn btn-primary btn-sm">{{
                            'last_week' | translate }}
                        </button>
                        <button ng-click="changeDate('last_month')" class="btn btn-primary btn-sm">{{
                            'last_month' | translate }}
                        </button>
                    </div>
                    <div style="width: 200px;">
                        {{ 'date_from' | translate }}<br>
                        <div ng-model="dateStart" ng-change="dateChange" dp-datepicker></div>
                        {{ 'date_to' | translate }}<br>
                        <div ng-model="dateEnd" ng-change="dateChange" dp-datepicker></div>
                    </div>
                    <div ng-if="!tasks.length" style="height: 200px; width:200px;">

                    </div>
            
                    <div>
                        <table ng-if="!!tasks.length" class="table table-striped table-hover">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="8%">#</th>
                                    <th>{{ 'order_id' | translate }}</th>
                                    <th>{{ 'product' | translate }}</th>
                                    <th>{{ 'operation_name' | translate }}</th>
                                    <th>{{ 'device' | translate }}</th>
                                    <th>{{ 'operator' | translate }}</th>
                                    <th>{{ 'task_time' | translate }}</th>
                                    <th>{{ 'status' | translate }}</th>
                                    <th>{{ 'time_difference' | translate }}</th>
                                    <th>{{ 'planned_taks_time' | translate }}</th>
                                    <th>{{ 'efficiency' | translate }}</th>
                                </tr>
                                <tr role="row" class="filter">
                                    <td>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'order_id' | translate }}" ng-model="filterData.orderID" ng-change="search()">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'product' | translate }}" ng-model="ffilterData.product.names.pl" ng-change="search()">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'operation_name' | translate }}" ng-model="filterData.operationName" ng-change="search()">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'device' | translate }}" ng-model="filterData.device.name" ng-change="search()">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'operator' | translate }}" ng-model="filterData.operator.name" ng-change="search()">
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </thead> 
                            <tbody>
                                <tr ng-repeat="task in tasks | filter:filterData">
                                    <td>
                                        {{ task.ID }}
                                    </td>
                                    <td>
                                        {{ task.orderID }}
                                    </td>
                                    <td>
                                        {{ task.product.names.pl }}
                                    </td>
                                    <td>
                                        <span ng-if="task.additionalOperationID"><b>{{ task.additionalOperationName }}</b> ({{ task.operationName }})</span>
                                        <span ng-if="!task.additionalOperationID"> {{ task.operationName }}</span>
                                    </td>
                                    <td>
                                        {{ task.device.name }}
                                    </td>
                                    <td>
                                        {{ task.operator.name }}
                                    </td>

                                    <td>
                                        {{ formatTime(task.taskTime) }}
                                    </td>
                                    <td> 
                                        <span><div ng-style="{'background-color': task.isLateRealisation == true ? 'red' : 'green'}" style="display: inline-block; width: 20px; height: 20px; color: white; font-weight: bold;"></div></span>
                                    </td>
                                    <td> 
                                        <span ng-style="{'color': task.taskOverdue == false ? 'green' : 'red'}">
                                            {{ formatTime(task.timeDifference) }}
                                        </span>
                                    </td>
                                    <td> {{ formatTime(task.estimatedTime) }}  <span ng-if="task.additionalOperationID">({{ 'main_task' | translate }})</span></td>  
                                    <td> {{ task.efficency }} </td>           
                                </tr>
                            </tbody>
                        </table>
                        <span ng-if="!tasks.length" class="btn red-sunglo-stripe">
                            {{ 'noLogs' | translate }}<br>
                        </span>
                    </div>
                    <pagination total-items="dpOperationsApi.totalItems" ng-model="dpOperationsApi.currentPage"
                            ng-change="dpOperationsApi.setPage(dpOperationsApi.currentPage); dpOperationsApi.get()"
                            class="pagination-sm" max-size="10" boundary-links="true" rotate="true"
                            items-per-page="dpOperationsApi.params.limit"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
