@use './../shared' as *;

.displayController {
  transition: opacity 0.3s;
}

.edtablePlane-changeLayout {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.editableAreaLeftTool {
  width: 2.5rem;
  padding: 0.31rem;
  position: relative;
  border: 0.13rem solid var(--gray-200);
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: var(--gray-200) !important;
  color: var(--gray-700) !important;
  height: 2.5rem;
  margin-top: 0.13rem;
  text-align: center;
  transition: opacity 0.3s;

  &::before {
    content: 'B';
    font-family: EditorIcons;
    font-size: 2.63rem;
    padding: 0 !important;
    line-height: 1.81rem;
    margin-left: 0;
  }

  &.one-more-text {
    &::before {
      content: "z";
      display: block;
      font-size: 2.06rem;
      text-align: center;
      width: 100%;
    }

    &::after {
      content: "C";
      font-family: EditorIcons;
      font-size: 1.75rem;
      left: 1.56rem;
      position: absolute;
      top: 0.25rem;
    }
  }

  &.one-more-image {
    &::after {
      content: "C";
      font-family: EditorIcons;
      font-size: 1.75rem;
      left: 1.63rem;
      position: absolute;
      top: 0.69rem;
    }
  }

  &.one-less-image {
    &::before {
      content: "a";
      display: block;
      font-size: 2.06rem;
      text-align: center;
      width: 100%;
    }

    &::after {
      content: "i";
      font-family: EditorIcons;
      font-size: 1.38rem;
      left: 1.63rem;
      position: absolute;
      top: 0.69rem;
    }
  }

  &.one-less-text {
    &::before {
      content: "z";
      display: block;
      font-size: 2.06rem;
      text-align: center;
      width: 100%;
    }

    &::after {
      content: "i";
      font-family: EditorIcons;
      font-size: 1.75rem;
      left: 1.44rem;
      position: absolute;
      top: 0.5rem;
    }
  }
}

.canvas-tool-wrapper {
    position: relative;
    
    &:hover {
        .tool-helper-container {
            visibility: visible;
            left: 3.5rem;
            transition: left 0.5s, visibility 0.3s;
        }
    }
}

