.scroll-y-container {
  position: relative;
  flex-grow: 1;
  height: 100%;
  overflow-y: scroll;

  & > .ps-scrollbar-y-rail {
    margin-right: 4px;
    position: absolute;
  }

  .displayNotUsedPhotos > div.used {
    display: none;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.gap-1 {
    gap: 1rem;
  }
}

div {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}