#attributes-content {
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;

  .product-attributes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 1rem;
  }

  .product-attributes:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--gray-700);
  }
}

.tool-button.attributes::before {
  font-family: "EditorIcons3";
  content: "\0059";
}