@use './../shared' as *;

.tool-button {
	&.positions {
		&::before {
			font-family: EditorIcons3;
			content: "\002b";
		}
	}
}

.main-tool-button {
	&.positions {
		&::before {
			content: "\002b";
		}
	}
}

    .tools-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

        .position-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & > span {
                color: var(--gray-700);
                text-transform: uppercase;
                font-size: .8rem;
            }

            .position-buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .3rem;

                .center-on-page-button {
                    &::before {
                        content: '\007c';
                        font-family: 'EditorIcons3';
                    }
                }
                
                .full-page-button {
                    &::before {
                        content: '\007b';
                        font-family: 'EditorIcons3';
                    }
                }
            }
        }

        .position-button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: var(--gray-300);
            border-radius: var(--border-md-radius);
            position: relative;
            height: 100%;
            aspect-ratio: 1 / 1;
            width: 2.25rem;
            color: var(--gray-700);
            font-size: 2.1rem;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }
        }

        .dimensions-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            gap: .5rem;

            .width-height-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                gap: 1rem;
            }
            
            .height-box, .width-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.2rem;
            }
            
            .width-box {
                & > span {
                    width: 1rem;
                    color: var(--gray-700);
                }
            }
            
            .height-box {
                & > span {
                    width: 1rem;
                    color: var(--gray-700);
                }
            }
            
            .connect-dimensions {
                &:hover {
                    cursor: pointer;
                }
                &::before {
                    content: '\005c';
                    font-family: 'EditorIcons3';
                    font-size: 2rem;
                }
                &.active {
                    &::before{
                        content: '\005d';
                        font-family: 'EditorIcons3';
                        font-size: 2rem;
                    }
                }
            }
            
            .height-input, .width-input {
                width: 5rem;
                height: 2.25rem;
                background-color: var(--gray-300);
                border-radius: var(--border-xs-radius);
                color: var(--gray-700);
                text-align: center;
                border: none;
                outline: none;
            }
            
            .height-input::-webkit-inner-spin-button, 
            .height-input::-webkit-outer-spin-button,
            .width-input::-webkit-inner-spin-button,
            .width-input::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }

        .angle-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: .5rem;
            color: var(--gray-700);

            .angle-button {
                &::before {
                    content: '\0024';
                    font-family: 'EditorIcons3';
                }
            }
        }

        .positions-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            color: var(--gray-700);
            
            .layer-up-button::before, .layer-down-button::before {
                content: '\0064';
                font-family: 'EditorIcons3';
                font-size: 1.5rem;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .layer-up-button {
                &::before {
                    top: auto;
                    bottom: 0.2rem;
                    left: 0.1rem;
                }
                &::after {
                    content: '\0026';
                    font-family: 'EditorIcons3';
                }
            }
            
            .layer-down-button {
                &::before {
                    top: 0.2rem;
                    left: 0.1rem;
                    bottom: auto;
                }
                &::after {
                    content: '\0025';
                    font-family: 'EditorIcons3';
                }
            }
            
            .vertical-reflect-button {
                &::before {
                    content: '\0029';
                    font-family: 'EditorIcons3';
                }
            }
            
            .horizontal-reflect-button {
                &::before {
                    content: '\0028';
                    font-family: 'EditorIcons3';
                }
            }
        }

        .block-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > span {
                color: var(--gray-700);
                text-transform: uppercase;
                font-size: .8rem;
            }

            .block-button {
                &::before {
                    content: '\2014';
                    font-family: 'EditorIcons3';
                }
            }
        }
    }


