<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-stack-overflow"></i> Order: {{ order.name }}
                </div>
                <div class="tools">
                    <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                    <button button-faq-accordion="orders.carts"></button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="page-header">
                                <span>Szczegóły zamówienia</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="form-section">Info</h3>
                            <div class="row form-horizontal">
                                <div class="col-lg-6 col-xs-12">
                                    <div class="row">
                                        <label class="control-label col-md-3">
                                            {{ 'create_date' | translate }}
                                        </label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">
                                                {{ order.created }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="row">
                                        <label class="control-label col-md-3">
                                            {{ 'seller' | translate }}
                                        </label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">
                                                {{ order.sellerName }} {{ order.sellerLastname }} <br/>
                                                {{ order.sellerMail }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="row">
                                        <label class="control-label col-md-3">
                                            {{ 'user' | translate }}
                                        </label>
                                        <div class="col-md-9">
                                            <p class="form-control-static" ng-if="order.userID">
                                                {{ order.userCompanyName }}<br/>
                                                {{ order.userName }} {{ order.userLastname }}<br/>
                                                {{ order.userMail }}
                                                <br/>
                                                <button class="btn btn-primary" ng-click="addresses(order.userID)">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                    {{ 'addresses' | translate }}
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 well">

                        <div ng-repeat="product in order.products" class="col-md-6 col-sm-6">
                            <div class="form-horizontal">
                                <div class="col-md-12">
                                    <div class="row">
                                        <label class="col-md-5 control-label bold text-success">
                                            {{ product.calcProducts[0].typeName }}
                                        </label>
                                        <div class="col-md-7"></div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-5 control-label">
                                            Numer kalkulacji
                                        </label>
                                        <div class="col-md-7">
                                            <p class="form-control-static bold">
                                                {{ product.calcID }}/{{ product.ver }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <label class="col-md-5 control-label">
                                            {{ 'product_name' | translate }}
                                        </label>
                                        <div class="col-md-7">
                                            <div class="input-icon">
                                                <input class="form-control" ng-model="product.name"/>
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <label class="col-md-5 control-label">
                                            {{ 'volume' | translate }}
                                        </label>
                                        <div class="col-md-7">
                                            <span class="form-control-static bold">
                                                <span ng-if="product.amount > 1">{{ product.amount }} x</span>
                                                {{ product.volume }} {{ 'pcs' | translate }}
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <span ng-repeat="calcProduct in product.calcProducts">

                                    <div class="col-md-12">
                                        <div class="row">
                                            <label class="col-md-5 control-label">
                                                {{ 'format' | translate }}
                                            </label>
                                            <div class="col-md-7">
                                                <span class="form-control-static bold">
                                                    {{ calcProduct.formatName }}
                                                    <b>
                                                        {{ calcProduct.formatWidth }} x {{ calcProduct.formatHeight }}
                                                        {{ calcProduct.formatUnit == 2 ? 'cm' : 'mm' }}
                                                    </b>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-repeat="attr in calcProduct.attributes">
                                        <div class="row">
                                            <label class="col-md-5 control-label">
                                                {{ attr.attrName }}
                                            </label>
                                            <div class="col-md-7">
                                                <span class="form-control-static bold">
                                                    {{ attr.optName }} {{ attr.attrPages ? "("+attr.attrPages+")" : "" }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row" ng-repeat="specialAttribute in calcProduct.specialAttributes" >
                                            <label class="col-md-5 control-label">
                                                {{ specialAttribute.name }}
                                            </label>
                                        </div>
                                    </div>
                                </span>
                                <div class="col-md-12">
                                    <div class="row">
                                        <label class="col-md-5 control-label">
                                            {{ 'price' | translate }}
                                        </label>
                                        <div class="col-md-7">
                                            <span class="form-control-static bold">
                                                {{ product.price }} {{ product.currency }}
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- form -->
                <form ng-submit="makeOrder()" class="form-horizontal">
                    <div class="form-body">
                        <!-- orderAddresses -->
                        <div class="row" ng-repeat="orderAddress in order.addresses">
                            <!-- div po lewej -->
                            <div class="col-lg-6">
                                <div class="row">
                                    <!-- addressy -->
                                    <div class="col-lg-6 col-sm-6">
                                        <label class="control-label">
                                            <small class="text-muted ng-binding">Shipping address</small>
                                        </label>
                                        <!-- copyFromID is addressID -->
                                        <select class="form-control" ng-model="orderAddress.addressID"
                                                ng-options="userAddress.ID as userAddress.addressName for userAddress in userAddresses"
                                                ng-required="true">
                                            <option value="">{{ 'select_address' | translate }}</option>
                                        </select>
                                    </div>

                                    <!-- sposoby dostawy -->
                                    <div class="col-lg-6 col-sm-6">
                                        <label class="control-label">
                                            <small class="text-muted ng-binding">{{ 'cl_delivery' | translate }}</small>
                                        </label>
                                        <select class="form-control" ng-model="orderAddress.deliveryID"
                                                ng-options="delivery.ID as delivery.names[currentLang.code] || delivery.names['en'] for delivery in deliveries"
                                                ng-required="true">
                                            <option value="">{{ 'select_delivery' | translate }}</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div ng-if="order.addresses.length > 1" class="col-lg-12">
                                        <button ng-confirm-click="removeAddress($index)" class="btn btn-danger btn-xs"
                                                type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                        <label class="control-label">
                                            <small class="text-muted ng-binding">{{ 'remove_address' |translate }}
                                            </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- div po prawej -->
                            <div class="col-lg-6">
                                <div class="row" ng-repeat="addressProduct in orderAddress.products">
                                    <!-- foreach orderAddress.products -->
                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            <small class="text-muted ng-binding">{{ 'products' | translate }}</small>
                                        </label>
                                        <div class="input-group">
											<span class="input-group-btn">
												<button ng-click="addProduct(orderAddress)"
                                                        class="btn btn-primary ng-binding"
                                                        tooltip="{{ 'add_product' | translate }}" type="button"><i
                                                        class="fa fa-plus"></i></button>
											</span>
                                            <select class="form-control" ng-model="addressProduct.productID"
                                                    ng-change="selectProduct(addressProduct)"
                                                    ng-options="product.productID as (product.name || product.calcProducts[0].typeName) for product in order.products">
                                                <option ng-if="!order.addresses[0].products[0].productID || order.addresses.length == 1"
                                                        value="">{{ 'all_products' | translate }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            <small class="text-muted ng-binding">{{ 'separate_volume' | translate }}
                                            </small>
                                        </label>
                                        <div class="input-group">
                                            <div class="input-icon">
                                                <i class="fa fa-info-circle"
                                                   tooltip="{{ 'separate_volume_tooltip' | translate }}"></i>
                                                <input ng-model="addressProduct.volume"
                                                       ng-disabled="!addressProduct.productID"
                                                       ng-required="addressProduct.productID"
                                                       placeholder="{{ 'enter_volume' | translate }}"
                                                       class="form-control" type="text">
                                            </div>
                                            <span class="input-group-btn">
												<button ng-if="orderAddress.products.length > 1"
                                                        ng-confirm-click="removeProduct(orderAddress, $index)"
                                                        tooltip="{{ 'remove_product' | translate }}"
                                                        class="btn btn-danger ng-binding" type="button"><i
                                                        class="glyphicon glyphicon-remove"></i></button>
											</span>
                                        </div>
                                        <div ng-show="alert" ng-class="text-warning">{{ alertExceededText | translate }}
                                            {{ alertValueExceeded }}
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="input-group-btn">
									<button ng-disabled="!order.addresses[0].products[0].productID"
                                            ng-click="addAddress()" class="btn btn-primary ng-binding" type="button">
										<i class="fa fa-plus"></i> {{ 'add_address' | translate }}
									</button>
								</span>
                            </div>
                        </div>

                        <div class="row" ng-if="userAddressesInvoice.length">

                            <div class="col-lg-6">
                                <label class="control-label">
                                    <small class="text-muted ng-binding">Invoice address</small>
                                </label>
                                <select class="form-control" ng-model="order.invoiceAddress.copyFromID"
                                        ng-options="userAddress.ID as userAddress.addressName for userAddress in userAddressesInvoice">
                                    <option value="">{{ 'select_invoice_address' | translate }}</option>
                                </select>
                            </div>

                            <div class="row" ng-if="!userAddressesInvoice.length">
                                {{ 'no_invoice_address_in_cart' | translate }}
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-6 col-sm-6">
                                <label class="control-label">
                                    <small class="text-muted ng-binding">{{ 'select_a _payment_method' | translate }}</small>
                                </label>
                                <select class="form-control" ng-model="order.paymentID"
                                        ng-options="payment.ID as payment.names[currentLang.code] || payment.names['en'] for payment in payments"
                                        ng-required="true">
                                    <option value="">{{ 'select' | translate }}</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-9 col-lg-6">
                                        <div class="checkbox-list">
                                            <label>
                                                <div class="checker">
                                                    <span ng-class="{ checked: order.sendMailToUser == 1 }">
                                                        <input ng-model="order.sendMailToUser"
                                                               ng-true-value="1" type="checkbox"/>
                                                    </span>
                                                </div>
                                                {{ 'send_notification_mail' | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div ng-if="edit" class="row">

                            <div class="col-lg-6 col-sm-6">
                                <label class="control-label">
                                    <small class="text-muted ng-binding">{{ 'change_order_reason' | translate }}</small>
                                </label>
                                <input ng-model="order.changeReason" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row margin-top">

                            <div class="col-md-9 col-lg-5 col-md-offset-3">
                                <button ng-if="!edit" class="btn btn-primary btn-lg btn-block">
                                    {{ 'place_order' | translate }}
                                </button>
                                <button ng-if="edit" button="button"
                                        class="btn btn-primary btn-lg btn-block">{{ 'save' | translate }}
                                </button>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
