<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered-hoki">
            <div class="portlet-title">

                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a ng-if="typeOfResource.type === 'order'"
                           ui-sref="create-order">{{ 'creating_order' | translate }}</a>
                        <a ng-if="typeOfResource.type === 'offer'"
                           ui-sref="create-order">{{ 'creating_offer' | translate }}</a>
                    </li>
                    <li role="presentation" class="active">
                        <a ng-if="typeOfResource.type === 'order'"
                           ui-sref="unfinished-orders">{{ 'orders_unfinished' | translate }}</a>
                        <a ng-if="typeOfResource.type === 'offer'"
                           ui-sref="unfinished-orders">{{ 'offers_unfinished' | translate }}</a>
                    </li>
                </ul>

                <div class="caption">
                    <span ng-if="typeOfResource.type === 'order'">{{ 'current_orders' | translate }} / {{ 'calculations' | translate }}</span>
                    <span ng-if="typeOfResource.type === 'offer'">{{ 'current_offers' | translate }} / {{ 'calculations' | translate }}</span>
                </div>
                <div class="tools">
                    <button ng-if="typeOfResource.type === 'order'"
                            button-faq-accordion="customerservice.createOrder"></button>
                    <button ng-if="typeOfResource.type === 'offer'"
                            button-faq-accordion="customerservice.createOffer"></button>
                </div>

            </div>

            <div class="row">

                <div class="portlet light" ng-repeat="order in orders">
                    <div class="portlet-title">
                        <div ng-if="!!order.orderNumber" class="caption">
                            <span class="caption-subject font-green-haze bold">{{ 'order_no' | translate }} {{ order.orderNumber }}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>{{ 'created' | translate }}: {{ order.created }}</h4>
                                <div class="row well">
                                    <div class="col-xs-12 col-md-6 col-lg-4" ng-repeat="product in order.products">

                                        <p class="marginBottomNo" ng-if="product.isMultiVolumeOffer == 1" style="color: red;"><b>{{ 'multi_volume_offer' |
                                                translate }}</b></p>
                                        <p class="marginBottomNo">{{ 'product' | translate }}: <b>{{ product.name
                                                }}</b></p>
                                        <p class="marginBottomNo" ng-if="product.isMultiVolumeOffer == 1">
                                            CalcIDs:<br><b> <span ng-repeat="calc in product.currentMultiOfferVolumes">
                                                 - {{ calc.calcID }} / {{ calc.calcVer}}<br>
                                            </span></b>
                                        </p>
                                        <p class="marginBottomNo" ng-if="product.isMultiVolumeOffer != 1">
                                            CalcID: <b>{{ product.baseID }} / {{ product.ver}}</b>
                                        </p>
                                        <span ng-repeat="calcProduct in product.calcProducts">
												<b>{{ calcProduct.typeName }}</b>
												<p class="marginBottomNo noWrap">
													{{ calcProduct.formatName }}
                                                    <b>
                                                        {{ calcProduct.formatWidth }} x {{ calcProduct.formatHeight }}
                                                        {{ calcProduct.formatUnit == 2 ? 'cm' : 'mm' }}
                                                    </b>
												</p>
												<p ng-repeat="attr in calcProduct.attributes"
                                                   class="marginBottomNo noWrap">
                                                    <span ng-if="!attr.emptyChoice">
                                                        {{ attr.attrName }} <b>{{ attr.optName }} {{ attr.attrPages ? "("+attr.attrPages+")" : "" }}</b>
                                                    </span>
												</p>
                                                <p ng-repeat="specialAttribute in calcProduct.specialAttributes"
                                                    class="marginBottomNo noWrap">
													<b>{{ specialAttribute.name }}</b>
												</p>
												
											</span>
                                        <p>
                                            {{ 'volume' | translate }}
                                            <b ng-if="product.amount > 1">{{ product.amount }} x </b>
                                            <b>{{ product.volume }}</b>
                                        </p>
                                        <p>
                                            {{ 'price' | translate }} <b>{{ product.price }} {{ product.currency
                                            }}</b>
                                        </p>
                                        <p ng-if="order.user">
                                            {{ 'user' | translate }}: <b>{{ order.user.user }}</b><br>
                                            {{ 'firstname' | translate }}: <b>{{ order.user.name }}</b><br>
                                            {{ 'lastname' | translate }}: <b>{{ order.user.lastname }}</b>
                                        </p>
                                        <button class="btn blue-hoki btn-xs" ng-click="edit(order, product)"><i
                                                class="fa fa-edit"></i> {{ 'edit' | translate }}
                                        </button>
                                        <button class="btn blue-hoki btn-xs" ng-click="history(order, product)"><i
                                                class="fa fa-book"></i> {{ 'history' | translate }}
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-4 col-xs-offset-4">
                                        <button ng-click="addProduct(order.ID)"
                                                class="btn btn-sm btn-primary btn-block marginedBtn breakLine"><i
                                                class="fa fa-plus-circle"></i>
                                            {{ 'add_another_product' | translate }}
                                        </button>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <!-- panel -->
                                    <form class="form-horizontal">
                                        <div class="form-body">

                                            <div class="form-group">
                                                <label ng-if="typeOfResource.type === 'order'"
                                                       class="col-sm-3 control-label">
                                                    {{ 'comments_to_order' | translate }}
                                                </label>
                                                <label ng-if="typeOfResource.type === 'offer'"
                                                       class="col-sm-3 control-label">
                                                    {{ 'comments_to_offer' | translate }}
                                                </label>
                                                <div class="col-sm-9 col-lg-6">
                                                    <textarea class="form-control" name="orderMessage"
                                                              ng-model="order.orderMessage"
                                                              placeholder="{{ 'text' | translate }}">
                                                    </textarea>
                                                </div>
                                            </div>

                                            <div ng-if="typeOfResource.type === 'offer'" class="form-group">
                                                <label class="col-md-3 control-label">
                                                    {{ 'expires_offer_date' |  translate }}
                                                </label>
                                                <div class="col-md-6">
                                                    <input title="{{ 'expires_offer_date' | translate }}"
                                                           class="form-control" ng-model="order.expires" dp-datepicker />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-9">
                                                    <button  ng-if="!!order.user && typeOfResource.type === 'order'"
                                                             class="btn btn-success btn-lg"
                                                            type="button" ng-click="makeOrder(order)">
                                                        {{ 'add_delivery_address' | translate }}
                                                    </button>

                                                    <button ng-if="!!order.user && typeOfResource.type === 'offer'"
                                                            class="btn btn-success btn-lg"
                                                            type="button" ng-click="saveOffer(order)">
                                                        {{ 'create_offer_and_send_email' | translate }}
                                                    </button>
                                                </div>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
