<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-file-code-o"></i> {{ 'style_for_website' | translate }}
                </div>
                <div class="tools">
                    <button button-faq-accordion="contents.editStyles"></button>
                </div>
            </div>
            <div class="portlet-body">

                <div class="alert alert-info" role="alert">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            {{ 'file' | translate }}: {{ file.name }}
                        </div>
                        <div class="col-md-4">
                            CHMOD: {{ file.chmod }}
                        </div>

                        <div class="col-md-4">
                            CHOWN: {{ file.chown }}
                        </div>
                    </div>
                </div>

                <form class="form-horizontal" role="form" ng-submit="save()">

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="mainCss"></label>
                            <textarea rows="30" ng-model="file.content" id="mainCss" class="form-control"></textarea>
                        </div>
                    </div>

                    <div ng-if="file.isWritable" class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-9 col-md-3">
                                <button type="submit" class="btn btn-success btn-lg pull-right">
                                    <i class="fa fa-plus"></i> {{ 'save' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>