<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-folder-alt"></i>{{ 'templates' | translate }}
                </div>
                <div class="tools">
                    <button button-faq-accordion="contents.templates"></button>
                    <button class="btn btn-primary btn-sm" ng-click="getAllTemplates()">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                <th>{{ '#' | translate }}</th>
                                <th>{{ 'name' | translate }}</th>
                                <th>{{ 'template_source' | translate }}</th>
                                <th>{{ 'upload' | translate }}</th>
                                <th>{{ 'actions' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="template in templates | filter:search" ng-class="{'info': template.own}" >
                                <td>
                                    <i ng-if="template.own" tooltip="{{ 'own_template' | translate }}" class="fa fa-code-fork" aria-hidden="true"></i>
                                    {{ template.ID }}
                                </td>
                                <td>{{ template.name }}</td>
                                <td>

                                    <div class="btn-group">
                                        <label ng-if="!template.own" class="btn btn-primary" ng-class="{'active': template.source == 0}">
                                            <input class="form-control" type="radio" value="0" name="templateSource[{{template.ID + '_' + template.own}}]"
                                                   ng-change="changeSource(template);" ng-model="template.source">
                                            {{ 'default' | translate }}
                                        </label>
                                        <label class="btn btn-primary" ng-class="{'active': template.source == 1}">
                                            <input class="form-control" type="radio" value="1" name="templateSource[{{template.ID + '_' + template.own}}]"
                                                   ng-change="changeSource(template);" ng-model="template.source">
                                            {{ 'diffrent_for_printhouse' | translate }}
                                        </label>
                                        <label class="btn btn-primary" ng-class="{'active': template.source == 2}">
                                            <input class="form-control" type="radio" value="2" name="templateSource[{{template.ID + '_' + template.own}}]"
                                                   ng-change="changeSource(template);" ng-model="template.source">
                                            {{ 'diffrent_for_domain' | translate }}
                                        </label>
                                    </div>

                                </td>
                                <td class="fileUpload">
                                    <div ng-show="template.source > 0">
                                        <input type="file" ng-model="template.file"
                                               ngf-select ngf-accept="'*/*'" ngf-multiple="true" ngf-change="uploadFile(template)" />
                                        <div padding="5%" id="bar" class="progress progress-striped" role="progressbar">
                                            <div class="progress-bar progress-bar-progress" style="width: {{ template.progress }}%">
                                            </div>
                                        </div>
                                        <div ng-if="template.fileExist">
                                            {{ 'name' | translate }}:
                                            <a target="_blank" href="{{ template.url }}">
                                                {{ template.fileName }}
                                            </a>
                                            <button ng-confirm-click="removeFile(template)" class="btn red-sunglo btn-xs" data-toggle="tooltip" tooltip="{{ 'delete' | translate }}"><i class="glyphicon glyphicon-remove"></i></button>
                                        </div>
                                        <div ng-if="!template.fileExist">
                                            {{ 'lack_of_file' | translate }}
                                        </div>
                                    </div>
                                    <div ng-show="template.source == 0">
                                        <div ng-if="template.url.length > 0">
                                            {{ 'name' | translate }}:
                                            <a target="_blank" href="{{ template.url }}">
                                                {{ template.fileName }}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn blue-hoki btn-xs" ng-click="edit(template)"
                                            tooltip="{{ 'edit' | translate }}"><i class="fa fa-edit"></i>
                                    </button>
                                    <button ng-if="template.own" ng-confirm-click="remove(template)" class="btn red-sunglo btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption font-green-haze col-md-3 text-right">
                                {{ 'add_own_template' | translate }}
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form" ng-submit="add()">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="templateName">{{ 'name' | translate }}</label>
                                        <div class="col-md-9">
                                            <input ng-model="form.name" type="text" class="form-control" placeholder="{{ 'name' | translate }}" required id="templateName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="useVariables">{{ 'use_variables' | translate }}</label>
                                        <div class="col-md-9">
                                            <input id="useVariables" ng-model="form.useVariables" type="checkbox" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'add' | translate }}</button>
                                            <button ng-click="form = {}" type="button" class="btn red-sunglo">{{ 'cancel' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
