<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i> {{ 'additional_settings' | translate }}
                </div>

                <div class="tools hidden-lg">
                    <button button-faq-accordion="shop.additionalSettings"></button>
                </div>

            </div>
            <div class="portlet-body">

                <form class="form-horizontal" role="form" ng-submit="save()">
                    <div class="form-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                            <span ng-class="{checked: form.onlyForCompanies.value}">
                                            <input ng-model="form.onlyForCompanies.value" type="checkbox">
                                            </span>
                                        </div>
                                        {{ 'shop_only_for_companies' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'number_of_days_to_make_a_complaint' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.reclamationDays.value" type="number" placeholder="{{ 'days_number' | translate }}" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'link_to_rss' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.rssFeed.value" type="text" placeholder="{{ 'link' | translate }}" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'maximum_number_characters_in_rss' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.rssCharLimit.value" type="number"
                                       placeholder="{{ 'maximum_number_characters_in_rss' | translate }}" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'captcha_public_key' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.captchaPublicKey.value" type="text" placeholder="{{ 'key' | translate }}" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'captcha_private_key' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.captchaPrivateKey.value" type="text" placeholder="{{ 'key' | translate }}" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'recipients_of_email_about_new_order' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.adminMailRecipients.value" type="text" placeholder="{{ 'mails' | translate }}" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                            <span ng-class="{checked: form.confirmButtonInCart.value}">
                                                <input ng-model="form.confirmButtonInCart.value" type="checkbox">
                                            </span>
                                        </div>
                                        {{ 'confirm_statute_in_cart' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'confirm_statute_text_in_cart' | translate }}</label>
                            <div class="col-md-9">
                                <textarea ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                          ng-model="form.confirmTextInCart[lang.code]"
                                          type="text" class="form-control" placeholder="{{lang.code}}"></textarea>
                                <select class="form-control" ng-init="nameLang = currentLang.code" ng-model="nameLang"
                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                            <span ng-class="{checked: form.recalculateInCart.value}">
                                                <input ng-model="form.recalculateInCart.value" type="checkbox">
                                            </span>
                                        </div>
                                        {{ 're-count_product_values_in_cart' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                            <span ng-class="{checked: form.separateConfirmButton.value}">
                                                <input ng-model="form.separateConfirmButton.value" type="checkbox">
                                            </span>
                                        </div>
                                        {{ 'additional_confirm_button_in_cart' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                            <span ng-class="{checked: form.calcWithoutDelivery.value}">
                                                <input ng-model="form.calcWithoutDelivery.value" type="checkbox">
                                            </span>
                                        </div>
                                        {{ 'calc_without_delivery' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                                <span ng-class="{checked: form.wcgaUsed.value}">
                                                    <input ng-model="form.wcgaUsed.value" type="checkbox">
                                                </span>
                                        </div>
                                        {{ 'wcga_used' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'filtered_attribute' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.filteredAttribute.value" type="number" placeholder="{{ 'id_of_attribute_to_filter' | translate }}" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <div class="checkbox-list">
                                    <label>
                                        <div class="checker">
                                                <span ng-class="{checked: form.fixFile.value}">
                                                    <input ng-model="form.fixFile.value" type="checkbox">
                                                </span>
                                        </div>
                                        {{ 'offer_fix_file' | translate }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'fix_file_days'|translate}}</label>
                            <div class="col-md-9">
                                <input ng-model="form.fixFileDays.value" type="number" placeholder="{{ 'fix_file_days' | translate }}" class="form-control" >
                            </div>
                        </div>

                    <div class="form-group">
                            <label class="col-md-3 control-label">{{'fix_file_price'|translate}}</label>
                            <div class="col-md-9">
                                <input ng-model="form.fixFilePrice.value" type="number" placeholder="{{ 'fix_file_price' | translate }}" class="form-control" >
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'save' | translate }}</button>
                                <button ng-click="reset()" type="button" class="btn red-sunglo">{{ 'cancel' | translate }}</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-5 visible-lg">
        <div faq-accordion="shop.additionalSettings" ></div>
    </div>
</div>
