<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa icon-envelope-open"></i> {{ 'delivery_settings' | translate }}
                </div>

                <div class="tools hidden-lg">
                    <button button-faq-accordion="shop.deliverySettings"></button>
                </div>

            </div>
            <div class="portlet-body">

                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th>#</th>
                            <th>
                                {{ 'name' | translate }}
                                <select ng-model="showLang"
                                        ng-options="lang.code as lang.name for (key, lang) in languages"
                                        ng-init="showLang = currLang"></select>
                            </th>
                            <th>{{ 'courier' | translate }}</th>
                            <th>{{ 'active' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="delivery in deliveries">
                            <td>{{ delivery.ID }}</td>
                            <td>
                                {{ delivery.names[showLang] }}
                            </td>
                            <td>
                                {{ _.findWhere(couriers, {ID: delivery.courierID}).name }}
                            </td>
                            <td>
                  <span class="btn blue-stripe btn-xs"
                        ng-class="{'red-sunglo-stripe': !delivery.active}">
                    {{ !!delivery.active ? 'yes' : 'no' | translate }}
                  </span>
                            </td>
                            <td class="text-left">
                                <button ng-click="edit(delivery)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'edit' | translate }}"
                                        class="btn blue-hoki btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button ng-confirm-click="remove(delivery.ID)"
                                        data-toggle="tooltip" data-container="body" tooltip="{{ 'delete' | translate }}"
                                        class="btn red-sunglo btn-xs">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <form class="form-horizontal" role="form" ng-submit="add()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'lang_name' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-repeat="lang in languages" ng-show="nameLang == lang.code"
                                       ng-model="form.names[lang.code]" type="text" class="form-control"
                                       placeholder="{{lang.code}}"/>
                                <select class="form-control" ng-init="nameLang = currentLang.code" ng-model="nameLang"
                                        ng-options="each.code as each.name for (key, each) in languages"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'courier' | translate }}</label>
                            <div class="col-md-9">
                                <select class="form-control" ng-model="form.courierID"
                                        ng-change="selectCourier(form.courierID, form) "
                                        ng-options="each.ID as each.name for (key, each) in couriers"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="key in _.findWhere(couriers, {ID: form.courierID}).keys"
                             ng-if="form.courierID">
                            <label class="col-md-3 control-label">{{ key.langs[currentLang.code].name }}</label>
                            <div class="col-md-9">
                                <input ng-if="key.type != 'select'" ng-model="form.courierKeys[key.ID]"
                                       type="{{key.type}}" class="form-control"
                                       placeholder="{{ key.langs[currentLang.code].name }}">
                                <select class="form-control" ng-if="key.type == 'select'"
                                        ng-model="form.courierKeys[key.ID]"
                                        ng-options="option.value as option.langs[currentLang.code].name for option in key.options">
                                    ></select>
                            </div>
                        </div>

                        <div class="form-group"
                             ng-repeat="setting in _.findWhere(packageSettings, {ID: form.courierID}).keys"
                             ng-if="form.courierID">
                            <label class="col-md-3 control-label">{{ setting.langs[currentLang.code].name }}</label>
                            <div class="col-md-9">
                                <input ng-if="setting.type != 'select'" ng-model="form.courierKeys[setting.ID]"
                                       type="{{ setting.type == 'price' ? 'text' : setting.type }}" class="form-control"
                                       placeholder="{{ setting.langs[currentLang.code].name }}">
                                <select class="form-control" ng-if="setting.type == 'select'"
                                        ng-model="form.courierKeys[setting.ID]"
                                        ng-options="option.value as option.langs[currentLang.code].name for option in setting.options">
                                    ></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'price' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.price" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'package_weight' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.weight" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'UnitQty' | translate }}</label>
                            <div class="col-md-9">
                                <input ng-model="form.UnitQty" type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'FS_Weight' | translate }}</label>
                            <div class="col-md-5">
                                <input ng-model="form.FS_WeightStart" type="text" class="form-control"
                                       placeholder="{{'start_kg' | translate}}">
                            </div>
                            <div class="col-md-4">
                                <input ng-model="form.FS_WeightEnd" type="text" class="form-control"
                                       placeholder="{{'end_kg' | translate}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'FS_Val' | translate }}</label>
                            <div class="col-md-5">
                                <input ng-model="form.FS_ValStart" type="text" class="form-control"
                                       placeholder="{{'start_val' | translate}}">
                            </div>
                            <div class="col-md-4">
                                <input ng-model="form.FS_ValEnd" type="text" class="form-control"
                                       placeholder="{{'end_val' | translate}}">
                            </div>
                        </div>

                        <div class="form-group" style="background: beige">
                            <label class="col-md-3 control-label">{{ 'EX_Weight' | translate }}</label>
                            <div class="col-md-5">
                                <input ng-model="form.EX_WeightStart" type="text" class="form-control"
                                       placeholder="{{'start_kg' | translate}}">
                            </div>
                            <div class="col-md-4">
                                <input ng-model="form.EX_WeightEnd" type="text" class="form-control"
                                       placeholder="{{'start_kg' | translate}}">
                            </div>
                        </div>

                        <div class="form-group" style="background: beige">
                            <label class="col-md-3 control-label">{{ 'Ex_Val' | translate }}</label>
                            <div class="col-md-5">
                                <input ng-model="form.EX_ValStart" type="text" class="form-control"
                                       placeholder="{{'start_val' | translate}}">
                            </div>
                            <div class="col-md-4">
                                <input ng-model="form.EX_ValEnd" type="text" class="form-control"
                                       placeholder="{{'end_val' | translate}}">
                            </div>
                        </div>

                        <div class="form-group" style="background: beige">
                            <label class="col-md-3 control-label">{{ 'Ex_Dim' | translate }}</label>
                            <div class="col-md-3">
                                <input ng-model="form.EX_DimL" type="text" class="form-control"
                                       placeholder="{{'length' | translate}}">
                            </div>
                            <div class="col-md-3">
                                <input ng-model="form.EX_DimW" type="text" class="form-control"
                                       placeholder="{{'width' | translate}}">
                            </div>
                            <div class="col-md-3">
                                <input ng-model="form.EX_DimH" type="text" class="form-control"
                                       placeholder="{{'height' | translate}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ 'select_tax' | translate }}</label>
                            <div class="col-md-9">
                                <select class="form-control"
                                        ng-model="form.taxID"
                                        ng-options="item.ID as item.name for item in taxes">

                                    <option value="">{{ 'select' | translate }}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-success"><i class="fa fa-plus"></i> {{ 'add' | translate }}
                                </button>
                                <button ng-click="reset()" type="button" class="btn red-sunglo">{{ 'cancel' | translate
                                    }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-5 visible-lg">
        <div faq-accordion="shop.deliverySettings"></div>
    </div>
</div>
