<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>{{ 'permissions' | translate }}
                </div>
                <div class="tools">
                    <span>{{ 'number_of_rows' | translate }}: <span
                            class="badge">{{ usersCtrl.totalItems }}</span> </span>
                    <select ng-model="showRows" ng-change="usersCtrl.setRows(showRows)"
                            ng-options="each for (null, each) in [10,25,50,100]"></select>
                    <button ng-click="usersCtrl.clearCache()" class="btn btn-primary btn-sm">
                        <i class="fa fa-refresh"></i> {{ 'refresh' | translate }}
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th>#</th>
                            <th>{{ 'username' | translate }}</th>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'lastname' | translate }}</th>
                            <th>{{ 'types' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                                <input type="text" class="form-control form-filter input-sm"
                                       placeholder="ID" ng-model="usersCtrl.params.ID"
                                       ng-change="setParams()">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm"
                                       placeholder="{{ 'Mail' | translate }}" ng-model="usersCtrl.params.user"
                                       ng-change="setParams()">
                            </td>
                            <td>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in usersCtrl.items">
                            <td>{{ user.ID }}</td>
                            <td>{{ user.user }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ _.findWhere(userTypes, {ID: user.userTypeID}).name }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" ng-click="userEditType(user)">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    {{ 'types' | translate }}
                                </a>
                                <a class="roles btn btn-primary btn-xs" ng-click="userRoles(user)">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                                    {{ 'roles' | translate }}
                                </a>
                                <a class="groups btn btn-primary btn-xs" ng-click="userGroups(user)">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    {{ 'groups' | translate }}
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="usersCtrl.totalItems" ng-model="usersCtrl.currentPage"
                            ng-change="usersCtrl.setPage(usersCtrl.currentPage); usersCtrl.get()" class="pagination-sm"
                            max-size="10" boundary-links="true" rotate="true"
                            items-per-page="usersCtrl.params.limit"></pagination>
            </div>
        </div>
    </div>
</div>