<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="portlet light">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa icon-envelope-open"></i> {{ 'supported_countries' | translate }}
        </div>

        <div class="tools hidden-lg">
          <button button-faq-accordion="shop.supportedCountries"></button>
        </div>

      </div>
      <div class="portlet-body">

        <div class="overflowContainer">
          <button ng-click="checkAllCountries()" class="btn btn-primary btn-sm">
            <i class="fa fa-check-circle"></i> {{ 'check_all_as_enabled' | translate }}
        </button>
        <button ng-click="unCheckAllCountries()" class="btn btn-primary btn-sm">
          <i class="fa fa-check-circle-o"></i> {{ 'uncheck_all_as_enabled' | translate }}
      </button>
          <table class="table table-striped table-hover">
            <thead>
              <tr role="row" class="heading">
                <th>{{ 'code' | translate }}</th>
                <th>{{ 'area_code' | translate }}</th>
                <th>{{ 'name' | translate }}</th>
                <th>{{ 'enabled' | translate }}</th>
                <th>{{ 'default' | translate }}</th>
              </tr>
              <tr role="row" class="filter">
                <td>
                  <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'code' | translate }}"
                    ng-model="filterData.code" ng-change="search()">
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm"
                    placeholder="{{ 'area_code' | translate }}" ng-model="filterData.areaCode" ng-change="search()">
                </td>
                <td>
                  <input type="text" class="form-control form-filter input-sm" placeholder="{{ 'name' | translate }}"
                    ng-model="filterName" ng-change="search()">
                </td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="country in countries | filter:filterData">
                <td>
                  {{ country.code }}
                </td>
                <td>
                  {{ country.areaCode }}
                </td>
                <td ng-if="currLang == 'pl'">
                  {{ country.name_pl }}
                </td>
                <td ng-if="currLang != 'pl'">
                  {{ country.name_en }}
                </td>
                <td>
                  <div class="checker" ng-click="checker()">
                    <span ng-class="{checked: !!!country.disabled}">
                      <input ng-model="country.disabled" ng-true-value="0" ng-false-value="1" type="checkbox">
                    </span>
                  </div>
                </td>
                <td>
                  <div class="checker">
                    <span ng-class="{checked: !!country.isDefault}">
                      <input ng-model="country.isDefault" ng-true-value="1" ng-false-value="0" type="checkbox" ng-change="setDefault(country)">
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="fixedPositionSave" ng-show="saveData">
            <button class="btn btn-success" ng-click="save()">
              {{ 'save' | translate }}
            </button>
            <button class="btn red-sunglo" ng-click="cancel()">
              {{ 'cancel' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 visible-lg">
    <div faq-accordion="shop.supportedCountries"></div>
  </div>
</div>