<!-- produkt widok -->
<div class="container" id="container-product">

    <div class="row" id="row-product-description">
        <div class="col-xs-12">
            <h1 class="page-header">{{currentType.names[currentLang.code]}}</h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <!-- build:include ../panels/menu.html -->
            This will be replaced by the content of menu.html
            <!-- /build -->
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-7">
                    <!-- build:include ../panels/patterns-thumbnails.html -->
                    This will be replaced by the content of patterns.html
                    <!-- /build -->
                </div>
                <div class="col-md-5">
                    <!-- build:include ../panels/galleries.html -->
                    This will be replaced by the content of galleries.html
                    <!-- /build -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <!-- build:include ../panels/parameters.html -->
                    This will be replaced by the content of parameters.html
                    <!-- /build -->
                </div>
                <div class="col-md-5">
                    <!-- build:include ../panels/realization.html -->
                    This will be replaced by the content of realization.html
                    <!-- /build -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- build:include ../panels/delivery.html -->
                    This will be replaced by the content of delivery.html
                    <!-- /build -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <!-- build:include ../panels/card-guide.html -->
                    This will be replaced by the content of description.html
                    <!-- /build -->
                </div>
                <div class="col-md-5">
                    <!-- build:include ../panels/configuration.html -->
                    This will be replaced by the content of configuration.html
                    <!-- /build -->
                    <!-- build:include ../panels/summary.html -->
                    This will be replaced by the content of summary.html
                    <!-- /build -->
                </div>
            </div>
        </div>
    </div>
</div>
