<div class="modal-header bg-success2 text-white">
  <h3 class="modal-title">Wyślij zapytanie</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="makeAuction(form)">
  <div class="modal-body">
    <div class="modal-header">
    <h3 class="modal-title">{{ 'choose_printing_house' | translate }}</h3>
    </div>
    <div class="modal-body">
      <div class="list-group clickable">

        <a class="list-group-item" ng-repeat="item in companies" ng-click="selectCompany(item)" ng-class="{'active': item.selected}">
          <h3 class="list-group-item-heading">
            {{ item.name }}
          </h3>
        </a>
      </div>

      <div class="form-body">
        
        <!-- <div class="form-group">
          <label class="col-md-3 control-label">{{ 'realization_date' | translate }}</label>
          <div class="col-md-9">
            <input ng-model="form.realization_date" type="text" class="form-control" placeholder="{{ 'realization_date' | translate }}">
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-md-3 control-label">Informacje o zapytaniu</label>
          <div class="col-md-9">
            <textarea ng-model="form.description" type="text" class="form-control" placeholder="{{ 'informations' | translate }}">
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Data zakończenia</label>
          <div class="col-md-9">
            <div ng-model="form.endDate" ng-required="true" dp-datepicker></div>
            <timepicker ng-model="form.time" ng-change="changed(form.time)" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'cancel' | translate }}</button>
    <button class="btn btn-success"><i class="fa fa-check"></i> {{ 'send' | translate }}</button>
  </div>
</form>