@font-face {
    font-family: "EditorIcons";
    src: url('./../app/images/ei.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fontAwesome";
    src: url('../app/images/fontawesome-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EditorIconsT";
    src: url('../app/images/ei2.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "MainFont";
    src: url('../app/images/Lato.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EditorIcons2";
    src: url('../app/images/EditorIcons2.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "EditorIcons3";
    src: url('../app/images/EditorIcons3.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}