# Grafana Datasource Configuration for Feniks
#
# This file configures Prometheus as a datasource for Feniks metrics.
# Place this file in: /etc/grafana/provisioning/datasources/

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "5s"
      queryTimeout: "60s"
      httpMethod: "POST"
