@use './../shared' as *;

//file containing styles for Selector component

.dropdown-container {
  border-radius: $border-sm-radius;
  position: relative;
  min-width: 4rem;

  .dropdown {
    z-index: 100;
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    border-radius: $border-sm-radius;
    min-width: 8rem;

    .dropdown-content {
      display: flex;
      flex-direction: column;
      position: relative;
      transition: max-height $transition-medium ease-in-out;
      border-radius: $border-sm-radius;
      box-shadow: $lg-shadow;
      background: $white;
      overflow-y: scroll;
      width: 100%;
      min-width: fit-content;
    }
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    background: $white;
    color: $gray-700;
    gap: .25rem;
    height: 2.25rem;
    transition: background $transition-medium ease-in-out;
    position: relative;
    min-width: fit-content;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:not(.selected):hover {
      filter: brightness(.85);
    }

    &:not(.selected) {
      padding: .5rem 1rem;
      min-width: 3rem;
      justify-content: start;
      gap: 1rem;

      &:not(:last-of-type) {
        border-bottom: 1px solid $gray-200;
      }
    }

    &.selected {
      background: $gray-300;
      border-radius: $border-md-radius;
      justify-content: space-between;
      padding: 1rem;

      .item-name {
        font-weight: 700 !important;
      }
    }

    &.gray {
      background-color: $gray-200 !important;

      &.selected {
        padding: 0 .25rem 0 .5rem;
        height: 2rem;
      }

      padding: .5rem !important;
    }

    &.selected::after {
      content: '\2019';
      font-family: "EditorIcons3";
      color: $gray-500;
      font-size: 2.25rem;
      transition: transform $transition-medium ease-in-out;
      transform: rotate(180deg);
    }

    &.open.selected::after {
      transform: rotate(0);
    }

    .font-preview {
      height: 100%;
      object-fit: contain;
      background-position: center center;
    }

    .item-name {
      font-weight: 400;
    }
  }
}