<div class="btn-success modal-header">
	<h3 class="modal-title">
	Podgląd wygranej oferty {{ order.orderNumber }}
	</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="page-header">
					<span>Szczegóły zamówienia</span>
				</div>
			</div>
			<div class="col-md-12">
				<h3 class="form-section">Info</h3>
				<div class="row form-horizontal">
					<div class="col-lg-6 col-xs-12">
						<div class="row">
							<label class="control-label col-md-3">
								{{ 'create_date' | translate }}
							</label>
							<div class="col-md-9">
								<p class="form-control-static">
									{{ order.created }}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="row">
							<label class="control-label col-md-3">
								{{ 'expires' | translate }}
							</label>
							<div class="col-md-9">
								<p class="form-control-static">
									{{ order.expires }}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="row">
							<label class="control-label col-md-3">
								{{ 'seller' | translate }}
							</label>
							<div class="col-md-9">
								<p class="form-control-static">
									{{ order.sellerName }} {{ order.sellerLastname }} <br/>
									{{ order.sellerMail }}
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="row">
							<label class="control-label col-md-3">
								{{ 'user' | translate }}
							</label>
							<div class="col-md-9">
								<p class="form-control-static" ng-if="order.userID">
									{{ order.userCompanyName }}<br />
									{{ order.userName }} {{ order.userLastname }}<br />
									{{ order.userMail }}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Lista produktów -->
		<div ng-repeat="product in order.products" class="col-md-6 col-sm-6">
			<div class="form-horizontal">
				<div class="col-md-12">
					<h4 class="text-success">
					{{ product.name }}
					</h4>
				</div>
				<div class="col-md-12">
					<div class="row">
						<label class="col-md-5 control-label">
							Numer kalkulacji
						</label>
						<div class="col-md-7">
							<p class="form-control-static bold">
								{{ product.calcID }}/{{ product.ver }}
							</p>
						</div>
					</div>
				</div>
				<div class="input-group">
					<label class="col-md-5 control-label">
						{{ 'order_name' | translate }}
					</label>
					<div class="col-md-7">
						<div class="input-icon">
							<input class="form-control" ng-model="product.name" ng-disabled="true">
							<i class="glyphicon glyphicon-pencil"></i>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<label class="col-md-5 control-label">
							{{ 'volume' | translate }}
						</label>
						<div class="col-md-7">
							<span class="form-control-static bold">
								{{ product.volume }} {{ 'pcs' | translate }}
							</span>
						</div>
						
					</div>
				</div>
				<span ng-repeat="calcProduct in product.calcProducts">
					
					<div class="col-md-12">
						<div class="row">
							<label class="col-md-5 control-label">
								{{ 'format' | translate }}
							</label>
							<div class="col-md-7">
								<span class="form-control-static bold">
									{{ calcProduct.formatName }}
									<b>{{ calcProduct.formatWidth }} x {{ calcProduct.formatHeight }}</b>
								</span>
							</div>
							
						</div>
					</div>
					<div class="col-md-12" ng-repeat="attr in calcProduct.attributes">
						<div class="row">
							<label class="col-md-5 control-label">
								{{ attr.attrName }}
							</label>
							<div class="col-md-7">
								<span class="form-control-static bold">
									{{ attr.optName }} {{ attr.attrPages ? "("+attr.attrPages+")" : "" }}
								</span>
							</div>
						</div>
					</div>
				</span>
				<div class="col-md-12">
					<div class="row">
						<label class="col-md-5 control-label">
							{{ 'price' | translate }}
						</label>
						<div class="col-md-7">
							<span class="form-control-static bold">
								{{ product.price }} {{ product.currency }}
							</span>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<form ng-if="makeOrder" ng-submit="makeOrder()" class="form-horizontal">
		<div class="form-body">
			<div class="row" >
				<div class="col-md-3 col-sm-6">
					<label class="control-label"> <small class="text-muted ng-binding">Method of delivery</small></label>
					<select class="form-control" ng-options="delivery.name as delivery.ID in deliveries">
					</select>
				</div>
				<div class="col-md-3 col-sm-6">
					<label class="control-label"> <small class="text-muted ng-binding">Shipping address </small></label>
					<select class="form-control" ng-option="userAddress.name as userAddress.ID in userAddresses">
						<option value="Nazwa adresu: ul. Floriańska 12, 32-400 Kraków">Nazwa adresu: ul. Floriańska 12, 32-400 Kraków</option>
						<option value="Inna Nazwa: ul. Św. Anny 13, 32-400 Kraków">Inna Nazwa: ul. Św. Anny 13, 32-400 Kraków</option>
						<option value="Kolejna nazwa: ul. Dominikańska 15, 32-400 Kraków">Kolejna nazwa: ul. Dominikańska 15, 32-400 Kraków</option>
						<option value="account-address-book.html" class="ng-binding">Address book</option>
					</select>
				</div>
				<div class="col-md-3 col-sm-6">
					<label class="control-label"> <small class="text-muted ng-binding">Execution mode</small></label>
					<select class="form-control">
						<option class="ng-binding" value="Standard">Standard</option>
						<option class="ng-binding" value="Economic, cena - 5%">Economic, cena - 5%</option>
						<option class="ng-binding" value="Express, cena + 10%">Express, cena + 10%</option>
					</select>
				</div>
				<div class="col-md-3 col-sm-6">
					<label class="control-label"><small class="text-muted ng-binding">Separate volume</small></label>
					<div class="input-group">
						<div class="input-icon">
							<i class="fa fa-info-circle" tooltip="Rozdzielając nakład możesz wysłać określoną ilość sztuk produktu pod inny adres"></i>
							<input class="form-control" type="text" name="" placeholder="Enter your volume">
						</div>
						<span class="input-group-btn">
							<button class="btn btn-primary ng-binding" type="button">Separate</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 col-lg-5 col-md-offset-3">
					<button class="btn btn-primary btn-lg btn-block">{{ 'send' | translate }}</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn red-sunglo" type="button" ng-click="$dismiss()">{{ 'close' | translate }}</button>
	</div>
