<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Modules
                </div>
                <!--  -->
            </div>
            <div class="portlet-body">
                <div class="overflowContainer">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr role="row" class="heading">
                            <th>#</th>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Type</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm"
                                       placeholder="{{ 'name' | translate }}" ng-model="filterData.name"
                                       ng-change="search()">
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm"
                                       placeholder="{{ 'key' | translate }}" ng-model="filterData.key"
                                       ng-change="search()">
                            </td>
                            <td>
                                <select class="form-control" ng-change="search()" ng-model="filterData.typeID"
                                        ng-options="each.ID as each.name for each in moduleTypes">
                                    <option value="">Any</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="module in filterModules | offset: (pagination.currentPage-1) * pagination.perPage | limitTo: pagination.perPage">
                            <td>{{ module.ID }}</td>
                            <td>{{ module.name }}</td>
                            <td>{{ module.key }}</td>
                            <td>{{ _.findWhere(moduleTypes, {ID: module.typeID}).name }}</td>
                            <td class="text-right">
                                <a class="edit" href="javascript:;" ng-click="edit(module)">Edit</a>
                                <a class="edit" href="javascript:;" ng-click="keys(module)">Keys</a>
                                <a class="edit" href="javascript:;" ng-confirm-click="remove(module.ID)">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <pagination total-items="filterModules.length" ng-model="pagination.currentPage"
                            items-per-page="pagination.perPage" ng-click="pagination.setPage(pagination.currentPage)"
                            class="pagination-sm" max-size="10" boundary-links="true"></pagination>

                <div class="row">
                    <div class="col-md-12">

                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i> Add module
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form class="form-horizontal" role="form" ng-submit="add()">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.name" type="text" class="form-control"
                                                       placeholder="{{ 'name' | translate }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'key' | translate }}</label>
                                            <div class="col-md-9">
                                                <input ng-model="form.key" type="text" class="form-control"
                                                       placeholder="{{ 'key' | translate }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">{{ 'type' | translate }}</label>
                                            <div class="col-md-9">
                                                <select class="form-control" ng-model="form.typeID"
                                                        ng-options="each.ID as each.name for each in moduleTypes"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>
                                                    {{ 'add' | translate }}
                                                </button>
                                                <button ng-click="resetForm()" type="button" class="btn red-sunglo">{{
                                                    'cancel' | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>