<div class="container" id="news">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="text-muted">{{ 'informations' | translate }}</h2>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Curabitur volutpat luctus sapien, mattis tempor leo pulvinar et. Vivamus pellentesque sodales mauris, eu
                volutpat diam blandit ac. Aliquam erat volutpat. Duis et sapien magna, in vulputate felis. Etiam
                placerat venenatis urna sodales aliquet. Praesent facilisis tortor sed enim commodo interdum.</p>

            <p>Morbi malesuada, metus vitae imperdiet facilisis, lectus ante porttitor neque, nec pharetra nulla est
                vestibulum nisi. Quisque rutrum vulputate dolor, sit amet luctus leo auctor ac. Nullam sit amet erat a
                justo egestas imperdiet. Curabitur euismod dui vitae velit dapibus congue. Vestibulum sed risus eu nisi
                viverra blandit. Phasellus in ante eget diam fermentum sodales.</p>
            <button ui-sref="index-news" class="btn btn-sm btn-default">{{ 'read_more' | translate }}</button>
        </div>
        <div class="col-md-4">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Curabitur volutpat luctus sapien, mattis tempor leo pulvinar et. Vivamus pellentesque sodales mauris, eu
                volutpat diam blandit ac. Aliquam erat volutpat. Duis et sapien magna, in vulputate felis. Etiam
                placerat venenatis urna sodales aliquet. Praesent facilisis tortor sed enim commodo interdum.</p>

            <p>Morbi malesuada, metus vitae imperdiet facilisis, lectus ante porttitor neque, nec pharetra nulla est
                vestibulum nisi. Quisque rutrum vulputate dolor, sit amet luctus leo auctor ac. Nullam sit amet erat a
                justo egestas imperdiet. Curabitur euismod dui vitae velit dapibus congue. Vestibulum sed risus eu nisi
                viverra blandit. Phasellus in ante eget diam fermentum sodales.</p>
            <button ui-sref="index-news" class="btn btn-sm btn-default">{{ 'read_more' | translate }}</button>
        </div>
        <div class="col-md-4">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Curabitur volutpat luctus sapien, mattis tempor leo pulvinar et. Vivamus pellentesque sodales mauris, eu
                volutpat diam blandit ac. Aliquam erat volutpat. Duis et sapien magna, in vulputate felis. Etiam
                placerat venenatis urna sodales aliquet. Praesent facilisis tortor sed enim commodo interdum.</p>

            <p>Morbi malesuada, metus vitae imperdiet facilisis, lectus ante porttitor neque, nec pharetra nulla est
                vestibulum nisi. Quisque rutrum vulputate dolor, sit amet luctus leo auctor ac. Nullam sit amet erat a
                justo egestas imperdiet. Curabitur euismod dui vitae velit dapibus congue. Vestibulum sed risus eu nisi
                viverra blandit. Phasellus in ante eget diam fermentum sodales.</p>
            <button ui-sref="index-news" class="btn btn-sm btn-default">{{ 'read_more' | translate }}</button>
        </div>
    </div>
</div>
