<div class="panel panel-default" id="panel-product-parameters">
    <div class="panel-heading select-product-heading">

        <div class="form-group select-product-form" >
            <div class="input-group-btn select">

                <input ng-change="filterSearchProduct();"
                       ng-click="filterSearchProduct();"
                       autocomplete="off"
                       type="text" ng-model="query.productName" class="form-control dropdown-toggle"
                       data-toggle="dropdown" aria-expanded="false" id="changeProductInput"
                       placeholder="{{currentType.names[currentLang.code]}}"
                       onfocus="this.placeholder = ''"
                       onblur="this.placeholder = currentType.names[currentLang.code]"
                />
                <i ng-click="filterSearchProduct()" class="fa fa-caret-down"
                   data-toggle="dropdown" aria-expanded="false" aria-hidden="true"></i>
                <ul class="dropdown-menu option" role="menu">
                    <li ng-repeat="item in filteredProducts" >
                        <a ng-click="selectType(item)">{{ item.names[currentLang.code] }}</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="panel-body">
        <form ng-submit="calculate(productItem.amount, productItem.volume)" class="form-horizontal">

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">{{ 'order_name' | translate }}</span>
                        <input ng-model="productItem.name" ng-change="changeUserProductName()"
                               type="text" placeholder="{{ 'own_name' | translate }}" class="form-control">
                    </div>
                </div>
            </div>

            <div ng-if="type.changeTechnology && technologies.length > 1" class="form-group">
                <label class="col-md-5 control-label">{{ 'technology' | translate }}</label>
                <div class="col-md-7">
                    <select class="form-control"
                            ng-model="productItem.selectedTechnologyID"
                            ng-options="technology.ID as technology.names[currentLang.code] for technology in technologies"
                            ng-change="selectTechnology()" >
                        <option value="">{{ 'best_price' | translate }}</option>
                    </select>
                </div>
            </div>

            <fieldset ng-repeat="complexProduct in complexProducts">
                <legend ng-if="!complexProduct.names[currentLang.code]">{{ complexProduct.name }}</legend>
                <legend ng-if="complexProduct.names[currentLang.code]">{{ complexProduct.names[currentLang.code].name }}</legend>

                <div class="form-group" ng-if="complexProduct.products.length != 1">
                    <label class="col-md-5 control-label">{{ 'product' | translate }}</label>
                    <div class="col-md-7">
                        <select class="form-control" ng-model="complexProduct.selectedProduct"
                                ng-change="selectComplexProduct(complexProduct, complexProduct.selectedProduct)"
                                ng-options="product as product.langs[currentLang.code].name for product in complexProduct.products"></select>
                    </div>
                </div>

                <div class="form-group" ng-if="!complexProduct.selectedProduct.data.info.noCalculate && complexProduct.selectedProduct.data.relatedFormats.length > 0">
                    <label ng-if="complexProduct.selectedProduct.data.customFormatInfo.customName[currentLang.code]"
                           class="col-md-5 control-label"
                           tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]}}" tooltip-placement="right" >
                        {{complexProduct.selectedProduct.data.customFormatInfo.customName[currentLang.code]}}
                        <i ng-if="complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]" class="fa fa-info-circle" aria-hidden="true"></i>
                    </label>
                    <label ng-if="!complexProduct.selectedProduct.data.customFormatInfo.customName[currentLang.code]"
                           class="col-md-5 control-label"
                           tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]}}" tooltip-placement="right" >
                        {{ 'formats' | translate }}
                        <i ng-if="complexProduct.selectedProduct.data.customFormatInfo.tooltip[currentLang.code]" class="fa fa-info-circle" aria-hidden="true"></i>
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" ng-model="complexProduct.selectedProduct.data.currentFormat"
                                ng-disabled="complexProduct.selectedProduct.data.relatedFormats.length == 1"
                                ng-class="{'one-element-select': complexProduct.selectedProduct.data.relatedFormats.length == 1}"
                                ng-change="selectFormat(complexProduct.selectedProduct.data, complexProduct.selectedProduct.data.currentFormat)"
                                ng-options="item as item.langs[currentLang.code].name for item in complexProduct.selectedProduct.data.relatedFormats"></select>
                    </div>
                </div>

                <!-- custom format width -->
                <div class="form-group" ng-if="!!complexProduct.selectedProduct.data.currentFormat.custom">
                    <label class="col-md-5 control-label">
                        {{ 'width' | translate }} ({{ complexProduct.selectedProduct.data.currentFormat.unit == 2 ? 'cm' : 'mm' }})
                    </label>
                    <div class="col-md-7">
                        <div class="input-group spincontainer">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="spinCustomWidth(complexProduct, 0)" data-dir="dwn">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input class="form-control" ng-if="!complexProduct.selectedProduct.data.currentFormat.maxWidth" ng-model="complexProduct.selectedProduct.data.currentFormat.customWidth" type="text" min="{{ complexProduct.selectedProduct.data.currentFormat.minWidth - complexProduct.selectedProduct.data.currentFormat.slope*2 }}" ng-change="selectCustomFormat(complexProduct)" />
                            <!-- when maxWidth exist -->
                            <input class="form-control" ng-if="complexProduct.selectedProduct.data.currentFormat.maxWidth" ng-model="complexProduct.selectedProduct.data.currentFormat.customWidth" type="text" min="{{ complexProduct.selectedProduct.data.currentFormat.minWidth - complexProduct.selectedProduct.data.currentFormat.slope*2 }}" max="{{ complexProduct.selectedProduct.data.currentFormat.maxWidth - complexProduct.selectedProduct.data.currentFormat.slope*2 }}" ng-change="selectCustomFormat(complexProduct)" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="spinCustomWidth(complexProduct, 1)" data-dir="up">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- custom format height -->
                <div class="form-group" ng-if="!!complexProduct.selectedProduct.data.currentFormat.custom">
                    <label class="col-md-5 control-label">
                        {{ 'height' | translate }} ({{ complexProduct.selectedProduct.data.currentFormat.unit == 2 ? 'cm' : 'mm' }})
                    </label>
                    <div class="col-md-7">
                        <div class="input-group spincontainer">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="spinCustomHeight(complexProduct, 0)" data-dir="dwn">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input class="form-control" ng-if="!complexProduct.selectedProduct.data.currentFormat.maxHeight" ng-model="complexProduct.selectedProduct.data.currentFormat.customHeight" type="text" min="{{ complexProduct.selectedProduct.data.currentFormat.minHeight - complexProduct.selectedProduct.data.currentFormat.slope*2}}" ng-change="selectCustomFormat(complexProduct)" />
                            <!-- when maxHeight exist  -->
                            <input class="form-control" ng-if="complexProduct.selectedProduct.data.currentFormat.maxHeight" ng-model="complexProduct.selectedProduct.data.currentFormat.customHeight" type="text" min="{{ complexProduct.selectedProduct.data.currentFormat.minHeight - complexProduct.selectedProduct.data.currentFormat.slope*2}}" max="{{ complexProduct.selectedProduct.data.currentFormat.maxHeight - complexProduct.selectedProduct.data.currentFormat.slope*2}}" ng-change="selectCustomFormat(complexProduct)" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="spinCustomHeight(complexProduct, 1)" data-dir="up">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Lack of related format -->
                <div ng-if="complexProduct.selectedProduct.data.currentFormat === null" class="alert alert-info">
                    {{ 'no_format_for_product' | translate }}
                </div>

                <!-- pages -->

                <div class="form-group" ng-if="complexProduct.selectedProduct.data.pages.length">
                    <label ng-if="complexProduct.selectedProduct.data.customPageInfo.customName[currentLang.code]"
                           class="col-md-5 control-label"
                           tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]}}" tooltip-placement="right" >
                        {{ complexProduct.selectedProduct.data.customPageInfo.customName[currentLang.code] }}
                        <i ng-if="complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]" class="fa fa-info-circle" aria-hidden="true"></i>
                    </label>
                    <label ng-if="!complexProduct.selectedProduct.data.customPageInfo.customName[currentLang.code]"
                           class="col-md-5 control-label"
                           tooltip-html-unsafe="{{complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]}}" tooltip-placement="right">
                        {{ 'pages' | translate }}
                        <i ng-if="complexProduct.selectedProduct.data.customPageInfo.tooltip[currentLang.code]" class="fa fa-info-circle" aria-hidden="true"></i>
                    </label>
                    <div class="col-md-7">
                        <select class="form-control" ng-if="complexProduct.selectedProduct.data.pages[0].pages"
                                ng-model="complexProduct.selectedProduct.data.currentPages"
                                ng-change="selectPages(complexProduct.selectedProduct.data, complexProduct.selectedProduct.data.currentPages)">
                            <option ng-if="item.pages >= getMinimumThickness(complexProduct.selectedProduct.data) && item.pages <= getMaximumThickness(complexProduct.selectedProduct.data)"
                                    ng-repeat="item in complexProduct.selectedProduct.data.pages" value="{{item.pages}}">
                                {{ item.pages }}
                            </option>
                        </select>
                        <div class="input-group spincontainer" ng-if="!!complexProduct.selectedProduct.data.pages[0].minPages">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="spinPage(complexProduct, 0)" data-dir="dwn">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" min="{{getMinimumThickness(complexProduct.selectedProduct.data)}}" data-old-min="complexProduct.selectedProduct.data.pages[0].minPages}}" max="{{getMaximumThickness(complexProduct.selectedProduct.data)}}" step="{{complexProduct.selectedProduct.data.pages[0].step}}" ng-model="complexProduct.selectedProduct.data.currentPages" ng-change="selectPages(complexProduct.selectedProduct.data, complexProduct.selectedProduct.data.currentPages)">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="spinPage(complexProduct, 1)" data-dir="up">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-repeat="attribute in complexProduct.selectedProduct.data.attributes" ng-if="!!complexProduct.selectedProduct.data.currentFormat && !!countAttrNotExcludedOptions(complexProduct.selectedProduct.data, attribute) && (attribute.filteredOptions[0].invisible != 1 || attribute.filteredOptions.length > 1) ">

                    <label tooltip-html-unsafe="{{attribute.tooltip[currentLang.code]}}" tooltip-placement="right" class="col-md-5 control-label">
                        <span ng-if="attribute.names[currentLang.code].name">{{ ::attribute.names[currentLang.code].name }}</span>
                        <span ng-if="!attribute.names[currentLang.code].name">{{ ::attribute.attrName }}</span>
                        <i ng-if="attribute.tooltip[currentLang.code]" class="fa fa-info-circle" aria-hidden="true"></i>
                    </label>

                    <div class="col-md-12" ng-if="attribute.selectByPicture == 1">

                        <ul class="select-by-picture list-group row">
                            <li ng-repeat="item in attribute.filteredOptions"
                                ng-if="!(attribute.minPages !== null && attribute.filteredOptions.length <= 1)"
                                ng-click="selectOptionImage(complexProduct.selectedProduct.data, item, attribute)"
                                class="col-md-4 col-xs-4" >
                                <div ng-class="{'list-group-item-info': complexProduct.selectedProduct.data.selectedOptions[attribute.attrID] == item.ID}"
                                     class="list-group-item">
                                    <span data-target="#showOptionPicture" ng-click="setOptionPicture($event, item);"
                                          data-toggle="modal" ng-if="item.iconID" class="text-danger open-picture fa fa-eye"></span>
                                    <img loading="lazy" class="img-responsive" ng-src="{{item.icon.minUrl}}" alt="" />
                                    <span ng-if="item.names[currentLang.code].name.length <= 35"
                                          class="text-center max-lines">{{ item.names[currentLang.code].name }}</span>
                                    <span ng-if="item.names[currentLang.code].name.length > 35"
                                          tooltip="{{item.names[currentLang.code].name}}" tooltip-placement="bottom"
                                          class="text-center max-lines">{{ item.names[currentLang.code].name }}</span>
                                </div>
                            </li>
                        </ul>

                        <div id="showOptionPicture" class="modal calcModal" tabindex="-1" role="dialog" aria-labelledby="showOptionPicture"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body modalImage">
                                        <button class="btn btn-danger closeButton" data-dismiss="modal">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                        <img loading="lazy" alt="" class="center-block img-responsive" ng-src="{{optionPicture.url}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-7">

                        <div ng-if="attribute.selectByPicture == 0">
                            <select id="select-attribute-{{ attribute.attrID }}"
                                    ng-if="!(attribute.minPages !== null && attribute.filteredOptions.length <= 1)"
                                    ng-class="{'one-element-select': attribute.filteredOptions.length == 1}"
                                    ng-disabled="attribute.filteredOptions.length == 1"
                                    ng-model="complexProduct.selectedProduct.data.selectedOptions[attribute.attrID]"
                                    ng-change="selectOption(complexProduct.selectedProduct.data, attribute.attrID)"
                                    ng-options="item.ID as item.names[currentLang.code].name for item in attribute.filteredOptions" class="form-control">
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="input-group spincontainer" ng-show="!checkEmptyChoice(complexProduct, attribute.attrID);" ng-if="attribute.minPages !== null && attribute.step !== null">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="releaseSpinner(complexProduct, attribute.attrID, 0)" data-dir="dwn">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" min="{{ attribute.minPages }}" max="{{ attribute.maxPages }}" ng-model="complexProduct.selectedProduct.data.attrPages[attribute.attrID]" ng-change="selectAttrPages(complexProduct, attribute.attrID)">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="releaseSpinner(complexProduct, attribute.attrID, 1)" data-dir="up">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="attribute.filteredOptions.length == 1 && attribute.filteredOptions[0].invisible == 1">
                    <input type="hidden" ng-model="complexProduct.selectedProduct.data.selectedOptions[attribute.attrID]" ng-value="attribute.filteredOptions[0].ID" />
                </div>
            </fieldset>

            <div class="calc-separator"></div>

            <div class="form-group">
                <label class="col-md-5 control-label">{{ 'volume' | translate }}</label>
                <div class="col-md-7">
                    <select class="form-control" ng-model="productItem.volume"
                            ng-change="changeVolume()"
                            ng-disabled="volumes.length === 1"
                            ng-class="{'one-element-select': volumes.length === 1}"
                            ng-options="item.volume as ( item.volume) for item in volumes  | orderBy:'volume' "></select>
                </div>
            </div>
            <div class="form-group" ng-hide="hideAmount">
                <label class="col-md-5 control-label">{{ 'number_of_sets' | translate }}</label>
                <div class="col-md-7">
                    <input ng-change="changeAmount()" ng-model="productItem.amount" ng-init="productItem.amount = 1" type="number" min="1" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label">{{ 'realizationTime' | translate }}</label>
                <div class="col-md-7">
                    <select ng-model="productItem.realisationTime"
                            ng-disabled="realisationTimes.length === 1"
                            ng-class="{'one-element-select': realisationTimes.length === 1}"
                            ng-change="changeRealisationTime()"
                            ng-options="rt.ID as rt.names[currentLang.code] for rt in realisationTimes  | orderBy:'order' | filter:filterRealisationTime"
                            class="form-control"></select>
                </div>
            </div>

            <div ng-if="type.turnOnNumberOfSets === 1" class="form-group">
                <label class="col-md-5 control-label">
                    {{ 'number_of_patterns' | translate }}
                </label>
                <div class="col-md-7">

                    <div class="input-group spincontainer">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="spinCustomAmount(0)" data-dir="dwn">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>

                        <input ng-model="productItem.amount"
                                min="1"
                                ng-change="changeAmount()"
                               type="text"
                                class="form-control" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="spinCustomAmount(1)" data-dir="up">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group" ng-if="taxes.length > 0">
                <label class="col-md-5 control-label">{{ 'select_tax' | translate }}</label>
                <div class="col-md-7">
                    <select ng-model="productItem.taxID" ng-options="tax.ID as tax.name for tax in taxes" ng-change="changeTax()" required class="form-control">
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
